Repository ems-project/elasticms, pull requests merged in 2022-12, with the labels that each got.

#150 fix: json syntax error with empty string
  EMS/common-bundle/src/Service/ElasticaService.php
Labels: EMSCommonBundle

#152 feat: audit description
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/ExpressionLanguage/Functions.php
  elasticms-cli/src/Helper/TikaClient.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaClientTest.php.old
Labels: elasticms-cli

#163 feat: audit referer label
  EMS/client-helper-bundle/src/Command/HealthCheckCommand.php
  EMS/client-helper-bundle/src/Controller/SearchController.php
  EMS/common-bundle/src/Common/Command/AbstractCommand.php
  EMS/core-bundle/src/Service/FileService.php
  EMS/core-bundle/src/Service/QueryServiceInterface.php
  EMS/form-bundle/src/Components/ValueObject/RrNumber.php
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/src/Helper/HtmlHelper.php
  elasticms-cli/tests/WebToElasticms/Helper/UrlTest.php
Labels: elasticms-cli

#165 fix: options can be null
  EMS/core-bundle/src/Entity/FieldType.php
Labels: EMSCoreBundle

#166 fix: label key might be an integer
  EMS/client-helper-bundle/src/Helper/Local/LocalHelper.php
  EMS/client-helper-bundle/src/Helper/Translation/TranslationDocument.php
Labels: EMSClientHelperBundle

#170 feat: new copywriter role
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
  EMS/core-bundle/src/Roles.php
  EMS/core-bundle/tests/Integration/App/config/security.yaml
  elasticms-admin/config/packages/security.yaml
Labels: elasticms-admin

#171 chore: documentation repositories
  EMS/client-helper-bundle/README.md
  EMS/common-bundle/README.md
  EMS/core-bundle/README.md
  EMS/form-bundle/README.md
  EMS/helpers/README.md
  EMS/submission-bundle/README.md
  EMS/xliff/README.md
  README.md
  elasticms-admin/README.md
  elasticms-cli/README.md
  elasticms-web/README.md
Labels: documentation, submission-bundle, common-bundle, form-bundle, client-helper-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle

#172 build: enable splitter for demo
  .github/subtree-splitter-config.json
Labels: demo

#174 fix: json_decode can't get null and empty string value
  EMS/core-bundle/src/Form/DataTransformer/ChannelOptionsTransformer.php
  EMS/core-bundle/src/Service/Channel/ChannelRegistrar.php
Labels: bug, core-bundle

#175 fix: not defined icon
  EMS/core-bundle/src/Entity/SortOption.php
Labels: core-bundle

#177 chore: add CODEOWNERS file
  .github/CODEOWNERS
  .github/autolabeler.yml
Labels: github

#176 chore: no pull requests for demo (readonly)
  demo/.github/workflows/no_pull_request.yml
  demo/README.md
Labels: documentation, demo

#184 feat: get version command
  EMS/common-bundle/src/Command/Info/VersionCommand.php
  EMS/common-bundle/src/Resources/config/commands.xml
Labels: common-bundle

#183 refactor: json
  EMS/client-helper-bundle/src/Controller/SpreadsheetController.php
  EMS/client-helper-bundle/src/Helper/Local/VersionLockFile.php
  EMS/client-helper-bundle/src/Helper/Routing/Route.php
  EMS/client-helper-bundle/src/Helper/Routing/RoutingDocument.php
  EMS/client-helper-bundle/src/Helper/Routing/RoutingFile.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateDocument.php
  EMS/common-bundle/src/Command/Admin/CreateCommand.php
  EMS/common-bundle/src/Command/Admin/JobCommand.php
  EMS/common-bundle/src/Command/Admin/UpdateCommand.php
  EMS/common-bundle/src/Command/Document/DownloadCommand.php
  EMS/common-bundle/src/Command/Document/UpdateCommand.php
  EMS/common-bundle/src/Common/Admin/ConfigHelper.php
  EMS/common-bundle/src/Common/Composer/ComposerInfo.php
  EMS/common-bundle/src/Common/CoreApi/Result.php
  EMS/common-bundle/src/Common/Standard/Hash.php
  EMS/common-bundle/src/Common/Standard/Json.php
  EMS/common-bundle/src/Elasticsearch/ElasticaLogger.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/tests/Unit/Common/Standard/JsonTest.php
  EMS/core-bundle/src/Command/Release/CreateReleaseCommand.php
  EMS/core-bundle/src/Command/Revision/CopyCommand.php
  EMS/core-bundle/src/Command/Revision/TaskCreateCommand.php
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/core-bundle/src/Controller/Api/Form/SubmissionController.php
  EMS/core-bundle/src/Controller/Api/Search/SearchController.php
  EMS/core-bundle/src/Controller/ContentManagement/PublishController.php
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Controller/Revision/JsonMenuNestedController.php
  EMS/core-bundle/src/Controller/Revision/TaskController.php
  EMS/core-bundle/src/Controller/UploadedFileWysiwygController.php
  EMS/core-bundle/src/Core/ContentType/Transformer/AbstractTransformer.php
  EMS/core-bundle/src/Core/ContentType/Transformer/ContentTransformer.php
  EMS/core-bundle/src/Core/DataTable/TableRenderer.php
  EMS/core-bundle/src/Core/Revision/Json/JsonMenuNestedDefinition.php
  EMS/core-bundle/src/Core/Revision/Json/JsonMenuRenderer.php
  EMS/core-bundle/src/Core/Revision/Search/RevisionSearcher.php
  EMS/core-bundle/src/Core/Revision/Wysiwyg/WysiwygRuntime.php
  EMS/core-bundle/src/Entity/Helper/JsonClass.php
  EMS/core-bundle/src/Form/DataTransformer/QuerySearchOptionsTransformer.php
  EMS/core-bundle/src/Helper/AssetExtractor/ExtractedData.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/QuerySearchService.php
  EMS/core-bundle/src/Twig/I18nRuntime.php
  EMS/form-bundle/src/FormConfig/FormConfigFactory.php
  EMS/form-bundle/src/Service/Endpoint/EndpointManager.php
  EMS/helpers/src/Standard/Json.php
  EMS/helpers/tests/Unit/Standard/JsonTest.php
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Document/Update/DocumentUpdateConfig.php
  elasticms-cli/src/Client/Document/Update/DocumentUpdater.php
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Client/WebToElasticms/Extract/Extractor.php
  elasticms-cli/src/Client/WebToElasticms/Update/UpdateManager.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/src/Command/Web/MigrationCommand.php
  elasticms-cli/src/ExpressionLanguage/Functions.php
  elasticms-cli/tests/ExpressionLanguage/FunctionsTest.php
Labels: common-bundle, client-helper-bundle, core-bundle

#182 chore: moved to doc project
  demo/documentation/exportAsWord.md
Labels: documentation, demo

#180 feat: already connected
  EMS/common-bundle/src/Command/Admin/LoginCommand.php
  EMS/common-bundle/src/Common/Admin/AdminHelper.php
  docker/docker-compose.yml
Labels: common-bundle

#187 feat: elk8
  EMS/core-bundle/src/Resources/views/elasticsearch/status.html.twig
  demo/.env
  demo/README.md
  demo/docker-compose.yml
  demo/docker-elk7.yml
  demo/docker-elk8.yml
Labels: documentation, core-bundle, demo

#185 feat: tasks version
  EMS/core-bundle/src/Command/Revision/TaskCreateCommand.php
  EMS/core-bundle/src/Controller/Revision/TaskController.php
  EMS/core-bundle/src/Core/ContentType/ContentTypeRoles.php
  EMS/core-bundle/src/Core/ContentType/ContentTypeSettings.php
  EMS/core-bundle/src/Core/Revision/Task/Table/TaskTableFilters.php
  EMS/core-bundle/src/Core/Revision/Task/Table/TaskTableService.php
  EMS/core-bundle/src/Core/Revision/Task/TaskEvent.php
  EMS/core-bundle/src/Core/Revision/Task/TaskEventSubscriber.php
  EMS/core-bundle/src/Core/Revision/Task/TaskManager.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Entity/RevisionTaskTrait.php
  EMS/core-bundle/src/Entity/Task.php
  EMS/core-bundle/src/Form/DataField/VersionTagFieldType.php
  EMS/core-bundle/src/Form/Form/ContentTypeRolesType.php
  EMS/core-bundle/src/Form/Form/ContentTypeSettingsType.php
  EMS/core-bundle/src/Form/Form/ContentTypeType.php
  EMS/core-bundle/src/Form/Revision/Task/RevisionTaskFiltersType.php
  EMS/core-bundle/src/Repository/TaskRepository.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20221219150621.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20221219144622.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/config/routing/task.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/config/twig.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-twigs.en.yml
  EMS/core-bundle/src/Resources/views/contenttype/edit.html.twig
  EMS/core-bundle/src/Resources/views/data/revisions-data.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  EMS/core-bundle/src/Resources/views/revision/task/ajax.twig
  EMS/core-bundle/src/Resources/views/revision/task/columns.twig
  EMS/core-bundle/src/Resources/views/revision/task/dashboard.html.twig
  EMS/core-bundle/src/Resources/views/revision/task/mail.twig
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/core-bundle/src/Twig/ContentTypeRuntime.php
Labels: core-bundle

#189 fix: int translation's key => string
  EMS/client-helper-bundle/src/Helper/Translation/TranslationDocument.php
Labels: client-helper-bundle

#190 chore: composer validation
  EMS/core-bundle/src/Core/Environment/EnvironmentsRevision.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Service/EnvironmentService.php
  composer.json
  composer.lock
  elasticms-admin/composer.json
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-web/composer.json
Labels: elasticms-admin, elasticms-web, elasticms-cli, core-bundle

#192 feat: opensearch 2
  demo/.env
  demo/README.md
  demo/docker-compose.yml
  demo/docker-elk7.yml
  demo/docker-elk8.yml
  demo/docker-os2.yml
Labels: documentation, demo

#195 feat: left menu create job link
  EMS/core-bundle/src/Controller/TwigElementsController.php
  EMS/core-bundle/src/Resources/translations/emsco-twigs.en.yml
Labels: core-bundle

#196 fix: noinit options
  EMS/core-bundle/src/Entity/View.php
  demo/docker-elasticms.yml
Labels: core-bundle, demo

#193 fix: debug demo's overviews
  demo/ems.sh
  demo/skeleton/template/admin/view/overview.twig
Labels: documentation, demo

#197 fix: cache missed or hit in the emsco flashbag
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequest.php
Labels: client-helper-bundle

#199 fix: double ems.command.admin.get
  EMS/common-bundle/src/Resources/config/commands.xml
Labels: common-bundle

#206 feat: schema rename script
  docker/pg_drop.sh
  docker/pg_dump.sh
  docker/pg_init.sh
  docker/pg_load.sh
  docker/pg_rename_schema.sh
Labels: docker

#207 fix(web-audit): not parsable url during web audit
  elasticms-cli/.gitignore
  elasticms-cli/package-lock.json
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Client/Audit/Report.php
  elasticms-cli/src/Client/WebToElasticms/Helper/NotParsableUrlException.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/src/Helper/HtmlHelper.php
Labels: elasticms-cli

#210 feat: audit with htpassword
  elasticms-cli/.gitignore
  elasticms-cli/composer.json
  elasticms-cli/composer.lock
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/tests/WebToElasticms/Helper/UrlTest.php
Labels: elasticms-cli

#211 fix(admin/job): returns 500 exception
  EMS/common-bundle/src/Command/Admin/JobCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/src/Resources/config/services.xml
Labels: common-bundle, core-bundle

#208 fix(tasks): planned ids array_values
  EMS/core-bundle/src/Entity/RevisionTaskTrait.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20221222131342.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20221222130227.php
Labels: core-bundle

#212 fix(api/admin): logging
  EMS/common-bundle/src/Command/Admin/BackupCommand.php
  EMS/common-bundle/src/Command/Admin/CreateCommand.php
  EMS/common-bundle/src/Command/Admin/DeleteCommand.php
  EMS/common-bundle/src/Command/Admin/GetCommand.php
  EMS/common-bundle/src/Command/Admin/JobCommand.php
  EMS/common-bundle/src/Command/Admin/LoginCommand.php
  EMS/common-bundle/src/Command/Admin/UpdateCommand.php
  EMS/common-bundle/src/Command/Document/DownloadCommand.php
  EMS/common-bundle/src/Command/Document/UpdateCommand.php
  EMS/common-bundle/src/Common/Admin/AdminHelper.php
Labels: common-bundle

#215 refactor: docker from demo
  demo/.editorconfig
  demo/docker-elk7.yml
  docker/.env
  docker/docker-compose.yml
Labels: demo

#213 feat: webalize file name in order to avoid upper chars in assets url
  EMS/common-bundle/src/Twig/AssetRuntime.php
Labels: common-bundle

#214 feat: export only configs or only documents in backup command
  EMS/common-bundle/src/Command/Admin/BackupCommand.php
Labels: common-bundle

#217 feat(demo): npx script
  demo/npx.sh
  demo/package-lock.json
Labels: demo

#218 feat(demo): create minio demo's bucket at docker compose up
  demo/README.md
  demo/docker-compose.yml
Labels: documentation, demo

#219 fix: ems:contenttype:export walkRecursive
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#220 fix: target path redirect not working
  EMS/core-bundle/src/EventListener/AccessDeniedListener.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/views/user/login.html.twig
Labels: core-bundle

#223 fix(unpublish): count all environments (include default)
  EMS/core-bundle/src/Service/PublishService.php
Labels: core-bundle

#222 fix(content-type): remove error on creation
  EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
Labels: core-bundle

#224 fix(environment): 500 error legacy search not granted publication
  EMS/core-bundle/src/Form/Form/SearchFormType.php
Labels: core-bundle

#227 fix: catch json_decode error
  EMS/common-bundle/src/Storage/Processor/Processor.php
Labels: common-bundle

#198 ci(release): improve code and changeLog command
  .php-cs-fixer.dist.php
  CHANGELOG-4.x.md
  phpstan.neon.dist
  release/Command/AbstractGithubCommand.php
  release/Command/ComposerUpdate.php
  release/Command/GitHubBranchesCommand.php
  release/Command/GithubChangeLogCommand.php
  release/Command/GithubReleaseApplications.php
  release/Command/GithubReleaseCommand.php
  release/Command/GithubReleaseDocker.php
  release/Command/GithubReleasePackages.php
  release/Command/InfoCommand.php
  release/Command/PackagistInfo.php
  release/Config.php
  release/ReleaseApplication.php
  release/run
Labels: documentation

#229 refactor(controller): remove argument for setContainer
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Resources/config/metric.xml
  EMS/common-bundle/src/Resources/config/storage.xml
  EMS/core-bundle/src/Resources/config/controllers.xml
Labels: common-bundle, client-helper-bundle, core-bundle

#228 build(release): add changelog 5.x
  CHANGELOG-5.x.md
  release/Command/GithubChangeLogCommand.php
Labels: documentation
