Repository ems-project/elasticms, pull requests merged in 2023-12, with the labels that each got.

#667 test(common): support by AI (2)
  EMS/common-bundle/tests/Unit/Controller/FileControllerAiTest.php
  EMS/common-bundle/tests/Unit/Controller/MetricControllerAiTest.php
  EMS/common-bundle/tests/Unit/Controller/ProbeControllerAiTest.php
  EMS/common-bundle/tests/Unit/Controller/fixtures/image.png
  EMS/common-bundle/tests/Unit/DataCollector/ElasticaDataCollectorAiTest.php
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  EMS/common-bundle/tests/Unit/DependencyInjection/EMSCommonExtensionAiTest.php
  EMS/common-bundle/tests/Unit/DependencyInjection/EnvVarProcessor/UrlEncodeEnvVarProcessorAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/Aggregation/AggregationAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/Aggregation/BucketAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/Aggregation/ElasticaAggregationAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/ElasticaFactoryAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/ElasticaLoggerAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/Exception/NotFoundExceptionAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/Exception/NotSingleResultExceptionAiTest.php
  EMS/common-bundle/tests/Unit/Elasticsearch/MappingAiTest.php
  EMS/common-bundle/tests/Unit/Entity/AssetStorageAiTest.php
  EMS/common-bundle/tests/Unit/Entity/CreatedModifiedTraitAiTest.php
  EMS/common-bundle/tests/Unit/Entity/LogAiTest.php
  EMS/common-bundle/tests/Unit/Entity/StoreDataAiTest.php
  EMS/common-bundle/tests/Unit/Exception/DateTimeCreationExceptionAiTest.php
  EMS/common-bundle/tests/Unit/Helper/CacheAiTest.php
  EMS/common-bundle/tests/Unit/Helper/EmsFieldsAiTest.php
  EMS/common-bundle/tests/Unit/Helper/Text/EncoderAiTest.php
  EMS/common-bundle/tests/Unit/Json/JsonMenuAiTest.php
  EMS/common-bundle/tests/Unit/Json/JsonMenuNestedAiTest.php
  EMS/common-bundle/tests/Unit/Json/JsonMenuNestedExceptionAiTest.php
  phpunit.xml.dist
Labels: common-bundle

#669 fix(emsch/search): query_search apply filters
  EMS/client-helper-bundle/src/Helper/Search/QueryBuilder.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
Labels: client-helper-bundle

#670 fix(core/repository): fieldType repository is service entity
  EMS/core-bundle/src/Entity/FieldType.php
Labels: core-bundle

#673 fix: avoid to fetch media extracted data (_content, _author, ...)
  demo/skeleton/routes.yaml
Labels: demo

#674 fix(choices field): linked collection values are filtered out during reverse view transform
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
Labels: core-bundle

#675 fix(common): export/import documents
  EMS/common-bundle/src/Elasticsearch/Document/Document.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: common-bundle, core-bundle

#678 feat(core/wysiwyg): default target _blank
  EMS/core-bundle/assets/cke-plugins/adv_link/dialogs/link.js
  EMS/core-bundle/src/Resources/public/js/cke-plugins/adv_link/dialogs/link.js
  EMS/core-bundle/src/Resources/public/manifest.json
  docs/elasticms-admin/wysiwyg/wysiwyg.md
Labels: documentation, core-bundle

#677 refactor(submission): Using empty file as ZipArchive is deprecated
  EMS/submission-bundle/src/Handler/ZipHandler.php
  EMS/submission-bundle/tests/Functional/Handler/Chained/PdfZipSftpHandlersTest.php
Labels: submission-bundle

#676 fix(release): assets folders should excluded in packagist (to be tested)
  EMS/admin-ui-bundle/.gitattributes
  EMS/admin-ui-bundle/.gitignore
  EMS/core-bundle/.gitattributes
  EMS/core-bundle/.gitignore
Labels: core-bundle, admin-ui-bundle

#679 fix(core/jmn): jmn refresh after change
  EMS/core-bundle/src/Core/Component/JsonMenuNested/JsonMenuNestedService.php
  EMS/core-bundle/src/Resources/config/core.xml
Labels: core-bundle

#681 feat(common/es): log error request/response
  EMS/common-bundle/src/DataCollector/ElasticaDataCollector.php
  EMS/common-bundle/src/Elasticsearch/Client.php
  EMS/common-bundle/src/Elasticsearch/ElasticaLogger.php
  EMS/common-bundle/src/Resources/views/DataCollector/elastica.html.twig
  EMS/common-bundle/tests/Unit/Elasticsearch/ElasticaLoggerAiTest.php
Labels: common-bundle

#684 refactor(core): getUsername -> getUserIdentifier deprecated
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
Labels: core-bundle

#682 refactor(form): missing types in form validators
  EMS/form-bundle/src/Components/Constraint/IsBirthDateValidator.php
  EMS/form-bundle/src/Components/Constraint/IsEmailMultipleValidator.php
  EMS/form-bundle/src/Components/Constraint/IsExpressionValidator.php
  EMS/form-bundle/src/Components/Constraint/IsInternationalPhoneNumberValidator.php
  EMS/form-bundle/src/Components/Constraint/IsRequiredIfValidator.php
  EMS/form-bundle/src/Components/Constraint/IsVerificationCodeValidator.php
Labels: form-bundle

#686 fix(clientHelper): http exception message and code can not be null
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
Labels: client-helper-bundle

#687 refactor(admin): UrlEncodeEnvVarProcessor return type
  elasticms-admin/src/DependencyInjection/EnvVarProcessor/UrlEncodeEnvVarProcessor.php
Labels: elasticms-admin

#688 fix(emsch/search): 'query_string' search escape query
  EMS/client-helper-bundle/src/Helper/Search/Search.php
  EMS/common-bundle/src/Elasticsearch/QueryStringEscaper.php
  EMS/common-bundle/tests/Unit/Elasticsearch/QueryStringEscaperTest.php
Labels: common-bundle, client-helper-bundle

#683 refactor: flashbag service deprecated (6.x)
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/Form/Submission/FormSubmissionService.php
Labels: core-bundle

#685 refactor: LogRecord (6x)
  EMS/common-bundle/src/Common/Log/DoctrineHandler.php
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
Labels: common-bundle, core-bundle

#692 fix(core/extract): new tika content limit for admin
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/extract-data-file.json.twig
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Helper/AssetExtractor/ExtractedData.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/views/ajax/extract-data-file.json.twig
  EMS/core-bundle/src/Service/AssetExtractorService.php
  elasticms-admin/config/packages/ems_core.yaml
Labels: elasticms-admin, core-bundle, admin-ui-bundle

#693 fix(core): deprecation migration event subscriber
  EMS/common-bundle/src/EventListener/DoctrineMigrationListener.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/config/services.xml
Labels: common-bundle, core-bundle

#695 fix(core/doctrine): invalid entities bigint, decimal returns string
  EMS/core-bundle/src/Entity/Form/Search.php
Labels: core-bundle

#696 fix(core/doctrine): doctrine col type 'array' to 'json'
  EMS/core-bundle/src/Entity/UploadedAsset.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20231210131505.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20231210103056.php
Labels: core-bundle

#698 fix(cli): doctrine mapping from annotation to xml
  composer.json
  elasticms-cli/composer.json
  elasticms-cli/config/packages/doctrine.yaml
Labels: elasticms-cli

#699 fix(symfony/6.4): client routing and common elasticsearch
  EMS/client-helper-bundle/src/Helper/Routing/Route.php
  EMS/common-bundle/src/Elasticsearch/Response/Response.php
  EMS/common-bundle/src/Service/ElasticaService.php
Labels: common-bundle, client-helper-bundle

#700 fix(symfony/6.4): throw UserNotFoundException if ldap server (dn == '') is not defined
  EMS/core-bundle/src/Security/Ldap/LdapUserProvider.php
Labels: core-bundle

#702 fix(symfony/6.4): update composer dependencies
  demo/.env
  elasticms-admin/composer.json
  elasticms-web/composer.json
Labels: client-helper-bundle, elasticms-admin, elasticms-web, demo, github, admin-ui-bundle

#697 chore: improve makeFile setup
  Makefile
  demo/.env
  demo/Makefile
  demo/README.md
  demo/ems.sh
  demo/npm.sh
  demo/npx.sh
  demo/pg_dump.sh
  demo/update-local-configs.sh
  docker/pg_drop.sh
  docker/pg_dump.sh
  docker/pg_init.sh
  docker/pg_load.sh
  docker/pg_rename_schema.sh
  docs/getting-started/dev-env.md
  elasticms-admin/.env.local.dist
  elasticms-admin/Makefile
  elasticms-admin/setenv.gen.sh
  elasticms-web/.env.local.dist
  elasticms-web/Makefile
Labels: documentation, elasticms-admin, elasticms-web, demo

#703 fix(symfony/6.4): log_message formatted column can not be null
  EMS/common-bundle/src/Common/Log/DoctrineHandler.php
Labels: common-bundle

#704 fix(symfony/6.4): fix admin deprecations framework, security and twig
  EMS/core-bundle/tests/Unit/Twig/I18nRuntimeTest.php
  elasticms-admin/config/packages/framework.yaml
  elasticms-admin/config/packages/security.yaml
  elasticms-admin/config/packages/twig.yaml
  elasticms-admin/config/packages/twig_component.yaml
  elasticms-admin/config/routes/attributes.yaml
Labels: elasticms-admin, core-bundle

#706 chore(6.x): enable monorepo splitter for 6.x branch
  .github/workflows/splitter.yml
Labels: github

#705 fix(symfony/6.4): composer requirement aligned
  EMS/admin-ui-bundle/composer.json
  EMS/client-helper-bundle/composer.json
  EMS/common-bundle/composer.json
  EMS/core-bundle/composer.json
  EMS/form-bundle/composer.json
  EMS/helpers/composer.json
  EMS/submission-bundle/composer.json
  EMS/xliff/composer.json
  composer.json
  composer.lock
  elasticms-admin/composer.json
  elasticms-cli/composer.json
  elasticms-web/composer.json
  symfony.lock
Labels: submission-bundle, common-bundle, form-bundle, client-helper-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle, helpers, xliff, admin-ui-bundle

#707 fix(symfony/6.4): deprecations web/admin & cli
  elasticms-admin/config/packages/doctrine.yaml
  elasticms-admin/config/packages/framework.yaml
  elasticms-admin/config/packages/twig.yaml
  elasticms-cli/config/packages/doctrine.yaml
  elasticms-cli/config/packages/framework.yaml
  elasticms-web/config/packages/doctrine.yaml
  elasticms-web/config/packages/framework.yaml
  elasticms-web/config/packages/security.yaml
Labels: elasticms-admin, elasticms-web, elasticms-cli
