Repository ems-project/elasticms, pull requests merged in 2023-03, with the labels that each got.

#358 fix: default data in emco_form
  EMS/core-bundle/src/Twig/FormRuntime.php
Labels: core-bundle

#359 fix: not init Notification datetimes
  EMS/core-bundle/src/Entity/Notification.php
Labels: core-bundle

#360 fix: better template errors
  EMS/client-helper-bundle/src/Helper/Elasticsearch/Settings.php
Labels: client-helper-bundle

#361 fix: solve a circular ref in form JSON export
  EMS/core-bundle/src/Entity/FieldType.php
Labels: core-bundle

#362 feat(emsch/routing): search one and http exceptions
  EMS/client-helper-bundle/src/Controller/RouterController.php
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
Labels: client-helper-bundle

#365 fix(emsco/choice): multiple keyword index error
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
Labels: core-bundle

#367 fix(emsco/json-menu-nested): link unique array_diff error
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
  demo/configs/elasticms-admin/.gitignore
Labels: core-bundle, demo

#366 fix(emsco/recompute): set finalization fields
  EMS/core-bundle/src/Command/RecomputeCommand.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#369 refactor(emsco/recompute): migrate a notification to latest revision
  EMS/core-bundle/src/Command/RecomputeCommand.php
  EMS/core-bundle/src/Entity/Notification.php
Labels: core-bundle, demo

#373 feat: new command mediaFile Sync
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
  elasticms-cli/src/Commands.php
Labels: elasticms-cli

#375 fix: emsf configs
  elasticms-web/config/packages/ems_form.yaml
Labels: elasticms-web

#377 fix(emsf): align configs web/admin
  elasticms-admin/config/packages/ems_form.yaml
Labels: elasticms-admin

#378 fix(ems): spreadsheet csv separtor config
  EMS/common-bundle/src/Common/SpreadsheetGeneratorService.php
  EMS/common-bundle/src/Contracts/SpreadsheetGeneratorServiceInterface.php
Labels: common-bundle

#383 fix(emsco): recompute deep (revert #366)
  EMS/core-bundle/src/Command/RecomputeCommand.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Service/Revision/PostProcessingService.php
Labels: core-bundle

#385 feat(demo): component templates
  demo/configs/admin/assets/490x300.webp
  demo/configs/admin/content-type/page.json
  demo/configs/document/route/12c0b7842e4e3d121079b7d7013bc730cf5aeb26.json
  demo/configs/document/route/1cccea91cb724e95c5174b8ef00a206d8301e08b.json
  demo/configs/document/route/214556b8a5c1b0c5fab8eea2a693dab45afb45e8.json
  demo/configs/document/route/35e4735a4a45209f2523a8c9dbe80d1747438873.json
  demo/configs/document/route/40474189add8d2d3d9ddb89d2823f98315e70b30.json
  demo/configs/document/route/523e37f782b8a8db645105bdc030281ab30a4a9b.json
  demo/configs/document/route/5e053b3ed3aa697a9c95edaa0488222c3a376e69.json
  demo/configs/document/route/6054776033f9a98a4d6c59b1e04db3b169456845.json
  demo/configs/document/route/68033c7a8e55b55f3ecc5ed2307978f857b3b305.json
  demo/configs/document/route/8057f4594e593fceb38e2bd172642a2fd6c93855.json
  demo/configs/document/route/ae66c70f932534f2ee76dc0fbabd814f89d6840f.json
  demo/configs/document/route/b2187548ac61654bce1d5d75669cf67bea703473.json
  demo/configs/document/route/bd5ecc33621851d1e44dc5ee71f6da92ae0d2573.json
  demo/configs/document/route/cd1ac12fbf2b37d570b1ebdd7b1d1d8e008653c1.json
  demo/configs/document/route/d3e6c53d6aeec025109c1c8bdfa2f4b2c0bdfaa3.json
  demo/configs/document/route/d3f179dc99f84fbf482372fb5ffb95fbe28bd407.json
  demo/configs/document/route/dacabb5e3a9ceb3ef85110d8f31c45246714ec02.json
  demo/configs/document/route/db0650748745cbd4782a009d2b6f9bb2a713a100.json
  demo/configs/document/route/e404a0c944b17f178e40b3f61d46484b9a0e36b4.json
  demo/configs/document/route/e7a50e2d9275e79947d2f43deae8705db680df92.json
  demo/configs/document/template/64ffc1d6356fa1323cc2d7f715006ea0cc7fe302.json
  demo/configs/document/template_ems/1e60592226084be98eb5ccfc350475c17d9a88a1.json
  demo/configs/document/template_ems/5f1ac205931f282569569d8c1ed1fce3116736f6.json
  demo/configs/document/template_ems/eb11dbeda3bd72644f9d1daaf74c4d61a5630ed4.json
  demo/docker-compose.yml
  demo/skeleton/routes.yaml
  demo/skeleton/template/page/blocks/main-banner.html.twig
  demo/skeleton/template_ems/channel/page-component-preview-loader.html.twig
  demo/skeleton/template_ems/channel/page-component-preview.html.twig
  demo/skeleton/template_ems/view/page-preview-template.twig
Labels: demo

#387 feat(demo): styleset preview configured
  demo/configs/admin/assets/bundle.zip
  demo/configs/admin/content-type/page.json
  demo/configs/admin/wysiwyg-style-set/bootstrap.json
  demo/configs/document/template/ebd8b50db2511c78a846c5f6acfd2ab7044f40bc.json
  demo/configs/document/template_ems/1e60592226084be98eb5ccfc350475c17d9a88a1.json
  demo/configs/document/template_ems/5f1ac205931f282569569d8c1ed1fce3116736f6.json
  demo/configs/document/template_ems/eb11dbeda3bd72644f9d1daaf74c4d61a5630ed4.json
  demo/skeleton/template/variables.twig
  demo/src/admin.js
Labels: demo

#390 feat(emsco/user): command update option
  EMS/core-bundle/src/Command/User/UpdateUserOptionCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Core/User/UserManager.php
  EMS/core-bundle/src/Repository/UserRepository.php
  EMS/core-bundle/src/Resources/config/command.xml
Labels: core-bundle

#392 fix(emsco/submission): controller spreadsheet generator not injected
  EMS/core-bundle/src/Resources/config/controllers.xml
Labels: core-bundle

#393 fix: rawData type in postFinalizeTreatment
  EMS/core-bundle/src/Form/DataField/ContainerFieldType.php
  EMS/core-bundle/src/Form/DataField/DataFieldType.php
  EMS/core-bundle/src/Form/DataField/DataLinkFieldType.php
  EMS/core-bundle/src/Form/DataField/FormFieldType.php
  EMS/core-bundle/src/Form/DataField/HolderFieldType.php
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#394 fix(user profile): disallow user to edit wysiwyg profile
  EMS/core-bundle/src/Core/User/UserOptions.php
  EMS/core-bundle/src/Form/Form/UserOptionsType.php
  EMS/core-bundle/src/Form/Form/UserType.php
  EMS/core-bundle/src/Form/User/UserProfileType.php
  EMS/core-bundle/src/Resources/translations/emsco-user.en.yml
Labels: core-bundle

#395 fix(emsch_asset): asset directory
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
Labels: client-helper-bundle

#396 feat(emsco/user): user update command allowed_configure_wysiwyg
  EMS/core-bundle/src/Command/User/UpdateUserOptionCommand.php
  EMS/core-bundle/src/Core/User/UserOptions.php
Labels: core-bundle

#401 feat(emsco/revision): display label (userLocale)
  EMS/common-bundle/composer.json
  EMS/common-bundle/src/Contracts/ExpressionServiceInterface.php
  EMS/common-bundle/src/Service/ExpressionService.php
  EMS/core-bundle/src/Core/ContentType/ContentTypeFields.php
  EMS/core-bundle/src/Core/User/UserManager.php
  EMS/core-bundle/src/Entity/.gitignore
  EMS/core-bundle/src/Entity/Form/.gitignore
  EMS/core-bundle/src/Form/Form/ContentTypeFieldsType.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/views/data/revisions-data.html.twig
  EMS/core-bundle/src/Resources/views/user/profile/show.html.twig
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/core-bundle/src/Twig/RevisionRuntime.php
  composer.json
  composer.lock
  elasticms-admin/config/packages/ems_core.yaml
Labels: common-bundle, elasticms-admin, core-bundle

#402 feat(media-file-sync): update media document with meta
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
Labels: elasticms-cli

#403 refactor(common): remove \EMS\CommonBundle\Common\Document
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
  EMS/common-bundle/src/Common/Document.php
  EMS/common-bundle/src/Elasticsearch/Document.php
  EMS/common-bundle/src/Elasticsearch/Document/Document.php
  EMS/common-bundle/src/Elasticsearch/Document/DocumentInterface.php
  EMS/common-bundle/src/Elasticsearch/DocumentInterface.php
  EMS/core-bundle/src/Command/ExportDocumentsCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/Revision/Action/ActionController.php
  EMS/core-bundle/src/Elasticsearch/ParentDocument.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/SearchService.php
  EMS/core-bundle/src/Service/TemplateService.php
Labels: common-bundle, client-helper-bundle, core-bundle

#404 feat(emsco): implementation emsco_display
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Core/Revision/DraftInProgress.php
  EMS/core-bundle/src/Core/Revision/Task/Table/TaskTableService.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Form/Data/Condition/InMyCircles.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/config/twig.xml
  EMS/core-bundle/src/Resources/views/data/abstract-revision.html.twig
  EMS/core-bundle/src/Resources/views/data/custom-view.html.twig
  EMS/core-bundle/src/Resources/views/data/view-data.html.twig
  EMS/core-bundle/src/Resources/views/elasticsearch/search.html.twig
  EMS/core-bundle/src/Resources/views/revision/task/columns.twig
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/UserService.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#407 fix(emsco/user): profile remove update simplified UI
  EMS/core-bundle/src/Form/Form/UserOptionsType.php
  EMS/core-bundle/src/Form/Form/UserType.php
  EMS/core-bundle/src/Form/User/UserProfileType.php
  EMS/core-bundle/src/Resources/views/user/profile/edit.html.twig
Labels: core-bundle

#408 feat(cli): file-reader importer command
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
  elasticms-cli/src/Commands.php
Labels: elasticms-cli

#406 feat(cli/media-lib-sync): import only missing document (refactor)
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
Labels: elasticms-cli

#411 fix(common/twig): dow crawler and preg match
  EMS/common-bundle/src/Helper/Text/Encoder.php
  EMS/common-bundle/src/Twig/TextRuntime.php
  EMS/common-bundle/tests/Unit/Twig/TextRuntimeTest.php
Labels: common-bundle

#410 fix(emsco/revision): finalization version broken
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#413 fix(emco/revision): add translation 'add-to-release'
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
Labels: core-bundle

#414 fix(cli): require symfony/http-client
  elasticms-cli/composer.json
  elasticms-cli/composer.lock
Labels: elasticms-cli

#417 chore(build): prepare 5.4
  EMS/core-bundle/src/Entity/Revision.php
  EMS/xliff/src/Xliff/InsertionRevision.php
  composer.lock
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/ExpressionLanguage/Functions.php
Labels: elasticms-cli, core-bundle
