Repository ems-project/elasticms, pull requests merged in 2023-11, with the labels that each got.

#654 fix(common): do not cache empty response
  EMS/common-bundle/src/Helper/Cache.php
  EMS/common-bundle/tests/Unit/Helper/CacheTest.php
Labels: common-bundle

#656 refactor(user): getUsername() -> getUserIdentifier()
  EMS/common-bundle/src/Common/Log/DoctrineHandler.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/JobService.php
  EMS/core-bundle/src/Service/UserService.php
Labels: common-bundle, core-bundle

#657 refactor: ROLE_PREVIOUS_ADMIN -> IS_IMPERSONATOR
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/topbar.html.twig
  EMS/core-bundle/src/Resources/views/base.html.twig
Labels: core-bundle, admin-ui-bundle

#655 refactor(deprecation): session service is deprecated
  EMS/core-bundle/src/Form/View/HierarchicalViewType.php
  EMS/core-bundle/src/Form/View/SorterViewType.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/config/view_types.xml
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/Form/Submission/FormSubmissionService.php
  EMS/form-bundle/src/Resources/config/services.xml
  EMS/form-bundle/src/Service/Confirmation/VerificationCodeGenerator.php
Labels: form-bundle, core-bundle

#658 refactor(core): remove deprecated Controller::getDoctrine
  EMS/core-bundle/src/Controller/ContentManagement/AnalyzerController.php
  EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/ContentManagement/EnvironmentController.php
  EMS/core-bundle/src/Controller/ContentManagement/FilterController.php
  EMS/core-bundle/src/Controller/ContentManagement/ManagedAliasController.php
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Controller/I18nController.php
  EMS/core-bundle/src/Controller/NotificationController.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/Controller/Views/CriteriaController.php
  EMS/core-bundle/src/Repository/AuthTokenRepository.php
  EMS/core-bundle/src/Repository/ContentTypeRepository.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Repository/FieldTypeRepository.php
  EMS/core-bundle/src/Repository/FilterRepository.php
  EMS/core-bundle/src/Repository/SearchRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/repositories.xml
  EMS/core-bundle/src/Service/I18nService.php
  EMS/core-bundle/src/Service/UserService.php
Labels: core-bundle

#659 fix(emsch/search): add option fields_exclude
  EMS/client-helper-bundle/src/Helper/Search/Manager.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
Labels: client-helper-bundle

#660 fix(emsch/security): lazy main firewall
  elasticms-web/config/packages/security.yaml
Labels: elasticms-web

#663 feat(emsch): source in emsch_get
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequest.php
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Elasticsearch/Exception/NotSingleResultException.php
  EMS/common-bundle/src/Service/ElasticaService.php
  demo/skeleton/template/fragments/structure.html.twig
Labels: common-bundle, client-helper-bundle, demo

#664 refactor: _type is deprecated
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequest.php
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
  EMS/core-bundle/src/Command/ReindexCommand.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
Labels: client-helper-bundle, core-bundle

#665 feat(elk client): support advance host connection definition
  EMS/common-bundle/src/Elasticsearch/ElasticaFactory.php
Labels: common-bundle

#666 feat(elasticsearc): one host means SimpleConnectionPool strategy
  EMS/common-bundle/src/Elasticsearch/ElasticaFactory.php
Labels: common-bundle
