Repository ems-project/elasticms, pull requests merged in 2023-02, with the labels that each got.

#306 fix(core): emsco_skip_notification twig function
  EMS/core-bundle/src/Exception/SkipNotificationException.php
  EMS/core-bundle/src/Service/NotificationService.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#300 feat: form entity
  EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php
  EMS/core-bundle/src/Controller/Form/FormController.php
  EMS/core-bundle/src/Core/Form/FieldTypeManager.php
  EMS/core-bundle/src/Core/Form/FormManager.php
  EMS/core-bundle/src/Entity/Form.php
  EMS/core-bundle/src/Form/Form/FormType.php
  EMS/core-bundle/src/Repository/FormRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/config/repositories.xml
  EMS/core-bundle/src/Resources/config/routing/all.xml
  EMS/core-bundle/src/Resources/config/routing/form.xml
  EMS/core-bundle/src/Resources/config/routing/submission.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/ems_logger.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-component.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-contenttype.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-core.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-environment.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-mimetypes.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-twigs.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-user.en.yml
  EMS/core-bundle/src/Resources/translations/emsco_validators.en.yml
  EMS/core-bundle/src/Resources/translations/validators.en.yml
  EMS/core-bundle/src/Resources/views/admin-form/abstract.html.twig
  EMS/core-bundle/src/Resources/views/admin-form/add.html.twig
  EMS/core-bundle/src/Resources/views/admin-form/columns.html.twig
  EMS/core-bundle/src/Resources/views/admin-form/edit.html.twig
  EMS/core-bundle/src/Resources/views/admin-form/form.html.twig
  EMS/core-bundle/src/Resources/views/admin-form/index.html.twig
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
  EMS/core-bundle/src/Routes.php
  elasticms-admin/config/packages/security.yaml
Labels: core-bundle

#315 fix(revision): paste not working
  EMS/core-bundle/src/Controller/Revision/EditController.php
Labels: core-bundle

#311 feat: EMS_ELASTICSEARCH_CONNECTION_POOL
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Elasticsearch/ElasticaFactory.php
  EMS/common-bundle/src/Resources/config/services.xml
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/config/packages/ems_common.yaml
Labels: common-bundle, elasticms-admin, elasticms-web, elasticms-cli

#316 fix(jsonMenuNested): label not working
  EMS/common-bundle/src/Json/JsonMenuNested.php
Labels: common-bundle

#317 fix(form): no entityService and missing migrations
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20230206194556.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20230206193853.php
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#318 feat(web): environment var EMSCH_LOCAL_PATH
  EMS/client-helper-bundle/src/Command/Local/StatusCommand.php
  EMS/client-helper-bundle/src/DependencyInjection/Configuration.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/Helper/Local/LocalEnvironment.php
  EMS/client-helper-bundle/src/Helper/Local/LocalEnvironmentFactory.php
  EMS/client-helper-bundle/src/Resources/config/local.xml
  elasticms-admin/config/packages/ems_client_helper.yaml
  elasticms-web/config/packages/ems_client_helper.yaml
Labels: client-helper-bundle, elasticms-admin, elasticms-web

#320 fix(demo): update assets / configs
  demo/configs/admin/assets/bundle.zip
  demo/configs/admin/content-type/asset.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/publication.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/slideshow.json
  demo/configs/admin/content-type/structure.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/schedule/Clear logs.json
  demo/configs/admin/wysiwyg-style-set/DemoStyleSet.json
  demo/configs/admin/wysiwyg-style-set/RevealJS.json
  demo/skeleton/template/variables.twig
Labels: demo

#324 fix(enviroment): call clearCache
  EMS/core-bundle/src/Command/CreateEnvironmentCommand.php
  EMS/core-bundle/src/Command/Environment/AlignCommand.php
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: core-bundle

#327 feat: custom user options
  EMS/core-bundle/src/Core/Form/FormManager.php
  EMS/core-bundle/src/Core/User/UserOptions.php
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Form/Form/UserOptionsType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/views/user/add.html.twig
  EMS/core-bundle/src/Resources/views/user/edit.html.twig
  EMS/core-bundle/src/Resources/views/user/user.html.twig
  elasticms-admin/config/packages/ems_core.yaml
Labels: elasticms-admin, core-bundle

#329 fix: field-type manager is not an entity service
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#330 feat(emsch/search): query_search option
  EMS/client-helper-bundle/src/Helper/Search/Filter.php
  EMS/client-helper-bundle/src/Helper/Search/QueryBuilder.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
Labels: client-helper-bundle

#332 fix(admin): doctrine migrations in dev mode
  elasticms-admin/bin/console
  elasticms-admin/config/packages/doctrine_migrations.yaml
  elasticms-admin/config/packages/framework.yaml
Labels: elasticms-admin

#331 feat: update demo
  demo/README.md
  demo/configs/admin/assets/bundle.zip
  demo/docker-compose.yml
  demo/docker-elasticms.yml
  demo/ems.sh
  demo/npm.sh
  demo/npx.sh
  demo/skeleton/template/variables.twig
  elasticms-admin/.env.dist
Labels: documentation, elasticms-admin, demo

#333 feat: asset2document migrate
  elasticms-cli/src/Client/HttpClient/HttpResult.php
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Html/InternalLink.php
Labels: elasticms-cli

#335 fix: query values are prior against request
  EMS/client-helper-bundle/src/Helper/Search/Search.php
Labels: client-helper-bundle

#338 feat(contentType): new setting hide sidebar
  EMS/core-bundle/src/Core/ContentType/ContentTypeSettings.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Form/Form/ContentTypeSettingsType.php
  EMS/core-bundle/src/Resources/views/data/revisions-data.html.twig
Labels: core-bundle

#337 fix: circles field
  EMS/core-bundle/src/Resources/config/routing/query-search.xml
  EMS/core-bundle/src/Resources/views/data/revisions-data.html.twig
  EMS/core-bundle/src/Service/DataService.php
  demo/docker-elasticms.yml
Labels: documentation, core-bundle, demo

#339 fix(storage): header noindex for immutable responses
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/helpers/src/Html/Headers.php
Labels: common-bundle

#340 feat(emsch/routing): response headers for asset action
  EMS/client-helper-bundle/src/Controller/RouterController.php
Labels: client-helper-bundle

#341 fix(core/querySearch): paramConverter broken
  EMS/core-bundle/src/Controller/QuerySearchController.php
  EMS/core-bundle/src/Form/Data/EntityTable.php
  EMS/core-bundle/src/Resources/config/routing/query-search.xml
Labels: core-bundle

#344 fix(contentType): virtual field + propagate postprocessing+ isValid in FormType
  EMS/core-bundle/src/Form/DataTransformer/FormModelTransformer.php
  EMS/core-bundle/src/Form/Form/UserOptionsType.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/Revision/PostProcessingService.php
Labels: core-bundle

#345 fix(emsch/search): query_search replace request values
  EMS/client-helper-bundle/src/Helper/Search/QueryBuilder.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
Labels: client-helper-bundle

#346 fix(notifications): outbox table not showing results
  EMS/core-bundle/src/Controller/NotificationController.php
  EMS/core-bundle/src/Entity/Form/NotificationFilter.php
  EMS/core-bundle/src/Form/Form/NotificationFormType.php
  EMS/core-bundle/src/Repository/NotificationRepository.php
  EMS/core-bundle/src/Repository/TemplateRepository.php
  EMS/core-bundle/src/Service/NotificationService.php
Labels: core-bundle

#347 fix(core/jsonFieldType): validation and prettyPrint
  EMS/core-bundle/src/Form/DataField/JSONFieldType.php
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#349 feat(core): emsch env
  EMS/client-helper-bundle/src/Command/Local/AbstractLocalCommand.php
  EMS/client-helper-bundle/src/Helper/Environment/Environment.php
  EMS/client-helper-bundle/src/Helper/Environment/EnvironmentHelper.php
  EMS/client-helper-bundle/src/Helper/Routing/Router.php
  EMS/core-bundle/src/Service/Channel/ChannelRegistrar.php
Labels: client-helper-bundle, elasticms-admin, core-bundle

#350 feat: forms in views
  EMS/core-bundle/src/Form/DataTransformer/FormModelTransformer.php
  EMS/core-bundle/src/Form/Form/FieldHolderType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/config/twig.xml
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/core-bundle/src/Twig/FormRuntime.php
Labels: core-bundle

#352 fix: recompute theme and useroptiontype specific id
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
  EMS/core-bundle/src/Resources/config/form.xml
Labels: core-bundle

#351 fix(common/api): EMS_BACKEND_API_VERIFY
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/CoreApiFactory.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Resources/config/services.xml
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/config/packages/ems_common.yaml
Labels: common-bundle, elasticms-admin, elasticms-web, elasticms-cli
