Repository ems-project/elasticms, pull requests merged in 2023-05, with the labels that each got.

#448 feat(store): emsch store
  EMS/common-bundle/src/Common/Cache/Cache.php
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataCacheFactory.php
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataEntityFactory.php
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataFactoryInterface.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataCacheService.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataEntityService.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataServiceInterface.php
  EMS/common-bundle/src/Common/StoreData/StoreDataHelper.php
  EMS/common-bundle/src/Common/StoreData/StoreDataManager.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Entity/CreatedModifiedTrait.php
  EMS/common-bundle/src/Entity/StoreData.php
  EMS/common-bundle/src/Repository/StoreDataRepository.php
  EMS/common-bundle/src/Resources/config/store_data.xml
  EMS/common-bundle/src/Resources/config/twig.xml
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/src/Twig/StoreDataRuntime.php
  EMS/core-bundle/src/Entity/AggregateOption.php
  EMS/core-bundle/src/Entity/Analyzer.php
  EMS/core-bundle/src/Entity/AuthToken.php
  EMS/core-bundle/src/Entity/CacheAssetExtractor.php
  EMS/core-bundle/src/Entity/Channel.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/Dashboard.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Entity/FieldType.php
  EMS/core-bundle/src/Entity/Filter.php
  EMS/core-bundle/src/Entity/Form.php
  EMS/core-bundle/src/Entity/I18n.php
  EMS/core-bundle/src/Entity/Job.php
  EMS/core-bundle/src/Entity/ManagedAlias.php
  EMS/core-bundle/src/Entity/Notification.php
  EMS/core-bundle/src/Entity/QuerySearch.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Entity/Schedule.php
  EMS/core-bundle/src/Entity/SearchFieldOption.php
  EMS/core-bundle/src/Entity/Sequence.php
  EMS/core-bundle/src/Entity/SortOption.php
  EMS/core-bundle/src/Entity/Task.php
  EMS/core-bundle/src/Entity/Template.php
  EMS/core-bundle/src/Entity/UploadedAsset.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Entity/View.php
  EMS/core-bundle/src/Entity/WysiwygProfile.php
  EMS/core-bundle/src/Entity/WysiwygStylesSet.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20230429140811.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20230429134150.php
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/config/packages/ems_common.yaml
Labels: common-bundle, core-bundle

#451 feat(common): storeData file system
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataFileSystemFactory.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataFileSystemService.php
  EMS/common-bundle/src/Resources/config/store_data.xml
  EMS/common-bundle/src/Storage/Factory/FileSystemFactory.php
  EMS/helpers/src/File/Folder.php
Labels: common-bundle, core-bundle

#453 fix(core): render textare as non-html and replace nl by br (|nl2br)
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#452 feat(form): reorder form fields
  EMS/core-bundle/src/Controller/Form/FormController.php
  EMS/core-bundle/src/Core/Form/FormManager.php
  EMS/core-bundle/src/Entity/FieldType.php
  EMS/core-bundle/src/Resources/config/routing/form.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-twigs.en.yml
  EMS/core-bundle/src/Resources/views/admin-form/reorder.html.twig
  EMS/core-bundle/src/Resources/views/contenttype/reorder_item.html.twig
  EMS/core-bundle/src/Routes.php
  EMS/core-bundle/src/Service/ContentTypeService.php
Labels: core-bundle

#454 feat: tika on media sync command
  EMS/common-bundle/src/Helper/EmsFields.php
  EMS/core-bundle/src/Form/DataField/IndexedAssetFieldType.php
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/src/Helper/Tika/TikaClient.php
  elasticms-cli/src/Helper/Tika/TikaHelper.php
  elasticms-cli/src/Helper/Tika/TikaJarPromise.php
  elasticms-cli/src/Helper/Tika/TikaMeta.php
  elasticms-cli/src/Helper/Tika/TikaPromiseInterface.php
  elasticms-cli/src/Helper/Tika/TikaServerPromise.php
  elasticms-cli/src/Helper/Tika/TikaWrapper.php
  elasticms-cli/src/Helper/TikaWrapper.php
Labels: common-bundle, elasticms-cli, core-bundle, demo

#455 fix: loading issue
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
Labels: elasticms-cli

#456 feat(ems-client): datalink to a media_file (webToElasticms)
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Client/WebToElasticms/Extract/Html.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Attr/LinkMediaFile.php
Labels: elasticms-cli

#457 fix: old revision might not have hash
  .gitattributes
  EMS/core-bundle/src/Common/DocumentInfo.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/DocumentService.php
Labels: core-bundle

#458 feat(twig): ems_asset_get_content
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/src/Twig/CommonExtension.php
Labels: common-bundle

#459 fix: no base url on asset_file_path
  EMS/client-helper-bundle/src/Helper/Routing/Url/Transformer.php
Labels: client-helper-bundle

#460 fix: if getNodeByName not found
  EMS/core-bundle/src/Resources/views/revision/json/json_menu_nested.html.twig
Labels: core-bundle

#465 feat(xliff): xliff in json
  EMS/common-bundle/src/Common/PropertyAccess/InvalidPropertyPathException.php
  EMS/common-bundle/src/Common/PropertyAccess/PropertyAccessor.php
  EMS/common-bundle/src/Common/PropertyAccess/PropertyPath.php
  EMS/common-bundle/src/Common/PropertyAccess/PropertyPathElement.php
  EMS/common-bundle/tests/Unit/Common/PropertyAccess/PropertyAcessTest.php
  EMS/common-bundle/tests/Unit/Common/PropertyAccess/PropertyPathTest.php
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/core-bundle/src/Service/Internationalization/XliffService.php
Labels: common-bundle, core-bundle

#467 feat: remote schedule job
  EMS/common-bundle/src/Command/Admin/JobCommand.php
  EMS/common-bundle/src/Command/Admin/NextJobCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Admin/Admin.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Admin/Message/Job.php
  EMS/common-bundle/src/Common/Job/JobManager.php
  EMS/common-bundle/src/Common/Job/JobOutput.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Admin/AdminInterface.php
  EMS/common-bundle/src/Resources/config/commands.xml
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Command/JobCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/src/Controller/Job/ScheduleController.php
  EMS/core-bundle/src/Core/Job/ScheduleManager.php
  EMS/core-bundle/src/Entity/Schedule.php
  EMS/core-bundle/src/Form/Form/ScheduleType.php
  EMS/core-bundle/src/Repository/ScheduleRepository.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20230521113707.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20230520070730.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/api/admin.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
  EMS/core-bundle/src/Resources/views/schedule/form.html.twig
  EMS/core-bundle/src/Service/JobService.php
  elasticms-admin/.env.dist
Labels: common-bundle, elasticms-admin, core-bundle

#466 feat: iterate on wild char property path
  EMS/common-bundle/src/Common/PropertyAccess/PropertyAccessor.php
  EMS/common-bundle/src/Common/PropertyAccess/PropertyPath.php
  EMS/common-bundle/src/Common/PropertyAccess/PropertyPathElement.php
  EMS/common-bundle/tests/Unit/Common/PropertyAccess/PropertyAcessTest.php
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/core-bundle/src/Command/Xliff/UpdateCommand.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/Internationalization/XliffService.php
  EMS/xliff/src/Xliff/InsertionRevision.php
Labels: common-bundle, core-bundle

#461 fix: update demo
  demo/.env
  demo/README.md
  demo/configs/admin/assets/ems-hashcash.png
  demo/configs/admin/content-type/page.json
  demo/configs/admin/job/activate-all-content-type.json
  demo/configs/admin/job/align.json
  demo/configs/admin/job/clean.json
  demo/configs/admin/job/rebuild-live.json
  demo/configs/admin/job/rebuild-preview.json
  demo/configs/admin/managed-alias/ma_live.json
  demo/configs/admin/managed-alias/ma_preview.json
  demo/configs/document/category/CNj7KYgBTbVbdHDCX1hQ.json
  demo/configs/document/news/N0RJCYcB1VNiJ3asnZHa.json
  demo/configs/document/news/a3349086-3e0e-478e-8cf2-b84f066772b8.json
  demo/configs/document/news/bf19cfbb-c666-4004-aa2d-11cb534c0a3b.json
  demo/configs/document/news/edc8c69f-6eda-4312-84f1-f6b025cc374d.json
  demo/configs/document/page/02c9040f-1368-485c-92a6-a7c71b77224b.json
  demo/configs/document/page/1f4217e0-3aeb-45aa-8caf-12a1b2445377.json
  demo/configs/document/page/3a3eb002-e16e-4ac9-a0ae-244bdbeb8501.json
  demo/configs/document/page/6d9c61b0-84cf-42a8-a56c-75c9f101620c.json
  demo/configs/document/page/a81f28a6-c238-47ef-b06b-4b81c2caed94.json
  demo/configs/document/section/39d3ffdd-6ac3-4828-a1f6-970b1b884ce1.json
  demo/configs/elasticms-web/preview.env
  demo/configs/elasticms-web/zz-live.env
  demo/docker-elasticms.yml
  demo/ems.sh
  demo/npm.sh
  demo/package-lock.json
  demo/skeleton/template/base/base.html.twig
  demo/skeleton/template/page/default.html.twig
Labels: documentation, demo

#471 fix: renew the csrf token on each submit
  EMS/form-bundle/src/Controller/FormController.php
  EMS/form-bundle/src/Resources/config/services.xml
Labels: form-bundle

#469 feat(skeleton): SAML authentication
  EMS/client-helper-bundle/composer.json
  EMS/client-helper-bundle/src/Controller/Security/SamlController.php
  EMS/client-helper-bundle/src/DependencyInjection/Configuration.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/EventListener/AuthenticatedListener.php
  EMS/client-helper-bundle/src/Helper/Routing/RouteLoader.php
  EMS/client-helper-bundle/src/Resources/config/routing.xml
  EMS/client-helper-bundle/src/Resources/config/security/saml.xml
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/client-helper-bundle/src/Security/Saml/SamlAuthFactory.php
  EMS/client-helper-bundle/src/Security/Saml/SamlAuthenticator.php
  EMS/client-helper-bundle/src/Security/Saml/SamlConfig.php
  EMS/client-helper-bundle/src/Security/Saml/User/SamlUser.php
  EMS/client-helper-bundle/src/Security/Saml/User/SamlUserProvider.php
  EMS/client-helper-bundle/tests/Integration/App/Kernel.php
  EMS/client-helper-bundle/tests/Integration/App/config/config.yml
  EMS/form-bundle/tests/Integration/App/Kernel.php
  EMS/form-bundle/tests/Integration/App/config/config.yml
  composer.json
  composer.lock
  docker/idp/data/elasticms-realm.json
  docker/idp/data/elasticms-users-0.json
  docker/idp/docker-compose.yml
  elasticms-web/config/packages/ems_client_helper.yaml
  elasticms-web/config/packages/security.yaml
  elasticms-web/config/routes.yaml
Labels: form-bundle, client-helper-bundle, elasticms-web, demo

#473 feat: create new document on emscli:file-reader:import
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: elasticms-cli

#474 fix: 2 commands with the same id
  EMS/common-bundle/src/Resources/config/commands.xml
Labels: common-bundle

#475 fix: tag is not mandatory in schedule entity
  EMS/core-bundle/src/Form/Form/ScheduleType.php
Labels: core-bundle

#470 refactor(demo): move language switch
  demo/skeleton/template/base/bootstrap.html.twig
  demo/skeleton/template/fragments/navbar.html.twig
  demo/skeleton/template/variables.twig
  demo/src/css/components/_navbar.scss
Labels: demo

#481 fix: job flag as started from created from schedule
  EMS/core-bundle/src/Service/JobService.php
Labels: core-bundle
