Repository ems-project/elasticms, pull requests merged in 2023-01, with the labels that each got.

#232 chore(demo): update npm
  demo/docker-elasticms.yml
  demo/package-lock.json
Labels: demo

#234 fix(notification): treat notification not refreshing
  EMS/core-bundle/src/Form/Form/TreatNotificationsType.php
  EMS/core-bundle/src/Resources/views/notification/inboxToTreat.html.twig
  EMS/core-bundle/src/Service/NotificationService.php
Labels: core-bundle

#233 feat(ui): ajax modal enter submit
  EMS/core-bundle/assets/js/helper/ajaxModal.js
  EMS/core-bundle/src/Resources/public/js/app.4293e72c9be36816de18.js
  EMS/core-bundle/src/Resources/public/js/calendar.b98666d885a53877d968.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.0fa4fdf395e8d86ad805.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.9c1b9d5196b3620020d8.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.193c03d43c57a3cf1f77.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.9b2bbe8ffd6c68e6b24a.js
  EMS/core-bundle/src/Resources/public/js/i18n.197af2882cc3d831f3df.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.05a461cea943a6e47e56.js
  EMS/core-bundle/src/Resources/public/js/template.45d63d7c12c6ec748da6.js
  EMS/core-bundle/src/Resources/public/js/user-profile.075769293ad7e20d25d4.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#230 feat(action): support export spreadsheet
  EMS/core-bundle/assets/template.js
  EMS/core-bundle/src/Controller/ContentManagement/ActionController.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/Revision/ActionController.php
  EMS/core-bundle/src/Entity/Template.php
  EMS/core-bundle/src/Form/Form/ActionType.php
  EMS/core-bundle/src/Form/Form/TemplateType.php
  EMS/core-bundle/src/Repository/TemplateRepository.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20230102082102.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20230102081927.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/config/routing/data.xml
  EMS/core-bundle/src/Resources/config/routing/public.xml
  EMS/core-bundle/src/Resources/public/js/template.6fcbed8e2b6d31076262.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/action/form.html.twig
  EMS/core-bundle/src/Resources/views/data/custom-view.html.twig
  EMS/core-bundle/src/Service/ActionService.php
Labels: core-bundle

#237 fix: ensure we have an object for the reverse_nested key.
  EMS/common-bundle/src/Elasticsearch/Aggregation/ElasticaAggregation.php
Labels: common-bundle

#242 fix: allow numbers, bool and null in importData
  EMS/core-bundle/src/Form/DataField/CheckboxFieldType.php
  EMS/core-bundle/src/Form/DataField/CollectionFieldType.php
  EMS/core-bundle/src/Form/DataField/ContainerFieldType.php
  EMS/core-bundle/src/Form/DataField/DataFieldType.php
  EMS/core-bundle/src/Form/DataField/DateFieldType.php
  EMS/core-bundle/src/Form/DataField/DateRangeFieldType.php
  EMS/core-bundle/src/Form/DataField/NestedFieldType.php
  EMS/core-bundle/src/Form/DataField/NumberFieldType.php
  EMS/core-bundle/src/Form/DataField/SubfieldType.php
  EMS/core-bundle/src/Form/DataField/TabsFieldType.php
  EMS/core-bundle/src/Form/DataField/TimeFieldType.php
Labels: core-bundle

#243 refactor: better raw data
  EMS/core-bundle/src/Entity/DataField.php
Labels: core-bundle

#246 fix(cli): require doctrine annotations
  EMS/common-bundle/composer.json
  EMS/core-bundle/composer.json
  EMS/helpers/composer.json
  EMS/xliff/composer.json
  composer.json
  elasticms-admin/composer.json
  elasticms-cli/composer.json
  elasticms-web/composer.json
Labels: common-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle

#248 fix(datalinks): referrer-ems-id
  EMS/core-bundle/src/Core/Document/DataLinksFactory.php
Labels: core-bundle

#249 fix(common/jmn): string spec for label on construct
  EMS/common-bundle/src/Json/JsonMenuNested.php
Labels: bug, common-bundle

#250 refactor: improved demo's robots.txt
  demo/skeleton/template/seo/robots.txt.twig
Labels: demo

#251 feat: ems asset
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
  EMS/client-helper-bundle/src/Helper/Asset/AssetVersionStrategy.php
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  demo/.env
  demo/README.md
  demo/skeleton/template/base/base.html.twig
  demo/skeleton/template/redirects/apple-touch-icon.json.twig
  demo/skeleton/template/redirects/favicon.json.twig
  demo/src/img/head/icon-rect-310.png
  demo/src/img/head/icon.png
  demo/src/img/head/icon128.png
  demo/src/img/head/icon150.png
  demo/src/img/head/icon180.png
  demo/src/img/head/icon64.png
  demo/src/img/head/icon70.png
  docker/.env
Labels: documentation, common-bundle, client-helper-bundle, demo

#253 fix: ../ url
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/tests/WebToElasticms/Helper/UrlTest.php
Labels: elasticms-cli, demo

#252 feat: redirect to path (BinaryFileResponse)
  EMS/client-helper-bundle/src/Controller/RouterController.php
  demo/skeleton/template/redirects/apple-touch-icon.json.twig
  demo/skeleton/template/redirects/favicon.json.twig
Labels: documentation, common-bundle, client-helper-bundle, demo

#254 feat: delete by query
  EMS/common-bundle/src/Common/Command/AbstractCommand.php
  EMS/core-bundle/src/Command/Revision/DeleteCommand.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Service/PublishService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: common-bundle, core-bundle

#255 fix(cli): define all timeouts in cache manager
  elasticms-cli/src/Client/HttpClient/CacheManager.php
Labels: elasticms-cli

#256 feat: delete non updated audit documents
  EMS/common-bundle/src/Command/Admin/JobCommand.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Admin/Admin.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Admin/AdminInterface.php
  elasticms-cli/.gitignore
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/Audit/Report.php
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: common-bundle, elasticms-cli

#257 fix: dont log password in audit documents
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: common-bundle, elasticms-cli

#260 feat(helper): html standard with sanitizer
  EMS/core-bundle/src/Service/Internationalization/XliffService.php
  EMS/helpers/composer.json
  EMS/helpers/src/Html/HtmlHelper.php
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerClass.php
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerConfigBuilder.php
  EMS/helpers/src/Standard/Html.php
  EMS/helpers/tests/Unit/Html/HtmlHelperTest.php
  EMS/helpers/tests/Unit/Html/HtmlTest.php
  EMS/helpers/tests/Unit/Html/Sanitizer/HtmlSanitizerConfigBuilderTest.php
  EMS/helpers/tests/Unit/Standard/HtmlTest.php
  EMS/xliff/src/Xliff/Extractor.php
  EMS/xliff/src/Xliff/InsertionRevision.php
  EMS/xliff/tests/Unit/Xliff/IntegratedTest.php
  composer.json
  composer.lock
Labels: core-bundle

#261 feat: multipart extra headers
  EMS/submission-bundle/src/Handler/MultipartHandler.php
Labels: submission-bundle

#262 feat: ascii folding
  EMS/common-bundle/src/Helper/Text/Encoder.php
  EMS/common-bundle/src/Twig/CommonExtension.php
Labels: submission-bundle, common-bundle

#264 feat(wyiswyg): paste html cleaner
  EMS/core-bundle/assets/js/editRevisionEventListeners.js
  EMS/core-bundle/src/Controller/Wysiwyg/AjaxPasteController.php
  EMS/core-bundle/src/Controller/WysiwygController.php
  EMS/core-bundle/src/Core/Revision/Wysiwyg/WysiwygRuntime.php
  EMS/core-bundle/src/Entity/WysiwygProfile.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/wysiwyg.xml
  EMS/core-bundle/src/Resources/public/js/app.361b8285551d935e16a9.js
  EMS/core-bundle/src/Resources/public/js/calendar.8074cdaf65f17f8b6c88.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.926dd6dd9d3ca9039dbe.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.21703ca2dd523628cdef.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.090d357ab10e2154a02f.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.f290edbe70f8fb2c628f.js
  EMS/core-bundle/src/Resources/public/js/i18n.44275239132c9875cbf7.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.de144f1722d28a8c3e63.js
  EMS/core-bundle/src/Resources/public/js/template.dc85ee192e7b89d5e3f1.js
  EMS/core-bundle/src/Resources/public/js/user-profile.aa8f840f316771e217d8.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#265 chore(docker): improve dev docker
  docker/.env.dist
  docker/.gitignore
  docker/docker-compose.yml
  elasticms-admin/.env.dist
Labels: elasticms-admin

#266 fix: avoid deleting in dry-run and just logs thing in case of error o…
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: elasticms-cli

#267 feat(cli): save audit
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: elasticms-cli

#268 feat(media lib): defaultValue and searchQuery
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryConfig.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryConfigFactory.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/src/Twig/Components/MediaLibraryComponent.php
Labels: core-bundle

#272 fix: audit duplicate ouuids
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
Labels: elasticms-cli

#273 feat: skip submit
  EMS/form-bundle/src/Submission/Client.php
  EMS/submission-bundle/src/Exception/SkipSubmissionException.php
  EMS/submission-bundle/src/Twig/ConnectionExtension.php
  EMS/submission-bundle/src/Twig/ConnectionRuntime.php
Labels: submission-bundle, form-bundle

#278 refactor(ui): new logo
  EMS/core-bundle/assets/images/logo.png
  EMS/core-bundle/assets/images/logo.svg
  EMS/core-bundle/src/Resources/public/images/logo.png
  EMS/core-bundle/src/Resources/public/images/logo.svg
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/user/login.html.twig
  EMS/core-bundle/src/Resources/views/view/custom/gallery_view.html.twig
  demo/skeleton/template/base/bootstrap.html.twig
  demo/skeleton/template/fragments/footer.html.twig
  demo/src/img/logos/elasticms-ball-colour-rvb.svg
  demo/src/img/logos/full-logo-de.png
  demo/src/img/logos/full-logo-en.png
  demo/src/img/logos/full-logo-fr.png
  demo/src/img/logos/full-logo-nl.png
  demo/src/img/logos/logo-de.png
  demo/src/img/logos/logo-en.png
  demo/src/img/logos/logo-fr.png
  demo/src/img/logos/logo-nl.png
Labels: core-bundle, demo

#279 fix(audit): redirect to non parsable url
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: elasticms-cli

#280 feat(dataTable): public datatable routes
  EMS/core-bundle/src/Controller/ContentManagement/DatatableController.php
  EMS/core-bundle/src/Form/Data/ElasticaTable.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/public.xml
  EMS/core-bundle/src/Service/DatatableService.php
Labels: core-bundle

#281 fix(jsonMenuNested): copy all broken
  EMS/core-bundle/assets/js/module/jsonMenuNested.js
  EMS/core-bundle/src/Resources/views/revision/json/json_menu_nested.html.twig
Labels: core-bundle

#282 fix(rebuild): publishing multiple revisions in default env
  EMS/core-bundle/src/Command/RecomputeCommand.php
  EMS/core-bundle/src/Command/ReindexCommand.php
Labels: core-bundle

#283 fix: don't drop number by default
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/Twig/CommonExtension.php
Labels: common-bundle

#285 fix(submission): allow reply to header in email request/handler
  EMS/submission-bundle/src/Handler/EmailHandler.php
  EMS/submission-bundle/src/Request/EmailRequest.php
Labels: submission-bundle

#286 fix(core): ajax modal 'enter' in textarea closes modal
  EMS/core-bundle/assets/js/helper/ajaxModal.js
  EMS/core-bundle/src/Resources/public/js/app.d30d4f2847d57dbfb503.js
  EMS/core-bundle/src/Resources/public/js/calendar.2fd3d3b92dd70b6cf012.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.01842b83b8ed53d1f870.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.c4644353be6f3f5b527c.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.d7ffc3270c40d5749bc0.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.7a3f880b2c439af7d9b0.js
  EMS/core-bundle/src/Resources/public/js/i18n.8c72fda622c2015e5ced.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.23630deaefd166cf8299.js
  EMS/core-bundle/src/Resources/public/js/template.ce8cfb015d0e302219ba.js
  EMS/core-bundle/src/Resources/public/js/user-profile.c1cb72398599a3b51ccf.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#287 fix(submission): skip submit
  EMS/form-bundle/src/Submission/FailedHandleResponse.php
  EMS/submission-bundle/src/Handler/DatabaseHandler.php
  EMS/submission-bundle/src/Handler/EmailHandler.php
  EMS/submission-bundle/src/Handler/HttpHandler.php
  EMS/submission-bundle/src/Handler/MultipartHandler.php
  EMS/submission-bundle/src/Handler/PdfHandler.php
  EMS/submission-bundle/src/Handler/ServiceNowHandler.php
  EMS/submission-bundle/src/Handler/SftpHandler.php
  EMS/submission-bundle/src/Handler/SoapHandler.php
  EMS/submission-bundle/src/Handler/ZipHandler.php
  EMS/submission-bundle/src/Twig/ConnectionExtension.php
  EMS/submission-bundle/tests/Functional/Handler/EmailHandlerTest.php
Labels: submission-bundle, form-bundle

#288 fix(core): ajax modal pick file browser
  EMS/core-bundle/assets/js/helper/ajaxModal.js
  EMS/core-bundle/assets/js/module/pickFileFromServer.js
  EMS/core-bundle/src/Resources/public/js/app.8e14dbe5b71955079dc2.js
  EMS/core-bundle/src/Resources/public/js/app.d30d4f2847d57dbfb503.js
  EMS/core-bundle/src/Resources/public/js/calendar.8e59e49d4624d6fe28b7.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.89baeb148de1e9500806.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.0658c5d111f1a0b306cf.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.0b447b4a96e1ff43b92d.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.76b67b1090fa5f8fdc32.js
  EMS/core-bundle/src/Resources/public/js/i18n.3244bc9973285eeddbbd.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.b184fc570612488a5622.js
  EMS/core-bundle/src/Resources/public/js/template.726c58b9f2fa7cb9e18f.js
  EMS/core-bundle/src/Resources/public/js/user-profile.248778dfc62833b71ff9.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/base.html.twig
Labels: core-bundle

#293 fix: dont backup jobs
  EMS/common-bundle/src/Command/Admin/BackupCommand.php
Labels: common-bundle

#292 feat: ems:admin:command
  EMS/common-bundle/src/Command/Admin/CommandCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Resources/config/commands.xml
Labels: common-bundle

#294 feat(admin): emsch local enabled in dev mode
  elasticms-admin/.gitignore
  elasticms-admin/config/packages/ems_client_helper.yaml
Labels: elasticms-admin

#295 fix(jsonMenu): recompute and already assigned
  EMS/core-bundle/src/Form/DataField/JsonMenuLinkFieldType.php
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
Labels: core-bundle

#297 fix(recompute): deep recompute skip deleted fields
  EMS/core-bundle/src/Command/RecomputeCommand.php
Labels: core-bundle

#296 fix(admin-api): update views and actions keep id
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/Helper/JsonClass.php
  EMS/core-bundle/src/Service/ContentTypeService.php
Labels: core-bundle

#298 fix(revision): detail broken if field named 'children'
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#299 fix(jsonMenu): add convert to nested helper function
  EMS/common-bundle/src/Json/JsonMenu.php
Labels: common-bundle

#304 fix: default query search name
  EMS/core-bundle/src/Service/QuerySearchService.php
Labels: core-bundle
