Repository ems-project/elasticms, pull requests merged in 2023-07, with the labels that each got.

#540 fix(demo): makeFile docker commands and pwd issue
  demo/Makefile
  release/Command/GithubReleaseCommand.php
Labels: demo

#544 fix(core/notifications): treat all updating contentType root field
  EMS/core-bundle/src/Service/NotificationService.php
Labels: core-bundle

#545 fix(standard/html): sanitizer allow emsLinks
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerConfigBuilder.php
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerLink.php
  EMS/helpers/tests/Unit/Standard/HtmlTest.php
Labels: helpers

#546 fix(common/storage): image processor bad horizontal mirroring
  EMS/common-bundle/src/Storage/Processor/Image.php
Labels: common-bundle

#547 fix(common/storage): limit a range request size to 8MB if not specified by the client
  EMS/common-bundle/src/Storage/Processor/StreamRange.php
Labels: common-bundle

#543 feat(web): security form login (coreApi)
  EMS/client-helper-bundle/src/Controller/Security/LoginController.php
  EMS/client-helper-bundle/src/DependencyInjection/Configuration.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/Helper/Routing/RouteLoader.php
  EMS/client-helper-bundle/src/Resources/config/security.xml
  EMS/client-helper-bundle/src/Resources/config/security/saml.xml
  EMS/client-helper-bundle/src/Security/CoreApi/CoreApiAuthenticator.php
  EMS/client-helper-bundle/src/Security/CoreApi/CoreApiFactory.php
  EMS/client-helper-bundle/src/Security/CoreApi/User/CoreApiUser.php
  EMS/client-helper-bundle/src/Security/CoreApi/User/CoreApiUserProvider.php
  EMS/client-helper-bundle/src/Security/FirewallEntryPoint.php
  EMS/client-helper-bundle/src/Security/Login/LoginCredentials.php
  EMS/client-helper-bundle/src/Security/Login/LoginForm.php
  EMS/client-helper-bundle/src/Security/Saml/SamlAuthFactory.php
  EMS/client-helper-bundle/src/Security/Saml/SamlAuthenticator.php
  EMS/client-helper-bundle/src/Security/Saml/SamlConfig.php
  EMS/client-helper-bundle/src/Security/Saml/User/SamlUserProvider.php
  elasticms-admin/config/packages/security.yaml
  elasticms-admin/config/routes.yaml
  elasticms-web/config/packages/ems_client_helper.yaml
  elasticms-web/config/packages/security.yaml
Labels: client-helper-bundle, elasticms-admin, elasticms-web

#548 fix(cli): test if the tika extracted content has some malformed unicode chars
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Helper/Tika/TikaJarPromise.php
  elasticms-cli/src/Helper/Tika/TikaMeta.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaClientTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaPromiseTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaTest.php.old
  elasticms-cli/tests/WebToElasticms/Helper/resources/malformed.pdf
  phpunit.xml.dist
Labels: elasticms-cli

#549 fix(standard/html): sanitizer max input length (default 500.000)
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerConfigBuilder.php
  EMS/helpers/src/Standard/Html.php
  EMS/helpers/tests/Unit/Standard/HtmlTest.php
Labels: helpers

#551 fix: malformed utf8 char
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Helper/Tika/TikaMeta.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaPromiseTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaTest.php
  elasticms-cli/tests/WebToElasticms/Helper/resources/malformed.pdf
Labels: documentation, elasticms-cli, github, admin-ui-bundle

#552 fix(core/job): schedule jobs not running by ems:job:run
  EMS/core-bundle/src/Repository/ScheduleRepository.php
Labels: core-bundle

#553 fix(standard/html): copy/paste relative links
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerConfigBuilder.php
Labels: helpers

#558 fix(cli/webToElasticms): expression array_merge reorder keys
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
Labels: elasticms-cli

#557 refactor(cli/webToElasticms): add reports assetInError
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Client/WebToElasticms/Extract/Html.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Html/InternalLink.php
  elasticms-cli/src/Client/WebToElasticms/Rapport/Rapport.php
Labels: elasticms-cli

#556 refactor(cli/media-library): sync already uploaded
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
Labels: elasticms-cli

#559 feat(common/api): file endpoint download method + TempFile helper
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/CoreApi/CoreApiInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/File/FileInterface.php
  EMS/helpers/src/File/TempFile.php
  elasticms-cli/src/Client/Audit/AuditResult.php
Labels: common-bundle, elasticms-cli, helpers

#560 fix(common): avoid loading file in memory (use TempFile)
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/helpers/src/File/TempFile.php
Labels: common-bundle, helpers

#555 feat(cli/media-sync): new options
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  composer.json
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySyncOptions.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
Labels: common-bundle, elasticms-cli, helpers

#562 feat: redirect to controller
  EMS/client-helper-bundle/src/Controller/RouterController.php
  EMS/client-helper-bundle/src/Resources/config/routing.xml
  EMS/common-bundle/src/Controller/FileController.php
  EMS/common-bundle/src/Helper/ArrayTool.php
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/tests/Unit/Helper/ArrayToolTest.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/helpers/src/Standard/Json.php
  EMS/helpers/tests/Unit/Standard/JsonTest.php
  demo/skeleton/template/redirects/media_files.json.twig
Labels: common-bundle, client-helper-bundle, core-bundle, demo, helpers
