Repository ems-project/elasticms, pull requests merged in 2023-06, with the labels that each got.

#483 fix: add minimum_should_match only if defined
  EMS/client-helper-bundle/src/Helper/Search/QueryBuilder.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
Labels: client-helper-bundle

#485 fix: tika jar path
  elasticms-cli/src/Helper/Tika/TikaWrapper.php
Labels: elasticms-cli

#486 fix: tika jar path (#485)
  elasticms-cli/src/Helper/Tika/TikaWrapper.php
Labels: elasticms-cli

#487 fix(demo): *.localhost no more internally available
  demo/.env
  demo/configs/elasticms-admin/ems-demo-dev.env
  demo/configs/elasticms-admin/ems-demo.env
  demo/docker-compose.yml
Labels: demo

#488 feat(cli): hash uid
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: common-bundle, elasticms-cli

#490 feat(common): s3 multipart upload
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/Resources/config/storage.xml
  EMS/common-bundle/src/Storage/Factory/S3Factory.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/EntityStorage.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/StorageInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
Labels: common-bundle

#491 fix: don't audit same urls with different parameters more than once
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/Audit/Report.php
  elasticms-cli/src/Client/WebToElasticms/Helper/Url.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/translations/.gitignore
Labels: common-bundle, elasticms-cli

#492 refactor: dataTable types
  EMS/core-bundle/src/Controller/ContentManagement/DatatableController.php
  EMS/core-bundle/src/Core/DataTable/DataTableFactory.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractEntityTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/DataTableTypeCollection.php
  EMS/core-bundle/src/Core/DataTable/Type/DataTableTypeInterface.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/datatable.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Routes.php
Labels: core-bundle

#495 fix(admin): security /admin routes
  elasticms-admin/config/packages/security.yaml
Labels: elasticms-admin

#498 fix(emsch form): isTokenValid
  EMS/client-helper-bundle/src/Helper/Hashcash/HashcashHelper.php
Labels: client-helper-bundle

#493 refactor(core): implement dataTable types
  EMS/core-bundle/src/Controller/ChannelController.php
  EMS/core-bundle/src/Controller/ContentManagement/DatatableController.php
  EMS/core-bundle/src/Controller/Dashboard/DashboardController.php
  EMS/core-bundle/src/Controller/Form/FormController.php
  EMS/core-bundle/src/Controller/Form/SubmissionController.php
  EMS/core-bundle/src/Controller/Job/ScheduleController.php
  EMS/core-bundle/src/Controller/QuerySearchController.php
  EMS/core-bundle/src/Controller/UploadedFileController.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/DataTable/Type/ChannelDataTableType.php
  EMS/core-bundle/src/DataTable/Type/DashboardDataTableType.php
  EMS/core-bundle/src/DataTable/Type/FormDataTableType.php
  EMS/core-bundle/src/DataTable/Type/FormSubmissionDataTableType.php
  EMS/core-bundle/src/DataTable/Type/JobScheduleDataTableType.php
  EMS/core-bundle/src/DataTable/Type/QuerySearchDataTableType.php
  EMS/core-bundle/src/DataTable/Type/UploadedFileLogDataTableType.php
  EMS/core-bundle/src/DataTable/Type/UserDataTableType.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/routing/admin/job.xml
  EMS/core-bundle/src/Resources/config/routing/channel.xml
  EMS/core-bundle/src/Resources/config/routing/dashboard.xml
  EMS/core-bundle/src/Resources/config/routing/form.xml
  EMS/core-bundle/src/Resources/config/routing/query-search.xml
  EMS/core-bundle/src/Resources/config/routing/submission.xml
  EMS/core-bundle/src/Resources/config/routing/uploaded-file-logs.xml
  EMS/core-bundle/src/Resources/config/routing/user/deprecated.xml
  EMS/core-bundle/src/Resources/config/routing/user/manage.xml
  EMS/core-bundle/src/Routes.php
Labels: core-bundle

#500 fix(core): dataTableFactory options
  EMS/core-bundle/src/Controller/ContentManagement/DatatableController.php
  EMS/core-bundle/src/Core/DataTable/DataTableFactory.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractEntityTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/DataTableTypeCollection.php
  EMS/core-bundle/src/Core/DataTable/Type/DataTableTypeInterface.php
  EMS/core-bundle/src/Form/Data/EntityTable.php
  EMS/core-bundle/src/Resources/config/routing/datatable.xml
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#502 fix(demo): update bundle.zip
  demo/configs/admin/assets/bundle.zip
Labels: demo

#503 refactor(demo): elasticms/base-php:8.1-fpm-dev
  demo/npm.sh
  demo/npx.sh
Labels: demo

#504 feat(client-helper): save assets hash in file
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
  EMS/core-bundle/src/Command/ManageAlias/CreateCommand.php
  demo/.gitignore
  demo/docker-elasticms.yml
  demo/ems.sh
  demo/skeleton/template/variables.twig
Labels: client-helper-bundle, core-bundle, demo

#506 fix(core/mediaLib): max folders 5000
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
Labels: core-bundle

#510 fix(common/propertyAccessor): a property can be of any type (bool, array, int, string, ...) e…
  EMS/common-bundle/src/Common/PropertyAccess/PropertyAccessor.php
Labels: common-bundle

#509 feat(emscli): add expression merge
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
Labels: elasticms-cli

#511 fix(core/revision): file field mimeType not defined and image asset config for preview
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#512 refactor: cant_be_finalized -> emsco_cant_be_finalized
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#513 feat(demo/elasticms): define EMSCO_ASSET_CONFIG for overwrite example
  demo/configs/elasticms-admin/ems-demo-dev.env
  demo/configs/elasticms-admin/ems-demo.env
Labels: demo

#515 feat(common): new ems:admin:restore command
  EMS/common-bundle/src/Command/Admin/BackupCommand.php
  EMS/common-bundle/src/Command/Admin/RestoreCommand.php
  EMS/common-bundle/src/Common/Admin/ConfigHelper.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Resources/config/commands.xml
  demo/configs/admin/schedule/check-aliases.json
  demo/configs/admin/schedule/clear-logs.json
  demo/configs/admin/schedule/publish-releases.json
  demo/configs/admin/schedule/remove-expired-submissions.json
  demo/configs/elasticms-web/preview.env
  demo/configs/elasticms-web/zz-live.env
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/.env
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/.env.dist
  elasticms-web/config/packages/ems_common.yaml
Labels: common-bundle, elasticms-admin, elasticms-web, elasticms-cli, demo

#520 feat(common/twig): new function ems_template_exists
  EMS/common-bundle/src/Resources/config/twig.xml
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/src/Twig/TemplateRuntime.php
Labels: common-bundle

#521 fix(clientHelper/asset): function emsch_asset assetConfig can be empty (return the file as is)
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
Labels: client-helper-bundle

#522 feat(elasticms-web/admin): common probe routes (_readiness, _liveness)
  EMS/common-bundle/src/Controller/ProbeController.php
  EMS/common-bundle/src/Resources/config/routing/probe.xml
  EMS/common-bundle/src/Resources/config/services.xml
  demo/configs/elasticms-admin/ems-demo.env
  elasticms-admin/config/packages/security.yaml
  elasticms-admin/config/routes.yaml
  elasticms-web/config/routes.yaml
Labels: common-bundle, elasticms-admin, elasticms-web, demo

#523 feat(clientHelper): redirect controller add headers support
  EMS/client-helper-bundle/src/Controller/RouterController.php
Labels: client-helper-bundle

#527 chore: cleanup bundles (composer scripts and .gitignore
  EMS/client-helper-bundle/.gitignore
  EMS/client-helper-bundle/composer.json
  EMS/common-bundle/.gitignore
  EMS/common-bundle/composer.json
  EMS/core-bundle/.gitignore
  EMS/core-bundle/composer.json
  EMS/form-bundle/.gitignore
  EMS/form-bundle/composer.json
  EMS/helpers/.gitignore
  EMS/helpers/composer.json
  EMS/submission-bundle/.gitignore
  EMS/submission-bundle/composer.json
  EMS/xliff/.gitignore
  EMS/xliff/composer.json
Labels: submission-bundle, common-bundle, form-bundle, client-helper-bundle, core-bundle, helpers, xliff

#528 fix(common/storage): s3 invalid cache key
  EMS/common-bundle/src/Storage/Service/S3Storage.php
Labels: common-bundle

#529 fix(build): maennchen/zipstream-php fix to 2.4
  EMS/common-bundle/composer.json
  EMS/core-bundle/composer.json
  composer.json
  composer.lock
Labels: common-bundle, core-bundle

#530 fix(form): the index is always an integer
  EMS/form-bundle/src/FormConfig/FieldChoicesConfig.php
Labels: form-bundle

#532 fix(common/storage): s3 upload core api not working (chunkSize)
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/helpers/composer.json
  EMS/helpers/src/File/File.php
Labels: common-bundle, helpers

#534 fix(core/entities): priority entity services
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#535 fix(core/api): create managed alias set alias (instanceId)
  EMS/core-bundle/src/Core/ManagedAlias/ManagedAliasManager.php
Labels: core-bundle

#533 fix(adminUI): add .gitattributes
  EMS/admin-ui-bundle/.gitattributes
Labels: admin-ui-bundle

#536 feat(demo): makeFile configs
  Makefile
  demo/.env
  demo/Makefile
  demo/configs/elasticms-admin/ems-demo-dev.env
  demo/configs/elasticms-admin/ems-demo.env
  elasticms-admin/.env.dist
  elasticms-admin/.env.local.dist
  elasticms-admin/Makefile
  elasticms-web/.env.dist
  elasticms-web/.env.local.dist
  elasticms-web/Makefile
Labels: elasticms-admin, elasticms-web, demo
