Repository ems-project/elasticms, pull requests merged in 2023-09, with the labels that each got.

#593 feat(cli/media-sync): target folder command option
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySyncOptions.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
  elasticms-cli/src/Commands.php
Labels: elasticms-cli

#598 fix(demo): add template news.ems_link.twig
  demo/skeleton/template/ems/news.ems_link.twig
Labels: demo

#597 feat(core/api): fileInterface::uploadContents
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/File/FileInterface.php
Labels: common-bundle

#601 feat(common/fileReader): hash file support and implementation in cli import
  EMS/common-bundle/src/Common/File/FileReader.php
  EMS/common-bundle/src/Contracts/File/FileReaderInterface.php
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: common-bundle, elasticms-cli

#602 feat(core/api): new index endpoint in order to init/update or merge/finalize
  EMS/common-bundle/src/Common/CoreApi/CoreApi.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Admin/Admin.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Draft.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Index.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Admin/AdminInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/File/FileInterface.php
  EMS/core-bundle/src/Controller/Api/Admin/InfoController.php
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/api/admin.xml
  EMS/core-bundle/src/Resources/config/routing/interface.xml
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySyncOptions.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
  elasticms-cli/src/Commands.php
Labels: common-bundle, elasticms-cli, core-bundle

#603 fix(core/cli): indexed file mapping
  EMS/core-bundle/src/Form/DataField/IndexedAssetFieldType.php
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
Labels: elasticms-cli, core-bundle

#604 feat(cli): retry on error
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: elasticms-cli

#605 fix(core/api): default versions (must always work)
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Admin/Admin.php
Labels: common-bundle

#607 fix(core/field): placeholder empty string when not defined
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
Labels: core-bundle

#608 fix(core/api): data not consumed error
  EMS/core-bundle/src/Form/DataField/FormFieldType.php
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#610 fix(core/api): index/update refresh wait
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#611 fix(core/api): no flash messages
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
Labels: core-bundle

#612 fix(core/api): data not consumed multipex fields
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
Labels: core-bundle

#613 fix(core/field): jsonMenuNestedLink fieldType
  EMS/common-bundle/src/Json/JsonMenuNested.php
  EMS/core-bundle/src/Core/Component/JsonMenuNested/JsonMenuNestedService.php
  EMS/core-bundle/src/Core/Component/JsonMenuNested/Template/Context/JsonMenuNestedRenderContext.php
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  demo/configs/admin/content-type/page.json
  demo/skeleton/template_ems/dashboard/sitemap.twig
Labels: common-bundle, core-bundle, demo

#614 feat: cache tika
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
  elasticms-cli/src/Helper/Tika/TikaCachePromise.php
  elasticms-cli/src/Helper/Tika/TikaHelper.php
  elasticms-cli/src/Helper/Tika/TikaJarPromise.php
  elasticms-cli/src/Helper/Tika/TikaMeta.php
  elasticms-cli/src/Helper/Tika/TikaPromiseInterface.php
  elasticms-cli/src/Helper/Tika/TikaServerPromise.php
Labels: elasticms-cli

#615 feat: includes utf8 punctuations in ascii folding
  EMS/common-bundle/src/Helper/Text/Encoder.php
Labels: common-bundle

#616 feat: load tika
  elasticms-cli/src/Command/MediaLibrary/LoadTikaCache.php
  elasticms-cli/src/Commands.php
Labels: elasticms-cli

#622 fix(cli): back to first character
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/HttpClient/CacheManager.php
Labels: elasticms-cli

#623 fix(core/job): support ansi chars
  EMS/core-bundle/src/Command/JobOutput.php
  EMS/core-bundle/src/Service/JobService.php
  EMS/core-bundle/tests/Unit/Core/Command/JobOutputTest.php
Labels: core-bundle

#620 fix(core/revisions): draft counter and dataTable not the same
  EMS/core-bundle/src/Controller/TwigElementsController.php
  EMS/core-bundle/src/Core/Revision/DraftInProgress.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/ContentTypeService.php
Labels: core-bundle
