Repository ems-project/elasticms, pull requests merged in 2023-10, with the labels that each got.

#626 fix(core/mediaLib): template modal not found
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
Labels: core-bundle

#628 feat(emscli): add matches expr + keep attr style
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Client/WebToElasticms/Extract/Html.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Html/StyleCleaner.php
Labels: elasticms-cli

#630 feat(emscli): audit file
  EMS/helpers/src/File/File.php
  elasticms-cli/src/Client/Audit/Report.php
  elasticms-cli/src/Client/File/Report.php
  elasticms-cli/src/Client/Report/AbstractReport.php
  elasticms-cli/src/Command/File/AuditFileCommand.php
  elasticms-cli/src/Commands.php
Labels: elasticms-cli, helpers

#629 feat(http-submission): no redirect http handler
  EMS/submission-bundle/src/Handler/HttpHandler.php
  EMS/submission-bundle/src/Request/HttpRequest.php
  EMS/submission-bundle/tests/Functional/Handler/HttpHandlerTest.php
Labels: submission-bundle

#632 feat(core/unpublish): db revisions not updated
  EMS/core-bundle/src/Command/Environment/UnpublishCommand.php
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: core-bundle

#633 feat(core/api): user profile return options
  EMS/client-helper-bundle/src/Security/CoreApi/User/CoreApiUser.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/User/Profile.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/User/ProfileInterface.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Entity/UserInterface.php
Labels: common-bundle, client-helper-bundle, core-bundle

#634 feat(admin): colorized app icons
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/html5.html.twig
  EMS/common-bundle/src/Controller/FileController.php
  EMS/common-bundle/src/Helper/EmsFields.php
  EMS/common-bundle/src/Resources/config/storage.xml
  EMS/common-bundle/src/Resources/public/images/ems-logo.png
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/all.xml
  EMS/core-bundle/src/Resources/config/routing/icons.xml
  EMS/core-bundle/src/Resources/views/base-light.html.twig
  EMS/core-bundle/src/Resources/views/base.html.twig
  EMS/core-bundle/src/Resources/views/ems-core/browserconfig.xml.twig
  EMS/core-bundle/src/Resources/views/ems-core/site.webmanifest.twig
  EMS/core-bundle/src/Resources/views/user/login.html.twig
  EMS/core-bundle/src/Service/FileService.php
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/helpers/src/Standard/Color.php
  demo/src/img/head/safari-pinned-tab.svg
  demo/src/img/logos/ems-logo.svg
  elasticms-admin/config/packages/security.yaml
  elasticms-admin/public/safari-pinned-tab.svg
Labels: common-bundle, elasticms-admin, core-bundle, demo, helpers, admin-ui-bundle

#637 feat(common/elasticSearch): skeleton working via the admin as proxy
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Search/Search.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Search/SearchInterface.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Elasticsearch/Response/Response.php
  EMS/common-bundle/src/Elasticsearch/Response/ResponseInterface.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Search/Search.php
  EMS/common-bundle/src/Service/ElasticaService.php
  EMS/core-bundle/src/Controller/Api/Search/SearchController.php
  EMS/core-bundle/src/Resources/config/routing/api/search.xml
  EMS/helpers/src/Standard/Type.php
  elasticms-web/config/packages/ems_common.yaml
Labels: common-bundle, elasticms-web, core-bundle, helpers

#638 feat(demo): update demo
  demo/.editorconfig
  demo/.env
  demo/README.md
  demo/configs/admin/assets/ems-monitoring.jpg
  demo/configs/admin/assets/ems-softHyphen.jpg
  demo/configs/admin/content-type/feature.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/release.json
  demo/configs/admin/content-type/section.json
  demo/configs/admin/form/menu-locales.json
  demo/configs/admin/wysiwyg-profile/Standard.json
  demo/configs/document/category/INgMKIoBTbVbdHDCLYqu.json
  demo/configs/document/category/e605d504-cf8c-424b-822b-e88052dbd760.json
  demo/configs/document/feature/041bb909-d63f-456f-ac9a-0ec6f159d266.json
  demo/configs/document/feature/15462c5d-c20e-49ab-b64d-f84ad2944f4f.json
  demo/configs/document/feature/201c18db-d512-4579-b781-1d1cc509e5c6.json
  demo/configs/document/feature/4085e3f5-6906-469d-b3c9-2cabaa7260e6.json
  demo/configs/document/feature/64e3f93a-db2e-4309-9c04-6e6a155599ab.json
  demo/configs/document/feature/6e74a44c-7c76-48c5-a611-d95b8032bea5.json
  demo/configs/document/feature/899d1669-35cd-4e78-bde1-fa69b4d92d1c.json
  demo/configs/document/feature/8c16adf2-9825-4ee4-bf0e-d67e16ff60ac.json
  demo/configs/document/feature/928c3056-9941-4128-8230-252986d33a13.json
  demo/configs/document/feature/9f22844a-ddbf-4fb0-9409-94b4125fa2bf.json
  demo/configs/document/feature/afca84d4-dfc1-40e3-8756-360ebe70b016.json
  demo/configs/document/feature/bef821b0-e536-43ca-b56d-400b5de967e1.json
  demo/configs/document/feature/c3c9340e-d1cf-4b5d-968f-de1cc5450909.json
  demo/configs/document/feature/c4e9d7ce-f99e-4491-8a95-c58d3f7a5c80.json
  demo/configs/document/feature/e192be46-fd10-4e62-94ec-d62d38c59b1a.json
  demo/configs/document/feature/e8e9768c-47c3-4a5c-957b-8b0df0c87781.json
  demo/configs/document/feature/f71b7a3c-f37a-4735-8618-e88254b21045.json
  demo/configs/document/feature/fec91dd3-8dcb-4a2a-bc4e-99304e2e4ea4.json
  demo/configs/document/news/IdgNKIoBTbVbdHDCCYqA.json
  demo/configs/document/news/MdiFZIoBTbVbdHDCfpe5.json
  demo/configs/document/page/02c9040f-1368-485c-92a6-a7c71b77224b.json
  demo/configs/document/page/6d9c61b0-84cf-42a8-a56c-75c9f101620c.json
  demo/configs/document/page/af70fcc8-e4b3-4e20-97fc-fd91fad751d9.json
  demo/configs/document/page/c04ee9be-2d25-4baf-a810-3ef4096e7d75.json
  demo/configs/document/release/07f8b81b-bcf0-4e01-81c6-9a2d820c5ab9.json
  demo/configs/document/release/1aa89b69-3535-4c1a-b6b0-56864588ef5e.json
  demo/configs/document/release/59a53b87-cc6a-4f30-b5ca-cb369c23759b.json
  demo/configs/document/section/1e617cf9-6b19-4c33-90ba-5a4c8feff062.json
  demo/configs/document/section/39d3ffdd-6ac3-4828-a1f6-970b1b884ce1.json
  demo/configs/document/user_group/b9f3882b-c8ba-49eb-8f62-658a7f750979.json
  demo/docker-elasticms.yml
  demo/ems.sh
  demo/skeleton/routes.yaml
  demo/skeleton/template/base/bootstrap.html.twig
  demo/skeleton/template/fragments/structure.html.twig
  demo/skeleton/template/news/details.html.twig
  demo/skeleton/template/page/blocks/news.html.twig
  demo/skeleton/template/page/blocks/releases.html.twig
  demo/skeleton/template/page/card/user_group.html.twig
  demo/skeleton/template/page/default.html.twig
  demo/skeleton/template/variables.twig
  demo/skeleton/template_ems/dashboard/json_menu_nested.twig
  demo/skeleton/translations/messages.fr.yaml
  demo/skeleton/translations/messages.nl.yaml
  demo/src/css/components/_navbar.scss
Labels: documentation, demo

#640 fix(admin/jmn): link fieldType needs environment
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#642 fix(admin): form locale and on jmn component
  EMS/core-bundle/src/Controller/Component/JsonMenuNestedController.php
  EMS/core-bundle/src/Core/Component/JsonMenuNested/Config/JsonMenuNestedConfig.php
  EMS/core-bundle/src/Core/Component/JsonMenuNested/Config/JsonMenuNestedConfigFactory.php
  EMS/core-bundle/src/Form/DataField/CollectionItemFieldType.php
  EMS/core-bundle/src/Form/DataField/DataFieldType.php
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
  EMS/core-bundle/src/Form/Extension/LocaleFormExtension.php
  EMS/core-bundle/src/Form/Form/RevisionJsonMenuNestedType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/views/components/json_menu_nested/template.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#641 feat(admin/postprocessing): better post processing error message
  EMS/core-bundle/src/Resources/translations/ems_logger.en.yml
  EMS/core-bundle/src/Service/Revision/PostProcessingService.php
Labels: core-bundle

#639 feat(common/storage): api storage
  EMS/client-helper-bundle/src/Helper/Local/LocalHelper.php
  EMS/client-helper-bundle/src/Resources/config/local.xml
  EMS/common-bundle/src/Common/Admin/AdminHelper.php
  EMS/common-bundle/src/Common/CoreApi/TokenStore.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Resources/config/storage.xml
  EMS/common-bundle/src/Storage/Factory/ApiFactory.php
  EMS/common-bundle/src/Storage/Service/ApiStorage.php
Labels: common-bundle, client-helper-bundle

#644 fix(admin/user): ignore empty string as valid Custom User Form
  EMS/core-bundle/src/Form/Form/UserOptionsType.php
Labels: core-bundle

#643 feat(admin): xliff export mail and currentRevisionOnly import
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/core-bundle/src/Command/Xliff/UpdateCommand.php
  EMS/core-bundle/src/Core/Mail/MailTemplate.php
  EMS/core-bundle/src/Core/Mail/MailerService.php
  EMS/core-bundle/src/Exception/XliffException.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/email/xliff/extract.email.html.twig
  EMS/core-bundle/src/Service/Internationalization/XliffService.php
Labels: core-bundle

#645 fix(admin/jmn): spaces in template
  EMS/core-bundle/src/Resources/views/components/json_menu_nested/template.twig
Labels: core-bundle

#646 fix(demo): a 500 error is triggered in case of a 404 error
  demo/skeleton/template/base/bootstrap.html.twig
Labels: demo

#648 feat(image resize): smart crop
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/helpers/src/Image/SmartCrop.php
  EMS/helpers/src/Standard/Type.php
Labels: common-bundle, helpers

#649 feat(submission): submission attachments route
  EMS/core-bundle/src/Controller/Form/SubmissionController.php
  EMS/core-bundle/src/Resources/config/routing/submission.xml
  EMS/form-bundle/src/Submission/Client.php
  EMS/form-bundle/src/Submission/FormData.php
  EMS/form-bundle/src/Submission/FormDataFile.php
  EMS/form-bundle/src/Submission/HandleRequest.php
  EMS/submission-bundle/src/Entity/FormSubmissionFile.php
  EMS/submission-bundle/tests/Functional/Handler/AbstractHandlerTest.php
  EMS/submission-bundle/tests/Functional/Handler/Chained/AbstractChainedTest.php
  EMS/submission-bundle/tests/Functional/Handler/PdfHandlerTest.php
Labels: submission-bundle, form-bundle, core-bundle

#652 fix(core/xliff): extract command email options optional
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
Labels: core-bundle

#651 fix(clientHelper): emsch_routing only prefix internal urls
  EMS/client-helper-bundle/src/Helper/Routing/Url/Generator.php
  EMS/client-helper-bundle/src/Helper/Routing/Url/Transformer.php
Labels: client-helper-bundle
