Repository ems-project/elasticms, pull requests merged in 2023-08, with the labels that each got.

#564 fix(helper): tempFile load from stream not working
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/helpers/src/File/TempFile.php
Labels: common-bundle, core-bundle, helpers

#565 feat(core/twig): new emsco_get filter (deprecated data filter)
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#567 feat(core/content-type): datalink tooltip in edit mode
  EMS/core-bundle/assets/js/helpers.js
  EMS/core-bundle/src/Core/Document/DataLinks.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Form/Field/ObjectChoiceListItem.php
  EMS/core-bundle/src/Form/Field/ObjectPickerType.php
  EMS/core-bundle/src/Resources/public/js/app.9b69fcad49fdc6008982.js
  EMS/core-bundle/src/Resources/public/js/calendar.ab93879a7b9a032c8f16.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.69e9aba59955f4ad6f87.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.fbed00925b53ff2b89f5.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.d9c43aba80ce5295f277.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.4b00d371fbad5e27fd8a.js
  EMS/core-bundle/src/Resources/public/js/i18n.8b40164659ec16a58a0e.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.14b8e2545bba0fbc13aa.js
  EMS/core-bundle/src/Resources/public/js/template.31774523a1e04342cfa8.js
  EMS/core-bundle/src/Resources/public/js/user-profile.94c0859566d339de3b9b.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#568 fix(common/ems-html): print urls keep anchors and empty links
  EMS/common-bundle/src/Common/Text/EmsHtml.php
  EMS/common-bundle/tests/Unit/Twig/EmsHtmlTest.php
Labels: common-bundle

#569 chore(make): mysql support and demo load
  Makefile
  demo/Makefile
  demo/configs/admin/environment/default.json
Labels: demo

#571 refactor(core/dataTable): all tables should be types
  EMS/core-bundle/src/Controller/ContentManagement/ActionController.php
  EMS/core-bundle/src/Controller/ContentManagement/ReleaseController.php
  EMS/core-bundle/src/Controller/ContentManagement/ViewController.php
  EMS/core-bundle/src/Controller/Log/LogController.php
  EMS/core-bundle/src/Controller/Revision/DetailController.php
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Controller/UploadedFileWysiwygController.php
  EMS/core-bundle/src/Core/Revision/DraftInProgress.php
  EMS/core-bundle/src/DataTable/Type/ContentType/ContentTypeActionDataTableType.php
  EMS/core-bundle/src/DataTable/Type/ContentType/ContentTypeViewDataTableType.php
  EMS/core-bundle/src/DataTable/Type/LogDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseOverviewDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleasePickDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseRevisionDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionAuditDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionDraftsDataTableType.php
  EMS/core-bundle/src/DataTable/Type/WysiwygUploadedFileDataTableType.php
  EMS/core-bundle/src/Repository/ReleaseRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/routing/action.xml
  EMS/core-bundle/src/Resources/config/routing/admin/view.xml
  EMS/core-bundle/src/Resources/config/routing/data.xml
  EMS/core-bundle/src/Resources/config/routing/edit.xml
  EMS/core-bundle/src/Resources/config/routing/log.xml
  EMS/core-bundle/src/Resources/config/routing/release.xml
  EMS/core-bundle/src/Resources/config/routing/template-deprecated.xml
  EMS/core-bundle/src/Resources/config/routing/uploaded-file-wysiwyg.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Routes.php
  EMS/core-bundle/src/Service/ReleaseRevisionService.php
  EMS/core-bundle/src/Service/ReleaseService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  Makefile
Labels: core-bundle

#575 fix(demo/make): init setup should call start
  demo/Makefile
  demo/README.md
Labels: documentation, elasticms-cli, demo

#576 fix(common/emsLink): support json encode
  EMS/common-bundle/src/Common/EMSLink.php
  EMS/common-bundle/tests/Unit/Common/EMSLinkTest.php
Labels: common-bundle

#578 fix(common): typo runtime exception
  EMS/common-bundle/src/Storage/StorageManager.php
Labels: common-bundle

#583 feat(core): version mapping and translate analyzer languages
  EMS/core-bundle/src/Form/Field/AnalyzerPickerType.php
  EMS/core-bundle/src/Repository/AnalyzerRepository.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
  EMS/core-bundle/src/Service/ElasticsearchService.php
Labels: core-bundle

#584 fix(core/dataLink): js issue
  EMS/core-bundle/assets/js/helpers.js
  EMS/core-bundle/src/Resources/public/js/app.f44ca8416ef701aa5a8e.js
  EMS/core-bundle/src/Resources/public/js/calendar.78f9da97e57bb4059ec7.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.2395904f3c1010be4fc1.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.309e064c247fab236c53.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.d8a6da5972b2a783bac5.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.e7a2471d017f02d53860.js
  EMS/core-bundle/src/Resources/public/js/i18n.59c49b14289d82b79c2d.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.8ac45fcaf62ad221b1c8.js
  EMS/core-bundle/src/Resources/public/js/template.8974234e1a55d5428090.js
  EMS/core-bundle/src/Resources/public/js/user-profile.634e3510c99fd1457e85.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#589 feat: audit base url
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Command/Web/AuditCommand.php
Labels: elasticms-cli

#591 fix: edit dashboard
  EMS/core-bundle/src/Controller/Dashboard/DashboardController.php
Labels: core-bundle
