Repository ems-project/elasticms, pull requests merged in 2024-03, with the labels that each got.

#793 refactor(twig): twig lint
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/media_library/template.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/search-form-filter.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/search.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/release-revisions.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/user/profile/show.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_item.html.twig
  EMS/core-bundle/src/Form/Field/FieldTypePickerType.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle, admin-ui-bundle

#790 feat(wysiwyg/preview): prefixed styleset css, remove iframe
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/assets/js/core/plugins/wysiwyg.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/edit-revision.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/core-bundle/composer.json
  EMS/core-bundle/src/Controller/Wysiwyg/StylesetController.php
  EMS/core-bundle/src/Entity/WysiwygStylesSet.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/wysiwyg.xml
  EMS/helpers/src/File/File.php
  composer.json
  composer.lock
Labels: documentation, common-bundle, core-bundle, github, helpers, admin-ui-bundle

#794 fix(core/flash-messages): obvious duplicate alerts
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
Labels: core-bundle

#795 refactor(cke5): autosave on keyup input an cke5 fields
  EMS/admin-ui-bundle/_to_be_ref/js/CKEditorConfig.js
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ck5/uploadAdapter.js
  EMS/admin-ui-bundle/assets/js/core/helpers/editor.js
  EMS/admin-ui-bundle/assets/js/core/plugins/form.js
  EMS/admin-ui-bundle/assets/js/core/plugins/wysiwyg.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/webpack.config.js
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
Labels: documentation, core-bundle, github, admin-ui-bundle

#796 refactor(cke5): continue on cke5 refactoring
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/assets/js/core/helpers/editor.js
  EMS/admin-ui-bundle/assets/js/core/plugins/wysiwyg.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/helpers.html.twig
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
Labels: documentation, github, admin-ui-bundle

#797 feat(core/tasks): add task title suggestions
  EMS/admin-ui-bundle/src/Resources/translations/elements.en.xlf
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/contenttype/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/panel.html.twig
  EMS/core-bundle/src/Controller/Revision/TaskController.php
  EMS/core-bundle/src/Core/ContentType/ContentTypeSettings.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Form/Form/ContentTypeSettingsType.php
  EMS/core-bundle/src/Form/Revision/Task/RevisionTaskType.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20240226165436.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/contenttype/edit.html.twig
  EMS/core-bundle/src/Resources/views/core/panel.html.twig
  EMS/helpers/src/Standard/Type.php
  demo/configs/admin/content-type/page.json
Labels: core-bundle, demo, helpers, admin-ui-bundle

#799 feat(client-helper/wysiwyg): update style sets during emsch:local:upload-assets
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Admin/ConfigTypes.php
  EMS/helpers/src/Html/MimeTypes.php
Labels: common-bundle, client-helper-bundle, helpers

#802 fix(common): ascii folding and webalize
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/Helper/Text/Encoder.php
  EMS/common-bundle/tests/Unit/Helper/Text/EncoderTest.php
  elasticms-admin/config/packages/ems_common.yaml
Labels: common-bundle, elasticms-admin

#800 refactor(cke5): clean on paste
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ck5/pasteAjax.js
  EMS/admin-ui-bundle/assets/js/core/helpers/editor.js
Labels: admin-ui-bundle

#801 refactor(common): flag ems_webalize as deprecated alternative slug
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Helper/Text/Encoder.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  EMS/common-bundle/tests/Unit/Helper/Text/EncoderTest.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  docs/dev/common-bundle/twig.md
  docs/dev/submission-bundle/handlers/email.md
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-cli/parameters.md
  docs/elasticms-web/parameters.md
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/config/packages/ems_common.yaml
Labels: documentation, common-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle

#803 docs: corresponding revision
  docs/upgrade.md
Labels: documentation

#805 fix(emsch/api): refresh through core api
  EMS/client-helper-bundle/src/Helper/Local/LocalHelper.php
  EMS/common-bundle/src/Service/ElasticaService.php
Labels: common-bundle, client-helper-bundle

#804 feat(core/task): notification mail command
  EMS/core-bundle/src/Command/Revision/Task/TaskCreateCommand.php
  EMS/core-bundle/src/Command/Revision/Task/TaskNotificationMailCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Core/Mail/MailTemplate.php
  EMS/core-bundle/src/Core/Revision/Task/TaskEventSubscriber.php
  EMS/core-bundle/src/Core/Revision/Task/TaskMailer.php
  EMS/core-bundle/src/Core/Revision/Task/TaskManager.php
  EMS/core-bundle/src/Entity/UserInterface.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/revision/task/mail.twig
  docs/elasticms-admin/commands/commands.md
Labels: documentation, core-bundle

#806 fix(common): ascii folding use the UnicodeString->ascii method
  EMS/common-bundle/src/Helper/Text/Encoder.php
  EMS/common-bundle/tests/Unit/Helper/Text/EncoderTest.php
Labels: common-bundle

#808 refactor(core/media-lib): improve config injection
  EMS/core-bundle/src/Command/MediaLibrary/AbstractMediaLibraryCommand.php
  EMS/core-bundle/src/Command/MediaLibrary/MediaLibraryFolderDeleteCommand.php
  EMS/core-bundle/src/Command/MediaLibrary/MediaLibraryFolderRenameCommand.php
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Config/MediaLibraryConfig.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Config/MediaLibraryConfigFactory.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Folder/MediaLibraryFolder.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Folder/MediaLibraryFolders.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryDocument.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryPath.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/src/Core/Config/AbstractConfigFactory.php
  EMS/core-bundle/src/Core/Config/ConfigFactoryInterface.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Resources/config/core.xml
  demo/configs/admin/content-type/media_file.json
Labels: core-bundle, demo

#798 feat(core/user): add expiration date property
  EMS/common-bundle/src/Common/CoreApi/Endpoint/User/Profile.php
  EMS/common-bundle/tests/Unit/Common/CoreApi/Endpoint/User/ProfileAiTest.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/DataTable/Type/UserDataTableType.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Entity/UserInterface.php
  EMS/core-bundle/src/EventListener/LoginListener.php
  EMS/core-bundle/src/Form/Form/UserType.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20240311132619.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20240311130622.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/user/add.html.twig
  EMS/core-bundle/src/Resources/views/user/edit.html.twig
  EMS/core-bundle/src/Resources/views/user/index.html.twig
Labels: common-bundle, elasticms-admin, core-bundle

#812 fix(core/media-lib): fix folder rename not working
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryDocumentDTO.php
Labels: core-bundle

#814 fix(core/tasks): task notification command start/end deadline
  EMS/core-bundle/src/Command/Revision/Task/TaskNotificationMailCommand.php
  EMS/core-bundle/src/Core/Revision/Task/TaskManager.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  docs/elasticms-admin/commands/commands.md
Labels: documentation, core-bundle

#815 fix(core/tasks): remove tasks on delete revision
  EMS/core-bundle/src/Core/Revision/Task/TaskManager.php
  EMS/core-bundle/src/EventListener/RevisionDoctrineListener.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#816 fix(core/tasks): on revision discard draft skip removing tasks
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/EventListener/RevisionDoctrineListener.php
Labels: core-bundle

#818 fix(core/twig): emsco_revisions_draft broken accessing revision as array
  EMS/core-bundle/src/Repository/RevisionRepository.php
Labels: core-bundle

#819 refactor(admin/wysiwyg): cke5 apply profile and docs
  EMS/admin-ui-bundle/_to_be_ref/js/CKEditorConfig.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ck5/pasteAjax.js
  EMS/admin-ui-bundle/assets/js/core/helpers/editor.js
  docs/upgrade.md
Labels: documentation, github, admin-ui-bundle

#824 fix(core/channel): entry path not defined should return null
  EMS/core-bundle/src/Entity/Channel.php
Labels: core-bundle

#780 feat(core/users): permissions overview (r-n-r-summary)
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/Core/ContentType/FieldType/FieldTypeTreeItem.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/user/manage.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/contenttype/index.html.twig
  EMS/core-bundle/src/Resources/views/user/permissions/permissions.html.twig
  EMS/core-bundle/src/Resources/views/user/permissions/specific-permissions-field.html.twig
  EMS/core-bundle/src/Resources/views/user/permissions/specific-permissions.html.twig
  EMS/core-bundle/src/Roles.php
  EMS/core-bundle/src/Routes.php
  elasticms-admin/config/packages/security.yaml
Labels: common-bundle, client-helper-bundle, elasticms-admin, core-bundle, demo

#827 fix(common/processor): image cast int for wartermark
  EMS/common-bundle/src/Storage/Processor/Image.php
Labels: common-bundle

#835 fix(admin): publish all search results is not working
  EMS/core-bundle/src/Controller/ContentManagement/PublishController.php
Labels: core-bundle

#840 fix(core/wywiwyg): delegate label to RevisionService::display
  EMS/core-bundle/src/Controller/Wysiwyg/ModalController.php
Labels: core-bundle

#839 fix(bootstrap 5): need a clearfix when text counter and no help
  EMS/admin-ui-bundle/assets/js/core/plugins/text.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
Labels: admin-ui-bundle

#842 fix(core/release): revision ouuid does not exist anymore
  EMS/core-bundle/src/Resources/views/release/columns/release-revisions.html.twig
Labels: bug, core-bundle

#841 fix(core/task): doctrine listener only on current revisions
  EMS/core-bundle/src/EventListener/RevisionDoctrineListener.php
Labels: bug, core-bundle

#848 feat(core/form): enable form routes with debug
  EMS/form-bundle/.browserslistrc
  EMS/form-bundle/babel.config.json
  EMS/form-bundle/package-lock.json
  EMS/form-bundle/package.json
  EMS/form-bundle/src/Controller/DebugController.php
  EMS/form-bundle/src/FormConfig/FormConfig.php
  EMS/form-bundle/src/FormConfig/SubmissionConfig.php
  EMS/form-bundle/src/Resources/config/routing/debug.xml
  EMS/form-bundle/src/Resources/config/routing/form.xml
  EMS/form-bundle/src/Resources/public/js/backend.js
  EMS/form-bundle/src/Resources/public/js/debug.js
  EMS/form-bundle/src/Resources/public/js/dynamicFields.js
  EMS/form-bundle/src/Resources/public/js/form.js
  EMS/form-bundle/src/Resources/public/js/formDebug.js
  EMS/form-bundle/src/Resources/public/js/validation.js
  EMS/form-bundle/src/Resources/views/debug/base.html.twig
  EMS/form-bundle/src/Resources/views/debug/form.html.twig
  EMS/form-bundle/src/Resources/views/debug/iframe.html.twig
  EMS/form-bundle/webpack.config.js
  demo/configs/admin/content-type/form_instance.json
  demo/skeleton/routes.yaml
  demo/skeleton/template/page/blocks/form.html.twig
  demo/skeleton/template_ems/actions.twig
  docs/upgrade.md
  elasticms-admin/config/routes.yaml
  elasticms-web/config/routes/dev/ems.yaml
Labels: documentation, form-bundle, elasticms-admin, elasticms-web, demo

#847 feat(core/xliff): accept filename or hash in update command
  EMS/common-bundle/src/Storage/File/FileInterface.php
  EMS/common-bundle/src/Storage/File/LocalFile.php
  EMS/common-bundle/src/Storage/File/StorageFile.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/core-bundle/src/Command/Xliff/UpdateCommand.php
  EMS/core-bundle/src/Resources/config/command.xml
Labels: common-bundle, core-bundle

#853 feat(core/user): custom reset email with i18n
  EMS/core-bundle/src/Resources/views/user/mail.twig
  docs/elasticms-admin/i18n/i18n.md
  docs/elasticms-admin/index.md
Labels: documentation, core-bundle

#851 feat(core/api): new submission view endpoint
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Form/Form.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Form/FormInterface.php
  EMS/core-bundle/src/Controller/Api/Form/SubmissionController.php
  EMS/core-bundle/src/Resources/config/routing/all.xml
  EMS/core-bundle/src/Resources/config/routing/api.xml
  EMS/core-bundle/src/Resources/config/routing/api/forms.xml
  EMS/core-bundle/src/Resources/config/routing/interface.xml
  EMS/core-bundle/src/Service/Form/Submission/FormSubmissionService.php
  EMS/form-bundle/src/Submission/FormDataFile.php
  EMS/submission-bundle/src/Entity/FormSubmission.php
  EMS/submission-bundle/src/Entity/FormSubmissionFile.php
  EMS/submission-bundle/src/Request/DatabaseRequest.php
  Makefile
  demo/configs/document/form_instance/c58f67d7-0c75-45fa-b4ec-46bc27eda055.json
  demo/configs/document/form_instance/da054508-244c-4759-822d-f3d4575c32cf.json
  demo/skeleton/template_ems/submission/form_example_files.twig
  demo/skeleton/template_ems/submission/form_user_group.twig
  demo/skeleton/translations/messages.de.yaml
  demo/skeleton/translations/messages.en.yaml
  demo/skeleton/translations/messages.fr.yaml
  demo/skeleton/translations/messages.nl.yaml
  docs/dev/common-bundle/core-api.md
  docs/dev/submission-bundle/handlers/email.md
  docs/dev/submission-bundle/index.md
Labels: documentation, submission-bundle, common-bundle, form-bundle, core-bundle, demo

#854 docs(demo): update from promo
  demo/configs/admin/assets/Monitoring externe.png
  demo/configs/admin/assets/news_Cookie-Orejime-AWS.png
  demo/configs/admin/content-type/feature.json
  demo/configs/admin/content-type/release.json
  demo/configs/document/feature/3098d8a5-81c4-4e81-a9e1-a112610472fd.json
  demo/configs/document/feature/423361c0-9068-4689-81fd-7b5f4e5c8c5b.json
  demo/configs/document/feature/edcffe2b-6edf-4fe8-b92f-ac0ed241a5a0.json
  demo/configs/document/media_file/a7d902f0-e287-4350-8a7d-2b2856565918.json
  demo/configs/document/news/03c29e15-3c62-4ce4-b42e-e3e297c2095c.json
  demo/configs/document/news/829c348b-3b3c-4d85-bdcb-1e5e3dd0ffa7.json
  demo/configs/document/page/02c9040f-1368-485c-92a6-a7c71b77224b.json
  demo/configs/document/page/6de7e617-224c-4ded-86e0-59741f6b3382.json
  demo/configs/document/page/c04ee9be-2d25-4baf-a810-3ef4096e7d75.json
  demo/configs/document/release/727bfbde-e5e6-4929-aa83-ce24ec1aafe1.json
  demo/configs/document/user_group/b9f3882b-c8ba-49eb-8f62-658a7f750979.json
Labels: demo

#858 docs: hashcash improved
  docs/dev/form-bundle/config.md
Labels: documentation

#855 feat(core/api): new submission file download endpoint
  EMS/client-helper-bundle/src/Controller/ApiController.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/Helper/Api/ApiService.php
  EMS/client-helper-bundle/src/Helper/Api/Client.php
  EMS/client-helper-bundle/src/Resources/config/api.xml
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Form/Form.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Form/FormInterface.php
  EMS/core-bundle/src/Controller/Api/Form/SubmissionController.php
  EMS/core-bundle/src/Repository/FormSubmissionFileRepository.php
  EMS/core-bundle/src/Resources/config/repositories.xml
  EMS/core-bundle/src/Resources/config/routing/api/forms.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/Form/Submission/FormSubmissionService.php
  EMS/submission-bundle/src/Entity/FormSubmission.php
  demo/configs/document/form_instance/c58f67d7-0c75-45fa-b4ec-46bc27eda055.json
  demo/skeleton/routes.yaml
  demo/skeleton/template/sso/test_sso.html.twig
  demo/skeleton/template_ems/submission/form_example_files.twig
  docs/dev/common-bundle/core-api.md
Labels: documentation, submission-bundle, common-bundle, client-helper-bundle, core-bundle, demo

#859 feat(core/search): add deprecrated search index view
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Repository/SearchRepository.php
  EMS/core-bundle/src/Resources/config/routing/elasticsearch.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/views/elasticsearch/index.html.twig
  EMS/core-bundle/src/Service/SearchService.php
Labels: core-bundle

#845 refactor(core): migration wysiwyg profiles & stylesets
  EMS/core-bundle/src/Controller/WysiwygController.php
  EMS/core-bundle/src/DataTable/Type/Wysiwyg/WysiwygProfileDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Wysiwyg/WysiwygStylesSetDataTableType.php
  EMS/core-bundle/src/Repository/WysiwygProfileRepository.php
  EMS/core-bundle/src/Repository/WysiwygStylesSetRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/wysiwygprofile/index.html.twig
  EMS/core-bundle/src/Service/WysiwygProfileService.php
  EMS/core-bundle/src/Service/WysiwygStylesSetService.php
Labels: elasticms-admin, core-bundle, refactor

#820 refactor(core): migration environment table index
  EMS/core-bundle/src/Controller/ContentManagement/EnvironmentController.php
  EMS/core-bundle/src/DataTable/Type/EnvironmentDataTableType.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Form/Data/TableColumn.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/channel/menu.html.twig
  EMS/core-bundle/src/Resources/views/environment/index.html.twig
  EMS/core-bundle/src/Resources/views/environment/view.html.twig
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: elasticms-admin, core-bundle, refactor
