Repository ems-project/elasticms, pull requests merged in 2024-07, with the labels that each got.

#930 refactor(elasticms): cache in storages
  EMS/common-bundle/src/Command/Storage/ClearCacheCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Controller/FileController.php
  EMS/common-bundle/src/Resources/config/commands.xml
  EMS/common-bundle/src/Resources/config/storage.xml
  EMS/common-bundle/src/Storage/File/LocalFile.php
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/EntityStorage.php
  EMS/common-bundle/src/Storage/Service/FileSystemStorage.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/StorageInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/tests/Unit/Controller/FileControllerAiTest.php
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Service/FileService.php
Labels: common-bundle, client-helper-bundle, core-bundle

#938 fix(common/storage): return 404 response on not found
  EMS/common-bundle/src/Storage/Processor/Processor.php
Labels: common-bundle

#935 fix(admin): environment not existing thows 500 error
  EMS/common-bundle/src/Service/ElasticaService.php
  EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php
  EMS/core-bundle/src/Controller/ContentManagement/EnvironmentController.php
  EMS/core-bundle/src/Form/View/HierarchicalViewType.php
  EMS/core-bundle/src/Form/View/SorterViewType.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/Mapping.php
  EMS/core-bundle/src/Service/SearchService.php
Labels: common-bundle, core-bundle

#939 refactor(elasticms): archives in cache storage
  EMS/client-helper-bundle/src/Controller/RouterController.php
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
  EMS/client-helper-bundle/src/Helper/Routing/Url/Transformer.php
  EMS/common-bundle/src/Common/File/FileStructure/S3Client.php
  EMS/common-bundle/src/Controller/FileController.php
  EMS/common-bundle/src/Helper/MimeTypeHelper.php
  EMS/common-bundle/src/Resources/config/routing/assets.xml
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/EntityStorage.php
  EMS/common-bundle/src/Storage/Service/FileSystemStorage.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/StorageInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/src/Storage/StreamWrapper.php
  EMS/common-bundle/tests/Unit/Storage/StorageManagerTest.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Service/AssetExtractorService.php
  EMS/core-bundle/src/Service/FileService.php
  EMS/core-bundle/src/Service/NotificationService.php
  EMS/helpers/src/File/File.php
  EMS/helpers/src/File/TempDirectory.php
  EMS/submission-bundle/src/Request/EmailRequest.php
  demo/skeleton/template/variables.twig
  docs/dev/client-helper-bundle/routing.md
  docs/dev/client-helper-bundle/twig.md
  docs/upgrade.md
  elasticms-admin/config/routes.yaml
  elasticms-web/config/routes.yaml
Labels: documentation, submission-bundle, common-bundle, client-helper-bundle, elasticms-admin, elasticms-web, core-bundle, demo, helpers

#943 fix(demo): release search not working
  demo/skeleton/template/page/blocks/releases.html.twig
Labels: demo

#940 refactor(emsch/api): use common api
  EMS/client-helper-bundle/src/Controller/ApiController.php
  EMS/client-helper-bundle/src/Helper/Api/ApiService.php
  EMS/client-helper-bundle/src/Resources/config/api.xml
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Index.php
  EMS/common-bundle/src/Common/CoreApi/Exception/NotSuccessfulException.php
  EMS/common-bundle/src/Common/CoreApi/Result.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/common-bundle/tests/Unit/Common/CoreApi/Exception/NotSuccessfulExceptionAiTest.php
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Service/DataService.php
  demo/skeleton/routes.yaml
  demo/skeleton/template/security/ems.html.twig
  demo/skeleton/template/security/version.html.twig
  demo/skeleton/template/security/version_validate.twig
  demo/skeleton/template/security/versions.html.twig
  demo/skeleton/template_ems/content_type/display.twig
Labels: common-bundle, client-helper-bundle, core-bundle, demo

#942 feat(common/twig): ems_file_from_archive twig function
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  docs/dev/common-bundle/twig.md
  docs/upgrade.md
Labels: documentation, common-bundle, client-helper-bundle

#945 refactor(elasticms): emsch assets is dep
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  EMS/common-bundle/src/Storage/Processor/Config.php
  docs/dev/client-helper-bundle/twig.md
  docs/dev/common-bundle/processors.md
  docs/upgrade.md
Labels: documentation, common-bundle, client-helper-bundle

#947 chore(admin/web): improve dev logging (doctrine)
  elasticms-admin/bin/console
  elasticms-admin/config/packages/monolog.yaml
  elasticms-web/bin/console
  elasticms-web/config/packages/monolog.yaml
Labels: elasticms-admin, elasticms-web

#948 chore(build): .cache folder for ci tools
  .github/workflows/ci.yml
  .github/workflows/code_quality.yml
  .github/workflows/commit_quality.yml
  .github/workflows/splitter.yml
  .gitignore
  .php-cs-fixer.dist.php
  EMS/helpers/tests/Unit/Standard/DateTimeAiTest.php
  composer.json
  phpstan.neon.dist
  phpunit.xml.dist
Labels: admin-ui-bundle, helpers, github

#941 feat(core/cli): contentType recompute new changed option
  .editorconfig
  EMS/common-bundle/src/Common/Command/AbstractCommand.php
  EMS/core-bundle/src/Command/ContentType/LockCommand.php
  EMS/core-bundle/src/Command/ContentType/RecomputeCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Service/IndexService.php
  docs/dev/core-bundle/commands.md
Labels: documentation, common-bundle, core-bundle

#951 fix(core/user): export users switch last login and expiration date
  EMS/core-bundle/src/Controller/UserController.php
Labels: core-bundle

#946 feat(admin): image resize
  EMS/common-bundle/src/Helper/EmsFields.php
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/core-bundle/assets/js/EmsListeners.js
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/assets/js/helper/resizeImage.js
  EMS/core-bundle/src/Core/Component/MediaLibrary/File/MediaLibraryFile.php
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Form/DataField/AssetFieldType.php
  EMS/core-bundle/src/Form/DataField/IndexedAssetFieldType.php
  EMS/core-bundle/src/Form/Field/AssetType.php
  EMS/core-bundle/src/Form/Field/FileType.php
  EMS/core-bundle/src/Form/Form/MediaLibrary/MediaLibraryDocumentFormType.php
  EMS/core-bundle/src/Resources/public/css/app.f1b15f85062893311983.css
  EMS/core-bundle/src/Resources/public/css/calendar.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/criteria-table.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/criteria-view.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/edit-revision.f1b15f85062893311983.css
  EMS/core-bundle/src/Resources/public/css/hierarchical.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/i18n.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/managed-alias.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/template.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/css/user-profile.e08dcc1df058e680457e.css
  EMS/core-bundle/src/Resources/public/js/app.2754a2773f6e8a4047c9.js
  EMS/core-bundle/src/Resources/public/js/app.8fb8b85081d3e9e0e472.js
  EMS/core-bundle/src/Resources/public/js/calendar.19a0c36c42e09eb299a4.js
  EMS/core-bundle/src/Resources/public/js/calendar.19b8dacb189004252a20.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.e6d8cbf441c4a95b8383.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.eaccb197fbe309034835.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.384d7cf446912aed6563.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.30b20a2266c3f0aa353e.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.bf6c9615927e0db6d227.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.e2cd37cf71443be63807.js
  EMS/core-bundle/src/Resources/public/js/i18n.1a245a4825a0a2a88a6b.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.2bfc8f4c78de1204af23.js
  EMS/core-bundle/src/Resources/public/js/template.e392bb7bfad0f5893a46.js
  EMS/core-bundle/src/Resources/public/js/user-profile.1cc2ec2b905396a677f8.js
  EMS/core-bundle/src/Resources/public/js/user-profile.b3df02ee3a5e32a5df0d.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/base.html.twig
  EMS/core-bundle/src/Resources/views/components/media_library/template.twig
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
  docs/elasticms-admin/environment-variables.md
  docs/upgrade.md
  elasticms-admin/config/packages/ems_core.yaml
Labels: documentation, common-bundle, elasticms-admin, core-bundle

#952 feat(core): ems:job:run execute releases
  EMS/core-bundle/src/Command/JobCommand.php
  EMS/core-bundle/src/Command/Release/PublishReleaseCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Repository/ReleaseRepository.php
  EMS/core-bundle/src/Resources/config/command.xml
  docs/upgrade.md
Labels: documentation, core-bundle

#954 fix(core/revision): collection enter key triggers delete first item
  EMS/core-bundle/src/Form/DataField/CollectionItemFieldType.php
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#955 fix(core/revision): duplicate ouuid put back deleted revision
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Controller/Revision/TrashController.php
  EMS/core-bundle/src/Exception/DuplicateOuuidException.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#956 refactor(core): CoreControllerTrait instead of abstract class
  .github/workflows/ci.yml
  EMS/core-bundle/src/Controller/ContentManagement/ReleaseController.php
  EMS/core-bundle/src/Controller/CoreControllerTrait.php
Labels: core-bundle, github

#958 refactor(common/log): use translateMessage in LocalizedLogger
  EMS/common-bundle/src/Common/Log/LocalizedLogger.php
  EMS/common-bundle/src/Contracts/Log/LocalizedLoggerInterface.php
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
Labels: common-bundle, core-bundle

#914 feat(revision): improve datatable drafts and trash
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/crud/overview.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/draft-in-progress.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/trash.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Controller/Revision/TrashController.php
  EMS/core-bundle/src/Core/DataTable/DataTableFactory.php
  EMS/core-bundle/src/Core/DataTable/TableRenderer.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractEntityTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractQueryTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractTableType.php
  EMS/core-bundle/src/Core/DataTable/Type/QueryServiceTypeInterface.php
  EMS/core-bundle/src/Core/Revision/DraftInProgress.php
  EMS/core-bundle/src/Core/Revision/RevisionQueryService.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionDraftsDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionTrashDataTableType.php
  EMS/core-bundle/src/EMSCoreBundle.php
  EMS/core-bundle/src/Form/Data/QueryTable.php
  EMS/core-bundle/src/Form/Data/RevisionDisplayTableColumn.php
  EMS/core-bundle/src/Form/Data/TableAbstract.php
  EMS/core-bundle/src/Form/Data/TableAction.php
  EMS/core-bundle/src/Form/Data/TableColumn.php
  EMS/core-bundle/src/Form/Data/TableInterface.php
  EMS/core-bundle/src/Form/Data/TableItemAction.php
  EMS/core-bundle/src/Form/Data/TableItemActionCollection.php
  EMS/core-bundle/src/Form/Field/SubmitEmsType.php
  EMS/core-bundle/src/Form/Form/TableType.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-revision.en.yml
  EMS/core-bundle/src/Resources/views/crud/overview.html.twig
  EMS/core-bundle/src/Resources/views/data/draft-in-progress.html.twig
  EMS/core-bundle/src/Resources/views/data/trash.html.twig
  EMS/core-bundle/src/Resources/views/datatable/dom.html.twig
  EMS/core-bundle/src/Resources/views/elements/get-button.html.twig
  EMS/core-bundle/src/Resources/views/elements/post-button.html.twig
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: core-bundle, admin-ui-bundle, github

#959 chore(translations): support building multiline translations
  EMS/admin-ui-bundle/src/Resources/translations/elements+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/translations/notification+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/translations/revision+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/translations/user+intl-icu.en.xlf
  build/translations
Labels: admin-ui-bundle

#961 fix(emsco/media-lib): rename/delete command username with space
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
Labels: core-bundle

#960 feat(emsch/sso): add support azure oauth2
  EMS/client-helper-bundle/src/Controller/Security/Sso/OAuth2Controller.php
  EMS/client-helper-bundle/src/DependencyInjection/Configuration.php
  EMS/client-helper-bundle/src/EventListener/AuthenticatedListener.php
  EMS/client-helper-bundle/src/Resources/config/security.xml
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Authenticator.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Property.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Service.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Token.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AbstractOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AzureOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/KeycloakOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/KeycloakProvider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/ProviderInterface.php
  composer.json
  composer.lock
  docs/elasticms-web/security.md
  elasticms-web/composer.json
  elasticms-web/composer.lock
  elasticms-web/config/packages/ems_client_helper.yaml
Labels: documentation, client-helper-bundle, elasticms-web

#966 refactor(admin/dataTable): filter & analyzer overview
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/analyzer/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/analyzer/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/analyzer/index.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/filter/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/filter/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/filter/index.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/AnalyzerController.php
  EMS/core-bundle/src/Controller/ContentManagement/FilterController.php
  EMS/core-bundle/src/Controller/TwigElementsController.php
  EMS/core-bundle/src/Core/Mapping/AnalyzerManager.php
  EMS/core-bundle/src/Core/Mapping/FilterManager.php
  EMS/core-bundle/src/DataTable/Type/DataTableTypeTrait.php
  EMS/core-bundle/src/DataTable/Type/Mapping/AnalyzerDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Mapping/FilterDataTableType.php
  EMS/core-bundle/src/Entity/Analyzer.php
  EMS/core-bundle/src/Entity/Filter.php
  EMS/core-bundle/src/Repository/AnalyzerRepository.php
  EMS/core-bundle/src/Repository/FilterRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/routing/admin/analyzer.xml
  EMS/core-bundle/src/Resources/config/routing/admin/filter.xml
  EMS/core-bundle/src/Resources/config/routing/all.xml
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/src/Resources/views/analyzer/add.html.twig
  EMS/core-bundle/src/Resources/views/analyzer/edit.html.twig
  EMS/core-bundle/src/Resources/views/analyzer/index.html.twig
  EMS/core-bundle/src/Resources/views/filter/add.html.twig
  EMS/core-bundle/src/Resources/views/filter/edit.html.twig
  EMS/core-bundle/src/Resources/views/filter/index.html.twig
  EMS/core-bundle/src/Routes.php
Labels: core-bundle, admin-ui-bundle

#967 refactor(datatable): jobs and extend dataTableTrait
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/datatable/template_block_columns.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/job/index.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/schedule/index.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/src/Controller/Job/ScheduleController.php
  EMS/core-bundle/src/DataTable/Type/ChannelDataTableType.php
  EMS/core-bundle/src/DataTable/Type/DashboardDataTableType.php
  EMS/core-bundle/src/DataTable/Type/DataTableTypeTrait.php
  EMS/core-bundle/src/DataTable/Type/FormDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Job/JobDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Job/JobScheduleDataTableType.php
  EMS/core-bundle/src/DataTable/Type/JobScheduleDataTableType.php
  EMS/core-bundle/src/DataTable/Type/LogDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Mapping/AnalyzerDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Mapping/FilterDataTableType.php
  EMS/core-bundle/src/DataTable/Type/QuerySearchDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionDraftsDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionTrashDataTableType.php
  EMS/core-bundle/src/DataTable/Type/UploadedAsset/UploadedAssetAdminDataTableType.php
  EMS/core-bundle/src/DataTable/Type/UploadedAsset/UploadedAssetDataTableType.php
  EMS/core-bundle/src/Form/Data/TableAbstract.php
  EMS/core-bundle/src/Form/Form/TableType.php
  EMS/core-bundle/src/Repository/JobRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/routing/admin/job.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-twigs.en.yml
  EMS/core-bundle/src/Resources/views/datatable/template_block_columns.html.twig
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Resources/views/job/index.html.twig
  EMS/core-bundle/src/Resources/views/schedule/index.html.twig
  EMS/core-bundle/src/Service/JobService.php
Labels: core-bundle, admin-ui-bundle

#970 fix(admin/contentType): disable the choice field type if needed
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
Labels: core-bundle

#969 feat(admin/image): resize on image from server
  EMS/core-bundle/assets/js/EmsListeners.js
  EMS/core-bundle/assets/js/module/pickFileFromServer.js
  EMS/core-bundle/src/Resources/public/js/app.60c10e2a4feed78c5a10.js
  EMS/core-bundle/src/Resources/public/js/calendar.cb33537109a246284adc.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.cc233698b6c23236b64d.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.afc4dcc419a0eb61e118.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.be4065f8965c9135d81e.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.3f571086b2a09c69062a.js
  EMS/core-bundle/src/Resources/public/js/i18n.aad4cfca28a796e84e01.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.8c0ab028134685f9f277.js
  EMS/core-bundle/src/Resources/public/js/template.7a05efeb4c4e6b27ff4d.js
  EMS/core-bundle/src/Resources/public/js/user-profile.28644054c4e2d7a41622.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#968 feat(common/command): ems:admin:(backup|restore) export environment contentType
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/EnvironmentService.php
  demo/configs/admin/content-type/asset.json
  demo/configs/admin/content-type/category.json
  demo/configs/admin/content-type/feature.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/media_file.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/release.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/section.json
  demo/configs/admin/content-type/slideshow.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/content-type/template_ems.json
  demo/configs/admin/content-type/user_group.json
  demo/configs/admin/environment/default.json
  demo/configs/admin/environment/live.json
  demo/configs/admin/environment/preview.json
Labels: core-bundle, demo

#963 feat(admin/command): add emsco:asset:refresh-file-fields (activate new fields)
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/client-helper-bundle/src/Helper/Routing/Url/Transformer.php
  EMS/common-bundle/src/Common/PropertyAccess/PropertyAccessor.php
  EMS/common-bundle/src/Helper/EmsFields.php
  EMS/common-bundle/src/Helper/MimeTypeHelper.php
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/tests/Unit/Helper/EmsFieldsAiTest.php
  EMS/core-bundle/src/Command/Asset/RefreshFileFieldCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Core/Revision/Revisions.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Form/DataField/AssetFieldType.php
  EMS/core-bundle/src/Form/DataField/IndexedAssetFieldType.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  EMS/core-bundle/src/Service/FileService.php
  EMS/helpers/src/File/File.php
  EMS/helpers/src/Html/MimeTypes.php
  docs/elasticms-admin/commands/commands.md
Labels: documentation, common-bundle, client-helper-bundle, core-bundle, admin-ui-bundle, helpers

#971 fix(admin/revision): skip the FormFieldType's options in a container
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle, admin-ui-bundle

#972 fix(admin/command): emsco:contenttype:switch-default-env already switched return success
  EMS/core-bundle/src/Command/ContentType/SwitchDefaultCommand.php
  Makefile
  composer.json
Labels: core-bundle

#973 feat(web/azure): add service token functionality
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Authenticator.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Service.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Token.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AbstractOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AzureOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/ProviderInterface.php
  docs/elasticms-web/security.md
Labels: documentation, client-helper-bundle

#977 fix(admin/command): recompute changed closing revisions
  EMS/core-bundle/src/Command/ContentType/RecomputeCommand.php
Labels: core-bundle

#975 fix(admin/datatable): default sort job created desc
  EMS/core-bundle/src/DataTable/Type/ContentType/ContentTypeViewDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Job/JobDataTableType.php
Labels: core-bundle

#976 fix(admin/job): escape job commands trigger from UI
  EMS/core-bundle/src/Service/JobService.php
Labels: core-bundle
