Repository ems-project/elasticms, pull requests merged in 2024-05, with the labels that each got.

#877 refactor: php83
  .github/workflows/code_quality.yml
  EMS/admin-ui-bundle/composer.json
  EMS/client-helper-bundle/composer.json
  EMS/common-bundle/composer.json
  EMS/common-bundle/src/Elasticsearch/Response/AnalyzeResponse.php
  EMS/common-bundle/src/Elasticsearch/Response/Token.php
  EMS/core-bundle/composer.json
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/Core/ContentType/FieldType/FieldTypeTreeItem.php
  EMS/core-bundle/src/Entity/Form/LoadLinkModalEntity.php
  EMS/core-bundle/src/Entity/Task.php
  EMS/core-bundle/src/Form/DataTransformer/EntityNameModelTransformer.php
  EMS/core-bundle/src/Security/Ldap/LdapFormLoginAuthenticator.php
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/core-bundle/src/Validator/Constraints/MediaLibrary/DocumentValidator.php
  EMS/form-bundle/composer.json
  EMS/helpers/composer.json
  EMS/helpers/tests/Unit/Standard/ColorAiTest.php
  EMS/submission-bundle/composer.json
  EMS/xliff/composer.json
  composer.json
  composer.lock
  elasticms-admin/composer.json
  elasticms-cli/composer.json
  elasticms-web/composer.json
Labels: submission-bundle, common-bundle, form-bundle, client-helper-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle, admin-ui-bundle, xliff, helpers, github

#878 fix(json compare): null as string if not defined
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle

#879 fix(common/store_data): file system type not working
  EMS/common-bundle/src/Resources/config/store_data.xml
Labels: common-bundle

#880 fix(submission/db): allow nullable expire_date
  EMS/submission-bundle/src/Request/DatabaseRequest.php
Labels: submission-bundle

#883 feat(ems): ip filtering with EMS_TRUSTED_IPS env variable
  EMS/common-bundle/src/Common/Route/Loader.php
  EMS/common-bundle/src/Controller/MetricController.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/EventListener/CommandListener.php
  EMS/common-bundle/src/EventListener/IpAddressListener.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Routes.php
  EMS/common-bundle/tests/Unit/Controller/MetricControllerAiTest.php
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-web/parameters.md
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-web/.env.dist
  elasticms-web/config/packages/ems_common.yaml
Labels: documentation, common-bundle, elasticms-admin, elasticms-web

#886 fix(core/view): sorter view body empty
  EMS/core-bundle/src/Form/View/SorterViewType.php
Labels: core-bundle

#887 chore(demo): remove publication route and upgrade note single colon controller
  demo/skeleton/routes.yaml
  docs/upgrade.md
Labels: documentation, demo

#885 fix(core/revision): empty environment actions, no dropdown
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/object-views-button.html.twig
  EMS/common-bundle/tests/Unit/Common/Route/LoaderAiTest.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/elements/object-views-button.html.twig
Labels: common-bundle, core-bundle, admin-ui-bundle, github

#894 fix(core/revision): multiplex apply classes on children
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: bug, core-bundle, admin-ui-bundle

#893 feat(demo): change requests
  EMS/core-bundle/src/Core/Revision/Task/TaskCollection.php
  EMS/core-bundle/src/Core/Revision/Task/TaskManager.php
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  demo/configs/admin/content-type/category.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/section.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/content-type/template_ems.json
  demo/configs/admin/dashboard/default-search.json
  demo/configs/admin/environment/default.json
  demo/skeleton/routes.yaml
  demo/skeleton/template/page/by_type.html.twig
  demo/skeleton/template/page/default.html.twig
  demo/skeleton/template/page/with_banner.html.twig
  demo/skeleton/template/structure/by_path.html.twig
  demo/skeleton/template_ems/actions.twig
  demo/skeleton/template_ems/content_type/compute_paths.twig
  demo/skeleton/template_ems/content_type/page.twig
  demo/skeleton/template_ems/dashboard/json_menu_nested.twig
  demo/skeleton/template_ems/dashboard/media_library.twig
  docs/dev/core-bundle/twig/component.md
Labels: documentation, core-bundle, demo
