Repository ems-project/elasticms, pull requests merged in 2024-12, with the labels that each got.

#1085 feat(admin/submission): add export command filter by expression
  EMS/common-bundle/src/Contracts/SpreadsheetGeneratorServiceInterface.php
  EMS/core-bundle/src/Command/Submission/ExportCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Repository/FormSubmissionRepository.php
  EMS/core-bundle/src/Resources/config/command.xml
Labels: elasticms-admin, core-bundle, feature

#1086 fix(common/pdf): allow domPDF to use TempFile (in the system dir)
  EMS/common-bundle/src/Service/Pdf/DomPdfPrinter.php
Labels: bug, common-bundle

#1087 fix(admin/revision): restore trash locked exception
  EMS/core-bundle/src/Service/DataService.php
Labels: bug, elasticms-admin, core-bundle

#1090 fix(cli/import): import miss formated excel
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: bug, elasticms-cli

#1091 fix(cli/file-reader): get file from api
  EMS/common-bundle/src/Common/File/FileReader.php
  docs/upgrade.md
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: bug, common-bundle, elasticms-cli

#1092 fix(cli/file-reader): not found config fallback get config from api
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/File/FileManagerInterface.php
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: enhancement, common-bundle, elasticms-cli

#1093 fix(cli/file-reader): correct fallback with $fileIdentifier
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: bug, common-bundle, elasticms-cli

#1094 fix(admin/field): deep recompute time field type
  EMS/core-bundle/src/Form/DataField/TimeFieldType.php
Labels: bug, elasticms-admin, core-bundle

#1096 fix(admin/asset): extractor test the filesize before downloading it
  EMS/core-bundle/src/Service/AssetExtractorService.php
Labels: bug, elasticms-admin, core-bundle

#1097 fix(common/mime-types): add XLIFF mimetype support
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/helpers/src/Html/MimeTypes.php
Labels: bug, common-bundle, elasticms-admin, core-bundle

#1099 fix(web/client): updateStyleSets set correct mimetype and filename
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
Labels: bug, client-helper-bundle, elasticms-admin, elasticms-web

#1098 fix(admin/asset): on upload correct set preview link
  EMS/core-bundle/assets/js/EmsListeners.js
  EMS/core-bundle/src/Resources/public/js/app.6e05c74f280f9b0a3b31.js
  EMS/core-bundle/src/Resources/public/js/calendar.dfee172a08354be37b69.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.b6ec3d1fcc40ba28de05.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.e03231147c66977d6b20.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.59cb3c7871721d79b97b.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.c7b55e8e9e02401a164e.js
  EMS/core-bundle/src/Resources/public/js/i18n.5dc709c2203cbabc47f1.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.683fa5eae13cc7e83875.js
  EMS/core-bundle/src/Resources/public/js/template.0e328a695f8019d54762.js
  EMS/core-bundle/src/Resources/public/js/user-profile.5edb4a0f66e698532099.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: bug, elasticms-admin, core-bundle

#1100 fix(admin/job): avoid that JSON messages are hidden (overwrite)
  EMS/core-bundle/src/Command/JobOutput.php
Labels: bug, elasticms-admin, core-bundle

#1101 fix(helper/file): csv remove utf8-bom
  EMS/helpers/src/File/CsvFile.php
Labels: bug, helpers

#1103 fix(common/pdf): dom pdf correct set $sysCacheDir
  EMS/common-bundle/src/Service/Pdf/DomPdfPrinter.php
Labels: bug

#1102 feat(common/twig): new filter ems_date
  EMS/common-bundle/src/Twig/CommonExtension.php
  docs/dev/common-bundle/twig.md
Labels: common-bundle, feature, helpers, performance

#1104 feat(common/twig): new filter ems_int
  EMS/common-bundle/src/Twig/CommonExtension.php
  docs/dev/common-bundle/twig.md
Labels: common-bundle, feature

#1105 fix(web/local): upload assets heads returns true
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
Labels: bug, client-helper-bundle, elasticms-web

#1107 fix(web/translations): support locales without EMSCH_LOCALES
  EMS/client-helper-bundle/src/Helper/Translation/TranslationDocument.php
  EMS/client-helper-bundle/src/Helper/Translation/TranslationFiles.php
  demo/skeleton/routes.yaml
  demo/skeleton/translations/messages.fr.yaml
  demo/skeleton/translations/messages.nl.yaml
Labels: client-helper-bundle, elasticms-web, demo

#1062 fix(web/twig): ems_template_exists use template builder
  EMS/client-helper-bundle/src/Helper/Elasticsearch/Settings.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateBuilder.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateLoader.php
  demo/skeleton/template/variables.twig
Labels: client-helper-bundle, elasticms-web, demo

#1109 fix(helper/file): bigger chunks for tempFile
  EMS/helpers/src/File/TempFile.php
Labels: helpers

#1108 fix(common/storage): put zip archive in cache
  EMS/common-bundle/src/Command/Storage/LoadArchiveItemsInCacheCommand.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/helpers/src/File/TempFile.php
Labels: common-bundle, helpers

#1110 chore: improve local setup
  Makefile
  docker/docker-compose.yml
Labels: development

#1114 fix: chore phpcs
  EMS/helpers/src/File/TempFile.php
Labels: helpers

#1112 refactor: nested sortables
  EMS/admin-ui-bundle/assets/package-lock.json
  EMS/admin-ui-bundle/assets/package.json
  EMS/admin-ui-bundle/assets/src/core/components/nestedSortable.ts
  EMS/admin-ui-bundle/assets/src/core/core.js
  EMS/admin-ui-bundle/assets/src/core/plugins/nestedSortable.js
  EMS/admin-ui-bundle/assets/src/core/plugins/nestedSortables.ts
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/contenttype/reorder_item.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/entity/list-entities.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_add_item.html.twig
  EMS/core-bundle/src/Resources/views/view/custom/hierarchical_add_item.html.twig
Labels: core-bundle, admin-ui-bundle, helpers, github

#1113 feat(cli/command): add ems:document:merge
  EMS/common-bundle/src/Command/Document/MergeCommand.php
  EMS/common-bundle/src/Resources/config/commands.xml
Labels: common-bundle

#1111 chore: improve vite dev server
  EMS/admin-ui-bundle/assets/css/admin-lte/_bootstrap-variables.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/adminlte.scss
  EMS/admin-ui-bundle/assets/index.html
  EMS/admin-ui-bundle/assets/package-lock.json
  EMS/admin-ui-bundle/assets/package.json
  EMS/admin-ui-bundle/assets/src/core/components/nestedSortable.ts
  EMS/admin-ui-bundle/assets/src/core/core.js
  EMS/admin-ui-bundle/assets/src/core/events/changeEvent.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/editor.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/editorOptions.ts
  EMS/admin-ui-bundle/assets/src/core/plugins/codeEditor.ts
  EMS/admin-ui-bundle/assets/src/core/plugins/select.js
  EMS/admin-ui-bundle/assets/tsconfig.json
  EMS/admin-ui-bundle/assets/vite.config.ts
  EMS/admin-ui-bundle/src/DependencyInjection/Configuration.php
  EMS/admin-ui-bundle/src/DependencyInjection/EMSAdminUIExtension.php
  EMS/admin-ui-bundle/src/Helper/Asset/AssetVersionStrategy.php
  EMS/admin-ui-bundle/src/Helper/Asset/DevServer.php
  EMS/admin-ui-bundle/src/Resources/config/services.xml
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/html5.html.twig
  docs/elasticms-admin/environment-variables.md
  docs/getting-started/dev-env.md
  elasticms-admin/.env.local.dist
  elasticms-admin/config/packages/assets.yaml
  elasticms-admin/config/packages/ems_admin_ui.yaml
Labels: documentation, elasticms-admin, admin-ui-bundle, helpers, development

#1115 refactor: no more node or java dependencies in CLI
  elasticms-cli/.gitignore
  elasticms-cli/package-lock.json
  elasticms-cli/package.json
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Client/Audit/Report.php
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/src/ExpressionLanguage/Functions.php
  elasticms-cli/src/Helper/LighthouseWrapper.php
  elasticms-cli/src/Helper/Pa11yWrapper.php
Labels: elasticms-cli

#1116 chore: upgrade jsonMenuNested component
  EMS/admin-ui-bundle/assets/.eslintrc.cjs
  EMS/admin-ui-bundle/assets/css/core/components/json_menu_nested.scss
  EMS/admin-ui-bundle/assets/package-lock.json
  EMS/admin-ui-bundle/assets/package.json
  EMS/admin-ui-bundle/assets/src/core/components/jsonMenuNestedComponent.js
  EMS/admin-ui-bundle/assets/src/core/components/jsonMenuNestedComponent.ts
  EMS/admin-ui-bundle/assets/src/core/core.js
  EMS/admin-ui-bundle/assets/src/core/helpers/editor.ts
  EMS/admin-ui-bundle/assets/src/core/plugins/codeEditor.ts
  EMS/admin-ui-bundle/assets/src/core/plugins/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/src/core/plugins/jsonMenuNested.ts
  EMS/admin-ui-bundle/assets/src/vite-env.d.ts
  EMS/admin-ui-bundle/assets/tsconfig.json
  EMS/admin-ui-bundle/assets/vite.config.ts
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/environment/view.html.twig
  demo/skeleton/template_ems/dashboard/json_menu_nested.twig
Labels: enhancement, elasticms-admin, demo, admin-ui-bundle
