Repository ems-project/elasticms, pull requests merged in 2024-09, with the labels that each got.

#995 fix(common/storage): allow config or cache files to not be saved in any storage
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/tests/Unit/Storage/StorageManagerTest.php
Labels: common-bundle

#998 refactor(common): use helper types and remove common types
  EMS/common-bundle/src/Command/Document/UpdateCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePublishCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePullCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Index.php
  EMS/common-bundle/src/Common/Standard/Type.php
  EMS/common-bundle/src/Elasticsearch/Response/Token.php
  EMS/common-bundle/src/Repository/LogRepository.php
  EMS/common-bundle/src/Storage/File/LocalFile.php
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/common-bundle/tests/Unit/Common/Standard/TypeAiTest.php
  EMS/common-bundle/tests/Unit/Common/Standard/TypeTest.php
  EMS/core-bundle/src/Controller/ContentManagement/EnvironmentController.php
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Controller/NotificationController.php
  EMS/core-bundle/src/Core/Document/DataLinksFactory.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/helpers/tests/Unit/Standard/TypeTest.php
  elasticms-cli/src/Client/Document/Update/DocumentUpdater.php
Labels: common-bundle, elasticms-cli, core-bundle, helpers

#997 fix(common/api): emsch get via the admin API (EMS_ELASTICSEARCH_PROXY_API)
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Search/Search.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Search/SearchInterface.php
  EMS/common-bundle/src/Elasticsearch/Response/Response.php
  EMS/common-bundle/src/Service/ElasticaService.php
  EMS/core-bundle/src/Controller/Api/Search/SearchController.php
  EMS/core-bundle/src/Resources/config/routing/api/search.xml
  docs/elasticms-cli/parameters.md
  docs/elasticms-web/parameters.md
Labels: documentation, common-bundle, core-bundle

#996 fix(common/api): api with large docs use EMSCO_LOCK_TIME
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#1001 fix(admin/release): improve labels and environment selects
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/form.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/ReleaseController.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseOverviewDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleasePickDataTableType.php
  EMS/core-bundle/src/Form/Field/EnvironmentPickerType.php
  EMS/core-bundle/src/Form/Form/ReleaseType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/src/Resources/views/release/form.html.twig
Labels: core-bundle, admin-ui-bundle

#1000 feat(admin/datatable): checkable option and actions with events
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/datatable/dom.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/post-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/dashboard.html.twig
  EMS/core-bundle/assets/js/module/datatables.js
  EMS/core-bundle/src/Form/Data/ElasticaTable.php
  EMS/core-bundle/src/Form/Data/TableAbstract.php
  EMS/core-bundle/src/Resources/public/js/app.1cf0be1c8b706b8d2eee.js
  EMS/core-bundle/src/Resources/public/js/calendar.b6b0a528b0f284975ac1.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.eafd0ee146fa314a6b9c.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.201c0d36910f3260b650.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.c706465a384f26f1e850.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.41a38ce1e2f6ee16d73e.js
  EMS/core-bundle/src/Resources/public/js/i18n.2ae140f4d6a1e1d96bf4.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.ace24f1ea8b683be2fba.js
  EMS/core-bundle/src/Resources/public/js/template.12726974c53d1ec6f541.js
  EMS/core-bundle/src/Resources/public/js/user-profile.6a6d6bc7f56eea55fbea.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/datatable/dom.html.twig
  EMS/core-bundle/src/Resources/views/elements/post-button.html.twig
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  demo/configs/admin/content-type/media_file.json
  demo/configs/admin/content-type/route.json
  demo/skeleton/template_ems/view/base_overview.twig
  demo/skeleton/template_ems/view/overview.twig
  demo/skeleton/template_ems/view/overview_media_library.twig
  docs/dev/core-bundle/twig/datatable.md
Labels: documentation, core-bundle, demo, admin-ui-bundle

#1003 feat(admin/media-lib): select all, footer rendering and fix multiple upload
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/media_library/template.twig
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/src/Resources/config/routing/component.xml
  EMS/core-bundle/src/Resources/public/js/app.cbffa941043022f8fb7a.js
  EMS/core-bundle/src/Resources/public/js/calendar.b516573339346d287a0a.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.d1120718e8c099364674.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.a19450a775980d5991bb.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.5b52f260b6616ab7e3ed.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.153cd579da2a34e61fe5.js
  EMS/core-bundle/src/Resources/public/js/i18n.773a5b67e2f9a082ab11.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.f699ea38d2223191a88f.js
  EMS/core-bundle/src/Resources/public/js/template.8537d939baaa5d4c8a93.js
  EMS/core-bundle/src/Resources/public/js/user-profile.bdea70d3a075ec5e0255.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/components/media_library/template.twig
Labels: core-bundle, admin-ui-bundle

#1004 feat(demo/media-lib): add date creation
  demo/configs/admin/content-type/media_file.json
  demo/configs/document/media_file/27805fb6-47fa-4fb4-a8e6-6cc857adf6b0.json
  demo/configs/document/media_file/32043380-dc17-4637-ae8e-b0454a091da2.json
  demo/configs/document/media_file/5721fb7f-5222-493d-9f8b-dd6f11553cfe.json
  demo/configs/document/media_file/8abb7590-ef2c-40de-8541-ed87f8aae8bb.json
  demo/configs/document/media_file/ab4c30d3-fb88-46d6-9e50-a2814c0fabb6.json
  demo/configs/document/media_file/b37d74e6-7fe1-4de2-b807-b22bb46e780a.json
  demo/configs/document/media_file/c42f14a2-2ec0-40a8-bd8f-d8161e00befb.json
  demo/configs/document/media_file/c80dfd42-062c-4f14-be9e-ea0ca75448e8.json
  demo/configs/document/media_file/eb1d1aa9-f696-44bb-85da-f08e851f9a35.json
  demo/configs/document/media_file/f592f010-c442-40b2-9f4b-b073701e5879.json
  demo/skeleton/template_ems/dashboard/media_library.twig
Labels: demo

#1007 fix(admin/release): layout issue, update labels and filter environments (default)
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/form.html.twig
  EMS/core-bundle/src/Form/Field/EnvironmentPickerType.php
  EMS/core-bundle/src/Form/Form/ReleaseType.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/src/Resources/views/release/form.html.twig
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: core-bundle, admin-ui-bundle

#1006 fix(admin): media library keep selection and shift on select all
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/src/Resources/public/js/app.ab99ac44d017ddbea13d.js
  EMS/core-bundle/src/Resources/public/js/calendar.33f2617bee514999d2e4.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.5ab460dbfa6883e9196c.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.9fc87fc7a923f64ba6e7.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.5ccda4b17084e023c207.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.331ba5d954f1d61a0b14.js
  EMS/core-bundle/src/Resources/public/js/i18n.b137f005c64ab18a18f3.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.974987636d9e848dc631.js
  EMS/core-bundle/src/Resources/public/js/template.ba6b739bf07cdc4d8ff0.js
  EMS/core-bundle/src/Resources/public/js/user-profile.2c5173bce299c3bbdca0.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle, admin-ui-bundle

#1008 fix(admin/media-lib): fix invalid documents
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  demo/skeleton/template_ems/view/overview_media_library.twig
Labels: core-bundle, demo

#1009 fix(admin/media-lib): move file to home folder not working
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
Labels: core-bundle

#1011 fix(admin/asset-field): asset field remove 'sha1' and '_hash' field
  EMS/core-bundle/src/Form/DataField/AssetFieldType.php
Labels: core-bundle

#1005 feat(admin): media library and datatable improvements
  EMS/admin-ui-bundle/assets/css/core/components/media_library.scss
  EMS/admin-ui-bundle/assets/js/core/components/mediaLibrary.js
  EMS/admin-ui-bundle/assets/js/core/helpers/tooltip.js
  EMS/admin-ui-bundle/assets/js/core/plugins/datatable.js
  demo/skeleton/template_ems/view/base_overview.twig
  demo/skeleton/template_ems/view/overview_media_library.twig
Labels: core-bundle, demo, admin-ui-bundle

#1013 fix(admin/wysiwyg): file links in fields (edit and revision view)
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Form/DataField/WysiwygFieldType.php
  EMS/core-bundle/src/Form/Form/ContentTypeFieldsType.php
  EMS/core-bundle/src/Twig/AppExtension.php
  demo/configs/admin/content-type/media_file.json
Labels: core-bundle, demo

#1017 fix(admin/filter): remove btn with a2lix_lib
  EMS/core-bundle/assets/js/EmsListeners.js
  EMS/core-bundle/src/Form/Field/FilterOptionsType.php
  EMS/core-bundle/src/Resources/public/js/app.1976fbfb7302ec783bfc.js
  EMS/core-bundle/src/Resources/public/js/calendar.56a87d0e5db9d7b347be.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.c26c7eab524cd3774a37.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.e2995a159602082c2f69.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.4b0ba322dae662a4b4ea.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.e17a99b559590a2340bd.js
  EMS/core-bundle/src/Resources/public/js/i18n.09c5b6ee0bd0b8c2f278.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.b1f0e4f1872ecebe22cd.js
  EMS/core-bundle/src/Resources/public/js/template.63edd994b0b361aa2b95.js
  EMS/core-bundle/src/Resources/public/js/user-profile.1312835b05dd81812d97.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
Labels: core-bundle

#1018 chore(demo): remove double 'french_stop' from backup.
  demo/configs/admin/analyzer/french_for_highlighting.json
Labels: demo

#1020 fix(admin/environment): picker default name value
  EMS/core-bundle/src/Form/Field/EnvironmentPickerType.php
  EMS/core-bundle/src/Form/Form/ReleaseType.php
Labels: core-bundle

#1019 docs(admin): describe type of field (content types)
  docs/elasticms-admin/contentType/form.md
Labels: documentation

#1025 fix(admin/twig-component): update json menu nested template
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/template.twig
  EMS/core-bundle/src/Core/Component/JsonMenuNested/Config/JsonMenuNestedNode.php
  EMS/core-bundle/src/Resources/views/components/json_menu_nested/template.twig
Labels: core-bundle, admin-ui-bundle

#1026 feat(admin/user): new get user language and sort tabs
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Core/User/UserManager.php
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
  EMS/core-bundle/src/Form/DataField/TabsFieldType.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/config/twig.xml
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  EMS/core-bundle/src/Twig/I18nRuntime.php
  EMS/core-bundle/tests/Unit/Twig/I18nRuntimeTest.php
  docs/dev/core-bundle/twig/core.md
  docs/upgrade.md
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_core.yaml
Labels: core-bundle, admin-ui-bundle
