Repository ems-project/elasticms, pull requests merged in 2024-06, with the labels that each got.

#888 feat(core/revision): trash datatable
  EMS/admin-ui-bundle/src/Resources/translations/revision.en.xlf
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/trash.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/Revision/TrashController.php
  EMS/core-bundle/src/Core/DataTable/DataTableFactory.php
  EMS/core-bundle/src/Core/Revision/RevisionQueryService.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionTrashDataTableType.php
  EMS/core-bundle/src/EMSCoreBundle.php
  EMS/core-bundle/src/Form/Data/TableAbstract.php
  EMS/core-bundle/src/Form/Data/TableAction.php
  EMS/core-bundle/src/Form/Data/TableColumn.php
  EMS/core-bundle/src/Form/Data/TableInterface.php
  EMS/core-bundle/src/Form/Form/TableType.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/routing/all.xml
  EMS/core-bundle/src/Resources/config/routing/data.xml
  EMS/core-bundle/src/Resources/config/routing/data/revision.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-revision.en.yml
  EMS/core-bundle/src/Resources/views/data/trash.html.twig
  EMS/core-bundle/src/Resources/views/elements/get-button.html.twig
  EMS/core-bundle/src/Resources/views/elements/post-button.html.twig
  EMS/core-bundle/src/Resources/views/environment/index.html.twig
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Routes.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/UserService.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: elasticms-admin, core-bundle, admin-ui-bundle

#897 feat: load elasticdump dump file
  EMS/common-bundle/src/Command/Admin/RestoreCommand.php
  EMS/common-bundle/src/Command/Document/UpdateCommand.php
Labels: common-bundle

#899 fix(core/mapping): fix json field type mapping
  EMS/common-bundle/src/Command/Admin/RestoreCommand.php
  EMS/common-bundle/src/Command/Document/UpdateCommand.php
  EMS/core-bundle/src/Form/DataField/JSONFieldType.php
Labels: common-bundle, core-bundle

#898 fix(demo): align with promo and last fixes
  EMS/common-bundle/src/Twig/CommonExtension.php
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/section.json
  demo/configs/admin/content-type/slideshow.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/content-type/template_ems.json
  demo/configs/admin/content-type/user_group.json
  demo/configs/admin/query-search/categories.json
  demo/configs/admin/query-search/documents.json
  demo/configs/admin/query-search/forms.json
  demo/skeleton/template/structure/by_path.html.twig
  demo/skeleton/template_ems/content_type/compute_paths.twig
  demo/skeleton/template_ems/content_type/page.twig
  demo/skeleton/template_ems/content_type/post_processing.twig
  demo/skeleton/template_ems/dashboard/json_menu_nested.twig
  demo/skeleton/template_ems/dashboard/sitemap.twig
  demo/skeleton/template_ems/submission/form_example_files.twig
Labels: common-bundle, demo

#900 feat(common/api): add EMS_BACKEND_API_TIMEOUT config
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/CoreApiFactory.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-cli/parameters.md
  docs/elasticms-web/parameters.md
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/.env
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/.env.dist
  elasticms-web/config/packages/ems_common.yaml
Labels: documentation, common-bundle, elasticms-admin, elasticms-web, elasticms-cli

#901 feat(core/twig): add emsco_save_contents twig function
  EMS/core-bundle/src/Service/FileService.php
  EMS/core-bundle/src/Twig/AppExtension.php
  docs/dev/core-bundle/twig/core.md
Labels: documentation, core-bundle

#903 chore(demo): revert back to ems_slug
  EMS/common-bundle/src/Twig/CommonExtension.php
  demo/configs/admin/content-type/slideshow.json
  demo/skeleton/template_ems/content_type/compute_paths.twig
  demo/skeleton/template_ems/content_type/page.twig
  demo/skeleton/template_ems/content_type/post_processing.twig
  demo/skeleton/template_ems/dashboard/json_menu_nested.twig
  demo/skeleton/template_ems/submission/form_example_files.twig
Labels: common-bundle, demo

#904 fix(core/media-lib): edit filename without extension
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/src/Core/Component/MediaLibrary/File/MediaLibraryFile.php
  EMS/core-bundle/src/Form/Form/MediaLibrary/MediaLibraryDocumentFormType.php
  EMS/core-bundle/src/Form/Form/Readme.txt
  EMS/core-bundle/src/Resources/public/js/app.03a983e5af2bfcf47648.js
  EMS/core-bundle/src/Resources/public/js/calendar.f3834e84f9e6dcf46014.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.897cbae213645ebb58e6.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.8ce1005c994c545aa214.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.333cd09537a63aac0de5.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.66e7ac8efc84d765ed69.js
  EMS/core-bundle/src/Resources/public/js/i18n.be2f16d42bf0747841be.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.1bc6d3a7dd074e84797f.js
  EMS/core-bundle/src/Resources/public/js/template.cd1b47c813e4262ac46f.js
  EMS/core-bundle/src/Resources/public/js/user-profile.1966c647c72376bcf858.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#905 feat(core/twig): add emsco_warning and emsco_notice functions
  EMS/core-bundle/src/Twig/AppExtension.php
  docs/dev/core-bundle/twig/core.md
Labels: documentation, core-bundle

#906 fix(core/twig): json menu nested component activate item by id
  EMS/core-bundle/assets/js/component/jsonMenuNestedComponent.js
  EMS/core-bundle/src/Core/Component/JsonMenuNested/Config/JsonMenuNestedConfig.php
  EMS/core-bundle/src/Core/Component/JsonMenuNested/Config/JsonMenuNestedConfigFactory.php
  EMS/core-bundle/src/Resources/public/js/app.787f26cf036f574f60ce.js
  EMS/core-bundle/src/Resources/public/js/calendar.03cfeefbd1cf763874d2.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.b03fd80e001ffd967cc0.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.f3d56775db18a4d2bd95.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.b5264e53be54bfe21c07.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.6fe9fe83b8e0c3557ab6.js
  EMS/core-bundle/src/Resources/public/js/i18n.80fb5ea8ff43ce982a3f.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.424820bc5ec9c78f362a.js
  EMS/core-bundle/src/Resources/public/js/template.6ba8a9bfd49fa9b6b078.js
  EMS/core-bundle/src/Resources/public/js/user-profile.a2076881594886470ab4.js
  EMS/core-bundle/src/Resources/public/manifest.json
  EMS/core-bundle/src/Resources/views/components/json_menu_nested/component.html.twig
  demo/skeleton/template/structure/by_path.html.twig
  demo/skeleton/template_ems/dashboard/sitemap.twig
  docs/dev/core-bundle/twig/component.md
Labels: documentation, core-bundle, demo

#909 fix(core/twig): internal_links filter with null value
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  EMS/core-bundle/src/Routes.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#907 feat(demo): add asset content type (documentation)
  demo/configs/admin/content-type/asset.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/content-type/template_ems.json
  demo/skeleton/template/ems/asset.ems_link.twig
  demo/skeleton/template_ems/actions.twig
Labels: demo

#910 feat(core/view): define contentType default overview
  EMS/core-bundle/src/Command/MediaLibrary/MediaLibraryFolderDeleteCommand.php
  EMS/core-bundle/src/Command/MediaLibrary/MediaLibraryFolderRenameCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/ContentManagement/ViewController.php
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/src/Core/ContentType/ViewDefinition.php
  EMS/core-bundle/src/Core/View/ViewManager.php
  EMS/core-bundle/src/DataTable/Type/ContentType/ContentTypeViewDataTableType.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/View.php
  EMS/core-bundle/src/Form/Data/TranslationTableColumn.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20240611075552.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20240611075248.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/admin/view.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Routes.php
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  demo/configs/admin/content-type/asset.json
  demo/configs/admin/content-type/category.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/section.json
  demo/configs/admin/content-type/slideshow.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/content-type/template_ems.json
Labels: core-bundle, demo

#911 fix(core/api): json export remove proxy fields (__initializer__, ...)
  EMS/core-bundle/src/Entity/Helper/JsonClass.php
  demo/configs/admin/wysiwyg-profile/Standard.json
  elasticms-admin/config/packages/framework.yaml
Labels: elasticms-admin, core-bundle, demo

#912 fix(core/release): rework publish and unpublish
  EMS/core-bundle/src/Command/Release/CreateReleaseCommand.php
  EMS/core-bundle/src/Command/Release/PublishReleaseCommand.php
  EMS/core-bundle/src/Controller/AbstractCoreController.php
  EMS/core-bundle/src/Controller/ContentManagement/ReleaseController.php
  EMS/core-bundle/src/Core/Revision/Release/ReleaseRevisionType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseRevisionDataTableType.php
  EMS/core-bundle/src/Entity/Release.php
  EMS/core-bundle/src/Entity/ReleaseRevision.php
  EMS/core-bundle/src/Form/Form/ReleaseType.php
  EMS/core-bundle/src/Repository/ReleaseRevisionRepository.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20240612125911.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20240612124507.php
  EMS/core-bundle/src/Resources/views/release/columns/release-revisions.html.twig
  EMS/core-bundle/src/Service/ReleaseService.php
Labels: core-bundle

#917 feat(elasticms): add file structure commands for static websites
  EMS/common-bundle/src/Command/FileStructure/AbstractFileStructureCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePublishCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePullCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Common/File/FileStructure/FileStructureClientInterface.php
  EMS/common-bundle/src/Common/File/FileStructure/S3Client.php
  EMS/common-bundle/src/Resources/config/commands.xml
  docs/recipes/websites/directory.json
  docs/recipes/websites/docker-compose.yaml
  docs/recipes/websites/file-structure.md
Labels: documentation, common-bundle

#916 refactor(core): extract translations
  .php-cs-fixer.dist.php
  EMS/admin-ui-bundle/src/Resources/translations/elements+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/translations/notification+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/translations/revision+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/translations/user+intl-icu.en.xlf
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/side-menu.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/toasts.html.twig
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  Makefile
  build/Release/Command/AbstractGithubCommand.php
  build/Release/Command/ComposerUpdate.php
  build/Release/Command/GitHubBranchesCommand.php
  build/Release/Command/GithubChangeLogCommand.php
  build/Release/Command/GithubReleaseCommand.php
  build/Release/Command/InfoCommand.php
  build/Release/Command/PackagistInfo.php
  build/Release/Config.php
  build/Release/ReleaseApplication.php
  build/Release/run
  build/translations
  composer.json
  elasticms-admin/composer.json
  elasticms-web/composer.json
  phpstan.neon.dist
Labels: elasticms-admin, elasticms-web, core-bundle, admin-ui-bundle

#918 feat(ems/command): add ems:batch command
  EMS/common-bundle/src/Command/BatchCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Resources/config/commands.xml
  EMS/common-bundle/tests/Integration/App/Kernel.php
  EMS/helpers/src/File/File.php
  EMS/helpers/src/Standard/Json.php
  docs/dev/common-bundle/commands.md
Labels: documentation, common-bundle, demo, helpers

#919 feat(elasticms): add force option to file structure publish (target out of sync)
  EMS/common-bundle/src/Command/FileStructure/FileStructurePublishCommand.php
  EMS/common-bundle/src/Common/File/FileStructure/S3Client.php
  EMS/common-bundle/src/Exception/FileStructureNotSyncException.php
Labels: common-bundle

#920 refactor: build translations with symfony 6
  EMS/common-bundle/src/Twig/AssetRuntime.php
  build/translations
  composer.json
  composer.lock
Labels: common-bundle

#922 fix(core/mediaLib): wrong import inputOption
  EMS/core-bundle/src/Command/MediaLibrary/AbstractMediaLibraryCommand.php
  EMS/core-bundle/src/Command/MediaLibrary/MediaLibraryFolderDeleteCommand.php
  EMS/core-bundle/src/Command/MediaLibrary/MediaLibraryFolderRenameCommand.php
Labels: core-bundle

#924 fix(common/storage): S3StreamPromise read
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/S3StreamPromise.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/helpers/src/File/File.php
Labels: common-bundle, helpers

#927 fix(cli): load twig bundle for (ems:batch) command
  EMS/common-bundle/composer.json
  elasticms-cli/config/bundles.php
  elasticms-cli/config/packages/twig.yaml
Labels: common-bundle, elasticms-cli

#929 refactor: sys_get_temp_dir centralized in Helper classes (TempFile & TempDirectory)
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
  EMS/client-helper-bundle/src/Helper/Local/LocalHelper.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Common/SpreadsheetGeneratorService.php
  EMS/common-bundle/src/Resources/config/twig.xml
  EMS/common-bundle/src/Service/Pdf/PdfPrintOptions.php
  EMS/common-bundle/src/Storage/File/StorageFile.php
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/tests/Unit/Common/Admin/ConfigHelperAiTest.php
  EMS/common-bundle/tests/Unit/Common/Cache/CacheAiTest.php
  EMS/common-bundle/tests/Unit/Common/Standard/JsonAiTest.php
  EMS/common-bundle/tests/Unit/Common/StoreData/Service/StoreDataFileSystemServiceAiTest.php
  EMS/common-bundle/tests/Unit/Storage/StorageManagerTest.php
  EMS/core-bundle/src/Command/ExportDocumentsCommand.php
  EMS/core-bundle/src/Command/IndexFileCommand.php
  EMS/core-bundle/src/Command/Xliff/ExtractCommand.php
  EMS/core-bundle/src/Command/Xliff/UpdateCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Core/Mail/MailAttachment.php
  EMS/core-bundle/src/Core/Mail/MailTemplate.php
  EMS/core-bundle/src/Core/Mail/MailerService.php
  EMS/core-bundle/src/Helper/Archive.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/core-bundle/src/Service/AssetExtractorService.php
  EMS/core-bundle/src/Service/FileService.php
  EMS/helpers/composer.json
  EMS/helpers/src/File/TempDirectory.php
  EMS/helpers/src/File/TempFile.php
  EMS/helpers/src/Html/MimeTypes.php
  EMS/helpers/tests/Unit/File/FolderAiTest.php
  EMS/helpers/tests/Unit/File/TempFileAiTest.php
  EMS/submission-bundle/src/Handler/ZipHandler.php
  EMS/submission-bundle/tests/Functional/Handler/Chained/PdfZipSftpHandlersTest.php
  EMS/submission-bundle/tests/Functional/Handler/ZipHandlerTest.php
  EMS/xliff/tests/Unit/Xliff/ExtractorTest.php
  EMS/xliff/tests/Unit/Xliff/IntegratedTest.php
  docs/elasticms-admin/commands/commands.md
  docs/upgrade.md
Labels: common-bundle, client-helper-bundle, core-bundle, helpers

#933 fix(core): translation key core.verion
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle

#934 fix(core): environment modal(s) showing on page load
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/environment/index.html.twig
  EMS/core-bundle/src/Resources/views/environment/index.html.twig
Labels: core-bundle, admin-ui-bundle
