Repository ems-project/elasticms, pull requests merged in 2024-02, with the labels that each got.

#739 fix(core/view): log error in view report view templates
  EMS/core-bundle/src/Form/View/ReportViewType.php
Labels: core-bundle

#741 fix(core/revision): delete command by query only for query and delete oldest by OUUID
  EMS/core-bundle/src/Command/Revision/DeleteCommand.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: core-bundle

#742 fix: choice with linked collection
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
Labels: core-bundle

#743 test(helpers): support by AI
  EMS/helpers/src/Image/SmartCrop.php
  EMS/helpers/tests/Unit/File/FileAiTest.php
  EMS/helpers/tests/Unit/File/FolderAiTest.php
  EMS/helpers/tests/Unit/File/TempFileAiTest.php
  EMS/helpers/tests/Unit/Html/Sanitizer/HtmlSanitizerLinkAiTest.php
  EMS/helpers/tests/Unit/Image/SmartCropAiTest.php
  EMS/helpers/tests/Unit/Standard/AccessorAiTest.php
  EMS/helpers/tests/Unit/Standard/Base64AiTest.php
  EMS/helpers/tests/Unit/Standard/ColorAiTest.php
  EMS/helpers/tests/Unit/Standard/DateTimeAiTest.php
  EMS/helpers/tests/Unit/Standard/HashAiTest.php
  EMS/helpers/tests/Unit/Standard/TypeAiTest.php
Labels: helpers

#745 fix: duplicate helptext in choice block
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
Labels: core-bundle, admin-ui-bundle

#746 fix(helpers): HTML sanitizer
  EMS/helpers/src/Html/Sanitizer/HtmlSanitizerClass.php
  EMS/helpers/tests/Unit/Html/Sanitizer/HtmlSanitizerClassAiTest.php
  docs/dev/helpers/standard.md
Labels: documentation, helpers

#747 fix(core/ldap): config contains empty strings
  EMS/core-bundle/src/Security/Ldap/LdapConfig.php
  EMS/core-bundle/src/Security/Ldap/LdapCoreUserFactory.php
Labels: core-bundle

#744 refactor(core/icon-picker): font awesome 6 icons
  EMS/core-bundle/src/Form/Field/IconPickerType.php
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
Labels: documentation, core-bundle, github, admin-ui-bundle

#748 refactor(admin-ui): ajax safe + toast notifications + out of sync
  EMS/admin-ui-bundle/_to_be_ref/js/AjaxRequest.js
  EMS/admin-ui-bundle/_to_be_ref/js/core.js
  EMS/admin-ui-bundle/_to_be_ref/js/initEms.js
  EMS/admin-ui-bundle/assets/css/admin-lte/_cards.scss
  EMS/admin-ui-bundle/assets/js/core/components/ajaxRequest.js
  EMS/admin-ui-bundle/assets/js/core/components/notifications.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/plugins/form.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/html5.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/out-of-sync.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/control-sidebar.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/toasts.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/topbar.html.twig
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
Labels: core-bundle, admin-ui-bundle

#749 refactor(admin-ui): action.js
  EMS/admin-ui-bundle/_to_be_ref/calendar.js
  EMS/admin-ui-bundle/_to_be_ref/criteria-table.js
  EMS/admin-ui-bundle/_to_be_ref/criteria-view.js
  EMS/admin-ui-bundle/_to_be_ref/hierarchical.js
  EMS/admin-ui-bundle/_to_be_ref/i18n.js
  EMS/admin-ui-bundle/_to_be_ref/js/core.js
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/_to_be_ref/js/helpers.js
  EMS/admin-ui-bundle/_to_be_ref/js/module/revisionTask.js
  EMS/admin-ui-bundle/_to_be_ref/managed-alias.js
  EMS/admin-ui-bundle/_to_be_ref/template.js
  EMS/admin-ui-bundle/_to_be_ref/user-profile.js
  EMS/admin-ui-bundle/assets/js/action.js
  EMS/admin-ui-bundle/assets/js/calendar.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/helpers/color.js
  EMS/admin-ui-bundle/assets/js/core/plugins/button.js
  EMS/admin-ui-bundle/assets/js/core/plugins/select.js
  EMS/admin-ui-bundle/assets/js/core/plugins/text.js
  EMS/admin-ui-bundle/assets/js/criteria-table.js
  EMS/admin-ui-bundle/assets/js/criteria-view.js
  EMS/admin-ui-bundle/assets/js/hierarchical.js
  EMS/admin-ui-bundle/assets/js/i18n.js
  EMS/admin-ui-bundle/assets/js/managed-alias.js
  EMS/admin-ui-bundle/src/Resources/translations/form.en.xliff
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/action/form.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/object-views-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/environment/align.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/environment/managed_alias.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/i18n/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/i18n/new.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/calendar_view.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/criteria_table.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/criteria_view.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_view.html.twig
  EMS/admin-ui-bundle/webpack.config.js
Labels: admin-ui-bundle

#752 refactor(admin-ui): asset extract
  EMS/admin-ui-bundle/assets/js/calendar.js
  EMS/admin-ui-bundle/assets/js/core/plugins/file.js
  EMS/admin-ui-bundle/assets/js/core/plugins/job.js
  EMS/admin-ui-bundle/assets/js/criteria-table.js
Labels: admin-ui-bundle

#753 docs(demo): update promo contents
  demo/configs/admin/assets/ecms_cartographie.jpg
  demo/configs/admin/assets/ecms_news_audit.jpg
  demo/configs/document/feature/041bb909-d63f-456f-ac9a-0ec6f159d266.json
  demo/configs/document/feature/0HSy84kBTCsR_QayR5Bc.json
  demo/configs/document/feature/0d0495a7-e875-4f6f-b48e-a6f9ffbc71a5.json
  demo/configs/document/feature/1e098324-cb8b-49d1-83e5-f43472c27297.json
  demo/configs/document/feature/1eb197cb-9d18-4ee7-8168-c38891e31d8f.json
  demo/configs/document/feature/25b300d9-ab2e-4fa7-b1e4-5b46dfd8cc3b.json
  demo/configs/document/feature/58f4ae47-edf8-41ea-96ec-2f8ebf3ef490.json
  demo/configs/document/feature/7cdb7534-7f16-43b0-9f54-b895bc2e5d54.json
  demo/configs/document/feature/8832d2ee-04ea-4024-b2c3-0d8cbc6a7086.json
  demo/configs/document/feature/a81a1cb5-0dd1-4be9-97b7-07fe56399fbc.json
  demo/configs/document/feature/c3a28501-7772-4e43-9a6d-f01e9a17dede.json
  demo/configs/document/feature/f20aa253-ee5b-44a0-b64a-f3d852256d13.json
  demo/configs/document/feature/fb82acbf-8384-4064-8809-6f14ef724af7.json
  demo/configs/document/feature/fec91dd3-8dcb-4a2a-bc4e-99304e2e4ea4.json
  demo/configs/document/news/03c29e15-3c62-4ce4-b42e-e3e297c2095c.json
  demo/configs/document/news/3f13e8d7-61c8-481c-b831-543da21987cc.json
  demo/configs/document/news/416b3644-d00c-40a5-b1a1-a92f83c166f2.json
  demo/configs/document/news/E9iuuokBTbVbdHDCuoaC.json
  demo/configs/document/page/02c9040f-1368-485c-92a6-a7c71b77224b.json
  demo/configs/document/release/bc40f4ef-7683-4e70-9c6a-5a5cf99e7244.json
  demo/configs/document/release/c4823663-644c-4b58-afdd-eb03a9bd5339.json
  demo/skeleton/template/page/blocks/releases.html.twig
Labels: demo

#757 fix(admin): hide sensitive info to non authenticated users
  EMS/core-bundle/src/Resources/views/base.html.twig
  EMS/core-bundle/src/Resources/views/elasticsearch/status.html.twig
Labels: core-bundle

#758 fix(admin): hide sensitive info to non authenticated users
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/status.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/footer.html.twig
Labels: admin-ui-bundle

#759 refactor(bootstrap 5): float-end
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/edit-revision.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/status.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/footer.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/object-views-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/pagination.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/entity/list-entities.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/filter/index.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/i18n/form.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/job/index.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inbox.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/list.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/json/json_menu_nested.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/ajax.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/dashboard.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/criteria_table.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_add_item.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/wysiwygprofile/index.html.twig
Labels: admin-ui-bundle

#760 refactor(generated assets): delete generated assets
  EMS/admin-ui-bundle/.gitignore
  EMS/admin-ui-bundle/src/Resources/public/css/app.47e7695809d8e465d029.css
  EMS/admin-ui-bundle/src/Resources/public/css/app.47e7695809d8e465d029.css.map
  EMS/admin-ui-bundle/src/Resources/public/images/icon-128.69c99f85acac91d83cc0..png
  EMS/admin-ui-bundle/src/Resources/public/images/icon-128.e6dab5b6d835a927b2ed..png
  EMS/admin-ui-bundle/src/Resources/public/images/logo.69c99f85acac91d83cc0..svg
  EMS/admin-ui-bundle/src/Resources/public/images/logo.e6dab5b6d835a927b2ed..svg
  EMS/admin-ui-bundle/src/Resources/public/js/app.5cce0f58fd8034fcb0a0.js
  EMS/admin-ui-bundle/src/Resources/public/js/app.5cce0f58fd8034fcb0a0.js.map
  EMS/admin-ui-bundle/src/Resources/public/js/app.f26e3e1c7d1e832a1c7a.js
  EMS/admin-ui-bundle/src/Resources/public/js/app.f26e3e1c7d1e832a1c7a.js.map
  EMS/admin-ui-bundle/src/Resources/public/manifest.json
  EMS/admin-ui-bundle/src/Resources/public/media/fa-brands-400150de8eaa454d669c405.ttf
  EMS/admin-ui-bundle/src/Resources/public/media/fa-brands-400e033a13ee751afc1860c.woff2
  EMS/admin-ui-bundle/src/Resources/public/media/fa-regular-4003223dc79c1adee56370b.woff2
  EMS/admin-ui-bundle/src/Resources/public/media/fa-regular-400d87474231f4192884802.ttf
  EMS/admin-ui-bundle/src/Resources/public/media/fa-solid-9004a2cd718d7031b732e76.ttf
  EMS/admin-ui-bundle/src/Resources/public/media/fa-solid-900bb975c966c37455a1bc3.woff2
Labels: admin-ui-bundle

#761 fix(docker): docker was not starting any more
  demo/.env
  demo/Makefile
  demo/README.md
  demo/docker-compose.yml
  demo/docker-elasticms.yml
  docker/.env.dist
  docker/docker-compose.yml
Labels: documentation, demo

#762 fix(make): demo's make under os x
  demo/Makefile
  demo/README.md
Labels: documentation, demo

#764 fix(core/ldap): ldap not configured should through error
  EMS/core-bundle/src/Resources/config/security/ldap.xml
  EMS/core-bundle/src/Security/Ldap/LdapFormLoginAuthenticator.php
Labels: common-bundle, core-bundle, admin-ui-bundle

#767 refactor(bootstrap5): edit revision
  EMS/admin-ui-bundle/_to_be_ref/edit-revision.js
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/events/changeEvent.js
  EMS/admin-ui-bundle/assets/js/core/events/ctrlSaveEvent.js
  EMS/admin-ui-bundle/assets/js/core/plugins/form.js
  EMS/admin-ui-bundle/assets/js/edit-revision.js
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
Labels: documentation, core-bundle, github, admin-ui-bundle

#769 fix(admin-ui): still reference template @EMSCore
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/admin-form/reorder.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/analyzer/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/analyzer/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/channel/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/channel/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/contenttype/reorder.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/contenttype/reorder_item.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/custom-view.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/search.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/filter/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/filter/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/i18n/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/i18n/new.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/json/json_menu_nested.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/calendar_view.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/gallery_view.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_add_item.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_item.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/hierarchical_view.html.twig
Labels: admin-ui-bundle

#768 refactor(admin-ui): jsonMenu
  EMS/admin-ui-bundle/_to_be_ref/js/initEms.js
  EMS/admin-ui-bundle/_to_be_ref/js/module/jsonMenu.js
  EMS/admin-ui-bundle/_to_be_ref/js/module/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenu.js
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/plugins/jsonMenu.js
Labels: admin-ui-bundle

#766 feat(core/release): add unpublish documents in release
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/release-revisions.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/revisions.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/form.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/revisions.html.twig
  EMS/common-bundle/src/Elasticsearch/Document/Document.php
  EMS/core-bundle/src/Controller/ContentManagement/ReleaseController.php
  EMS/core-bundle/src/Core/DataTable/DataTableFactory.php
  EMS/core-bundle/src/Core/DataTable/Type/AbstractQueryTableType.php
  EMS/core-bundle/src/Core/Revision/Query/PublishedRevisionsQueryService.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseOverviewDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleasePickDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseRevisionsPublishDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Release/ReleaseRevisionsUnpublishDataTableType.php
  EMS/core-bundle/src/Entity/ReleaseRevision.php
  EMS/core-bundle/src/Form/Data/QueryTable.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/config/routing/data.xml
  EMS/core-bundle/src/Resources/config/routing/release.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-twigs.en.yml
  EMS/core-bundle/src/Resources/views/release/columns/release-revisions.html.twig
  EMS/core-bundle/src/Resources/views/release/columns/revisions.html.twig
  EMS/core-bundle/src/Resources/views/release/form.html.twig
  EMS/core-bundle/src/Resources/views/release/revisions.html.twig
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/ReleaseRevisionService.php
  EMS/core-bundle/src/Service/ReleaseService.php
Labels: common-bundle, core-bundle, admin-ui-bundle

#770 refactor(admin-ui): js in edit revision (DateTime, Reorder, Sortable, ..)
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/_to_be_ref/js/initEms.js
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenu.js
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/js/core/components/modal.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/librairies/nestedSortable.js
  EMS/admin-ui-bundle/assets/js/core/plugins/datetime.js
  EMS/admin-ui-bundle/assets/js/core/plugins/text.js
  EMS/admin-ui-bundle/assets/js/edit-revision.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/core-bundle/src/Core/Form/FieldTypeManager.php
  EMS/core-bundle/src/Form/DataField/DateTimeFieldType.php
Labels: core-bundle, admin-ui-bundle

#772 refactor(bootstrap 5): date field types, textareas and some fixes
  EMS/admin-ui-bundle/_to_be_ref/js/core.js
  EMS/admin-ui-bundle/_to_be_ref/js/editRevisionEventListeners.js
  EMS/admin-ui-bundle/_to_be_ref/js/initEms.js
  EMS/admin-ui-bundle/assets/css/core/components/form.scss
  EMS/admin-ui-bundle/assets/js/core/components/modal.js
  EMS/admin-ui-bundle/assets/js/core/components/notifications.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/events/addedDomEvent.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ajaxModal.js
  EMS/admin-ui-bundle/assets/js/core/plugins/button.js
  EMS/admin-ui-bundle/assets/js/core/plugins/collapsibleCollection.js
  EMS/admin-ui-bundle/assets/js/core/plugins/collection.js
  EMS/admin-ui-bundle/assets/js/core/plugins/datetime.js
  EMS/admin-ui-bundle/assets/js/core/plugins/form.js
  EMS/admin-ui-bundle/assets/js/core/plugins/mediaLibrary.js
  EMS/admin-ui-bundle/assets/js/core/plugins/searchForm.js
  EMS/admin-ui-bundle/assets/js/edit-revision.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/edit-revision.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/search.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/object-views-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/post-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/revision-toolbar.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/toasts.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Form/DataField/DateFieldType.php
  EMS/core-bundle/src/Form/DataField/DateRangeFieldType.php
  EMS/core-bundle/src/Form/DataField/DateTimeFieldType.php
  EMS/core-bundle/src/Form/DataField/TimeFieldType.php
  EMS/core-bundle/src/Form/Form/RevisionType.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle, admin-ui-bundle

#773 refactor(bootstrap 5): search form
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/export-search.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/search-form-filter.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/core-bundle/src/Form/Form/ExportDocumentsType.php
  EMS/core-bundle/src/Form/Form/SearchFormType.php
Labels: core-bundle, admin-ui-bundle

#776 fix(demo): using session in stateless api calls
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
  EMS/core-bundle/src/Resources/views/ajax/notification.json.twig
Labels: core-bundle

#777 refactor: stateless logger
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/contenttype_info.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/extract-data-file.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/file.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/notification.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/revision.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/ajax-revision.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/calendar_replan.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/calendar_search.json.twig
  EMS/core-bundle/src/Controller/ContentManagement/ActionController.php
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Controller/ContentManagement/ViewController.php
  EMS/core-bundle/src/Controller/Job/ScheduleController.php
  EMS/core-bundle/src/Controller/NotificationController.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/Controller/Views/CalendarController.php
  EMS/core-bundle/src/Controller/Views/CriteriaController.php
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/views/ajax/contenttype_info.json.twig
  EMS/core-bundle/src/Resources/views/ajax/extract-data-file.json.twig
  EMS/core-bundle/src/Resources/views/ajax/file.json.twig
  EMS/core-bundle/src/Resources/views/ajax/notification.json.twig
  EMS/core-bundle/src/Resources/views/ajax/revision.json.twig
  EMS/core-bundle/src/Resources/views/data/ajax-revision.json.twig
  EMS/core-bundle/src/Resources/views/view/custom/calendar_replan.json.twig
  EMS/core-bundle/src/Resources/views/view/custom/calendar_search.json.twig
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: common-bundle, core-bundle, admin-ui-bundle

#781 fix(common/elastica): filter the indexes if a regex is defined
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Search/Search.php
  EMS/common-bundle/src/Service/ElasticaService.php
  EMS/core-bundle/src/Controller/Api/Search/SearchController.php
  EMS/core-bundle/src/Resources/config/routing/api/search.xml
Labels: common-bundle, core-bundle

#782 refactor(core/api): remove json.twig templates for JsonResponse
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/images.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/multipart.json.twig
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/views/ajax/images.json.twig
  EMS/core-bundle/src/Resources/views/ajax/multipart.json.twig
Labels: core-bundle, admin-ui-bundle

#783 fix(api): indices by aliases only if exist
  EMS/common-bundle/src/Common/CoreApi/CoreApi.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Admin/Admin.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Search/Search.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Admin/AdminInterface.php
  EMS/common-bundle/tests/Unit/Common/CoreApi/Endpoint/Search/SearchAiTest.php
Labels: common-bundle

#785 feat(elasticms): add s3 store data and storeDataSessionHandler
  EMS/common-bundle/src/Common/Session/StoreDataSessionHandler.php
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataCacheFactory.php
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataEntityFactory.php
  EMS/common-bundle/src/Common/StoreData/Factory/StoreDataS3Factory.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataCacheService.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataEntityService.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataFileSystemService.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataS3Service.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataServiceInterface.php
  EMS/common-bundle/src/Common/StoreData/StoreDataManager.php
  EMS/common-bundle/src/Entity/StoreData.php
  EMS/common-bundle/src/Repository/StoreDataRepository.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Resources/config/store_data.xml
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20240226165436.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20240226165436.php
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-web/parameters.md
  docs/recipes/store-data.md
  elasticms-admin/bin/console
  elasticms-admin/config/packages/doctrine.yaml
  elasticms-admin/config/packages/framework.yaml
  elasticms-admin/config/packages/monolog.yaml
  elasticms-admin/public/index.php
  elasticms-web/bin/console
  elasticms-web/config/packages/doctrine.yaml
  elasticms-web/config/packages/framework.yaml
  elasticms-web/config/packages/monolog.yaml
  elasticms-web/migrations/pdo_mysql/Version20240226165436.php
  elasticms-web/migrations/pdo_pgsql/Version20240226165436.php
  elasticms-web/public/index.php
Labels: documentation, common-bundle, elasticms-admin, elasticms-web, core-bundle

#786 refactor(ck5): ckeditor in rev
  EMS/admin-ui-bundle/assets/css/core/plugins/wysiwyg.scss
  EMS/admin-ui-bundle/assets/js/core/plugins/jsonMenu.js
  EMS/admin-ui-bundle/assets/js/core/plugins/wysiwyg.js
  EMS/admin-ui-bundle/assets/js/edit-revision.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/webpack.config.js
Labels: admin-ui-bundle

#787 fix(core/revision): linked revisions all default environments
  EMS/core-bundle/src/Controller/Revision/DetailController.php
Labels: core-bundle

#788 feat(core/field-type): new FieldTypeService for building tree
  EMS/core-bundle/src/Core/ContentType/FieldType/FieldTypeService.php
  EMS/core-bundle/src/Core/ContentType/FieldType/FieldTypeTreeItem.php
  EMS/core-bundle/src/Core/ContentType/FieldType/FieldTypeTreeItemCollection.php
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#791 fix(demo): double css import
  demo/src/admin.js
Labels: demo

#792 fix(autosave): empty warnings
  EMS/core-bundle/assets/js/AjaxRequest.js
  EMS/core-bundle/src/Resources/public/css/app.08be9fb07ff7e3d63d22.css
  EMS/core-bundle/src/Resources/public/css/calendar.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/criteria-table.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/criteria-view.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/edit-revision.08be9fb07ff7e3d63d22.css
  EMS/core-bundle/src/Resources/public/css/hierarchical.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/i18n.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/managed-alias.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/template.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/css/user-profile.633b1ba150a5bfe9d31b.css
  EMS/core-bundle/src/Resources/public/js/app.9774ee3d26ee53f401e1.js
  EMS/core-bundle/src/Resources/public/js/calendar.6e634bf65ffd232f8d27.js
  EMS/core-bundle/src/Resources/public/js/calendar.793c23050b6604984edd.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.a54ad786fa3c3e1c0b08.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.cd2e6028f57d483ceae2.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.a752171ba2bd0759581c.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.e79852a9bac1c06bbff6.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.0529cc7435ee6173c952.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.91d54a11df3475009874.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.523fed4687b3b38fd30f.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.f9173d8c62f1f76de84c.js
  EMS/core-bundle/src/Resources/public/js/i18n.6d6aae6a4d493b96827e.js
  EMS/core-bundle/src/Resources/public/js/i18n.8b952d1246998bc75ede.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.0b530b6f9f1d1f85c154.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.dc5aeb29a5e849f30b80.js
  EMS/core-bundle/src/Resources/public/js/template.23ce1249b1ffecdd36d1.js
  EMS/core-bundle/src/Resources/public/js/template.a55371a636e759d35b7d.js
  EMS/core-bundle/src/Resources/public/js/user-profile.0902122530d8606841a8.js
  EMS/core-bundle/src/Resources/public/js/user-profile.5b5294bcb23bd95c9ef0.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle
