Repository ems-project/elasticms, pull requests merged in 2024-08, with the labels that each got.

#979 fix(admin/asset): small images null string
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/src/Resources/public/js/app.dd0d79ab57a2b0aa4eb5.js
  EMS/core-bundle/src/Resources/public/js/calendar.184d73a0308a033d6da3.js
  EMS/core-bundle/src/Resources/public/js/criteria-table.535b300fc05251b33ec7.js
  EMS/core-bundle/src/Resources/public/js/criteria-view.7b48215b63bc8e6f00b4.js
  EMS/core-bundle/src/Resources/public/js/edit-revision.34f3fe0b9cd83142ceac.js
  EMS/core-bundle/src/Resources/public/js/hierarchical.f49c757325678f788350.js
  EMS/core-bundle/src/Resources/public/js/i18n.c284d71a79e435a3384e.js
  EMS/core-bundle/src/Resources/public/js/managed-alias.2cd42afb8005b87b30b5.js
  EMS/core-bundle/src/Resources/public/js/template.44363791fca686a78d93.js
  EMS/core-bundle/src/Resources/public/js/user-profile.a8970d279878e3e3d5c0.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#983 fix(cli/media-sync): add filesize limit and fix memory leak extraction
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySync.php
  elasticms-cli/src/Client/MediaLibrary/MediaLibrarySyncOptions.php
  elasticms-cli/src/Command/MediaLibrary/MediaLibrarySyncCommand.php
  elasticms-cli/src/Helper/Tika/TikaWrapper.php
Labels: elasticms-cli

#986 fix: orderKey has been renamed
  EMS/core-bundle/src/Controller/Wysiwyg/StylesetController.php
Labels: core-bundle

#985 refactor: avoid to pollute the root with unnamed resources
  EMS/admin-ui-bundle/assets/js/core/plugins/ace-resolver.js
  EMS/admin-ui-bundle/assets/js/core/plugins/codeEditor.js
  EMS/admin-ui-bundle/webpack.config.js
Labels: admin-ui-bundle

#988 fix(admin/twig): align core and admin templates
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/action/action.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/component.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/media_library/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/modal.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/datatable/template_block_columns.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/status.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/job/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/release-revisions.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/mail.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/user/add.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/user/edit.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/user/mail.twig
  EMS/core-bundle/src/Resources/views/contenttype/structure.html.twig
  EMS/core-bundle/src/Resources/views/dashboard/abstract.html.twig
  EMS/core-bundle/src/Resources/views/dashboard/add.html.twig
  EMS/core-bundle/src/Resources/views/dashboard/edit.html.twig
  EMS/core-bundle/src/Resources/views/dashboard/form.html.twig
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
Labels: core-bundle, admin-ui-bundle

#990 fix(admin/revision): is granted contentType edit role
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
Labels: core-bundle

#984 feat(admin/jmn): implement json menu nested in 6.x
  EMS/admin-ui-bundle/assets/css/admin-lte/_bootstrap-depracated.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/_bootstrap-variables.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/_layout.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/_variables.scss
  EMS/admin-ui-bundle/assets/css/core/components/json_menu_nested.scss
  EMS/admin-ui-bundle/assets/css/core/components/media_library.scss
  EMS/admin-ui-bundle/assets/css/core/helpers/mixins.scss
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenuNestedComponent.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ajaxModal.js
  EMS/admin-ui-bundle/assets/js/core/librairies/sortable.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/json_menu_nested/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/modal.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/object-views-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inboxRejected.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inboxToTreat.html.twig
  EMS/admin-ui-bundle/webpack.config.js
  demo/skeleton/template_ems/dashboard/json_menu_nested.twig
  demo/skeleton/template_ems/dashboard/sitemap.twig
  demo/skeleton/template_ems/view/overview.twig
Labels: demo, admin-ui-bundle

#992 feat(admin/media-lib): support for media library 6.x
  EMS/admin-ui-bundle/assets/css/adminlte.scss
  EMS/admin-ui-bundle/assets/css/core/components/json_menu_nested.scss
  EMS/admin-ui-bundle/assets/css/core/components/media_library.scss
  EMS/admin-ui-bundle/assets/css/core/core.scss
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenu.js
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenuNestedComponent.js
  EMS/admin-ui-bundle/assets/js/core/components/mediaLibrary.js
  EMS/admin-ui-bundle/assets/js/core/components/modal.js
  EMS/admin-ui-bundle/assets/js/core/components/revisionTask.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ajaxModal.js
  EMS/admin-ui-bundle/assets/js/core/helpers/progressBar.js
  EMS/admin-ui-bundle/assets/js/core/helpers/repo.js
  EMS/admin-ui-bundle/assets/js/core/helpers/resizeImage.js
  EMS/admin-ui-bundle/assets/js/core/plugins/button.js
  EMS/admin-ui-bundle/assets/js/core/plugins/file.js
  EMS/admin-ui-bundle/assets/js/core/plugins/mediaLibrary.js
  EMS/admin-ui-bundle/assets/js/core/plugins/select.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/media_library/template.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/cke-modal.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/modal.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/datatable/template_block_columns.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inboxRejected.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inboxToTreat.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Entity/View.php
  EMS/core-bundle/src/Repository/FormRepository.php
  EMS/core-bundle/src/Resources/config/doctrine/View.orm.xml
  EMS/core-bundle/src/Resources/views/components/media_library/template.html.twig
  EMS/core-bundle/src/Resources/views/components/media_library/template.twig
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/release.json
  demo/configs/admin/content-type/slideshow.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/dashboard/media-library.json
Labels: core-bundle, demo, admin-ui-bundle

#994 fix(common/storage): multipart upload (min 5mb)
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/helpers/src/File/File.php
Labels: common-bundle, helpers
