Repository ems-project/elasticms, pull requests merged in 2024-04, with the labels that each got.

#860 refactor: environment overview and wysiwyg
  EMS/core-bundle/src/Controller/WysiwygController.php
  EMS/core-bundle/src/DataTable/Type/ChannelDataTableType.php
  EMS/core-bundle/src/DataTable/Type/EnvironmentDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Wysiwyg/WysiwygProfileDataTableType.php
  EMS/core-bundle/src/DataTable/Type/Wysiwyg/WysiwygStylesSetDataTableType.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Form/Data/TableColumn.php
  EMS/core-bundle/src/Form/Data/TableItemAction.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/datatable.xml
  EMS/core-bundle/src/Resources/views/environment/index.html.twig
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: core-bundle, refactor

#861 fix(form/choice): choice labels not defined and no cache with debug controller
  EMS/form-bundle/src/Components/Form.php
  EMS/form-bundle/src/Controller/AbstractFormController.php
  EMS/form-bundle/src/Controller/DebugController.php
  EMS/form-bundle/src/Controller/FormController.php
  EMS/form-bundle/src/FormConfig/FormConfigFactory.php
Labels: form-bundle

#862 fix(core/environment): set order on create environment
  EMS/core-bundle/src/Controller/ContentManagement/EnvironmentController.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: bug, core-bundle

#863 refactor: validate link form + anchor links
  EMS/admin-ui-bundle/assets/js/core/events/formFailEvent.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ckeditor5-link/src/linkui.js
  EMS/admin-ui-bundle/assets/js/core/helpers/linkModal.js
  EMS/admin-ui-bundle/assets/js/core/plugins/form.js
  EMS/core-bundle/src/Controller/Wysiwyg/ModalController.php
  EMS/core-bundle/src/Entity/Form/LoadLinkModalEntity.php
  EMS/core-bundle/src/Form/Form/LoadLinkModalType.php
  EMS/core-bundle/src/Resources/translations/emsco-forms.en.yml
  EMS/core-bundle/src/Resources/translations/validators.en.yml
Labels: core-bundle, admin-ui-bundle

#864 refactor: finalize the link modal
  EMS/admin-ui-bundle/assets/js/core/helpers/ckeditor5-link/src/ui/linkactionsview.js
  EMS/admin-ui-bundle/assets/js/core/plugins/select.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/link-modal.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/modal/link.html.twig
  EMS/core-bundle/src/Form/Form/AnchorChoiceLoader.php
  EMS/core-bundle/src/Form/Form/LoadLinkModalType.php
Labels: core-bundle, admin-ui-bundle

#865 fix(core): reordered entity services
  EMS/core-bundle/src/Resources/config/services.xml
Labels: core-bundle

#871 fix(core/api): getSubmissionFile correct headers and error handling
  EMS/client-helper-bundle/src/Controller/ApiController.php
  EMS/common-bundle/src/Common/CoreApi/Client.php
Labels: common-bundle, client-helper-bundle

#866 refactor: entity datatables
  EMS/admin-ui-bundle/src/Resources/translations/emsco-channel.en.yml
  EMS/admin-ui-bundle/src/Resources/translations/emsco-environment.en.yml
  EMS/admin-ui-bundle/src/Resources/translations/emsco-form.en.yml
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/channel/menu.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/environment/index.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/release-revisions.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/columns.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/wysiwygprofile/form.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/wysiwygprofile/index.html.twig
  EMS/core-bundle/src/DataTable/Type/ChannelDataTableType.php
  EMS/core-bundle/src/DataTable/Type/FormDataTableType.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/views/form/forms.html.twig
  EMS/core-bundle/src/Resources/views/wysiwygprofile/index.html.twig
Labels: core-bundle, admin-ui-bundle

#874 feat(emsch/security): oAuth2 Open ID Connect authenticator (keycloak)
  EMS/client-helper-bundle/composer.json
  EMS/client-helper-bundle/src/Controller/Security/Sso/OAuth2Controller.php
  EMS/client-helper-bundle/src/Controller/Security/Sso/SamlController.php
  EMS/client-helper-bundle/src/DependencyInjection/Configuration.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/Helper/Routing/RouteLoader.php
  EMS/client-helper-bundle/src/Resources/config/routing.xml
  EMS/client-helper-bundle/src/Resources/config/security.xml
  EMS/client-helper-bundle/src/Security/FirewallEntryPoint.php
  EMS/client-helper-bundle/src/Security/Saml/SamlAuthFactory.php
  EMS/client-helper-bundle/src/Security/Saml/SamlConfig.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Authenticator.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Property.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Service.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/KeycloakProvider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/ProviderInterface.php
  EMS/client-helper-bundle/src/Security/Sso/Saml/SamlAuthenticator.php
  EMS/client-helper-bundle/src/Security/Sso/Saml/SamlProperty.php
  EMS/client-helper-bundle/src/Security/Sso/Saml/SamlService.php
  EMS/client-helper-bundle/src/Security/Sso/SsoService.php
  EMS/client-helper-bundle/src/Security/Sso/User/SsoUser.php
  EMS/client-helper-bundle/src/Security/Sso/User/SsoUserProvider.php
  EMS/client-helper-bundle/tests/Integration/App/config/config.yml
  composer.json
  composer.lock
  demo/skeleton/routes.yaml
  demo/skeleton/template/security/login.html.twig
  demo/skeleton/template/security/profile.html.twig
  demo/skeleton/translations/messages.en.yaml
  docker/idp/data/elasticms-realm.json
  docker/idp/data/elasticms-users-0.json
  docker/idp/docker-compose.yml
  docs/elasticms-web/security.md
  docs/getting-started/dev-env.md
  elasticms-web/.env.dist
  elasticms-web/config/packages/ems_client_helper.yaml
  elasticms-web/config/packages/security.yaml
Labels: client-helper-bundle, elasticms-web, demo
