Repository ems-project/elasticms, pull requests merged in 2024-11, with the labels that each got.

#1061 fix(admin/submission): non required in submisssion
  EMS/core-bundle/src/Controller/Form/SubmissionController.php
  EMS/core-bundle/src/Service/Form/Submission/FormSubmissionService.php
Labels: bug, elasticms-admin, core-bundle

#1063 fix(cli/command): file import config normal merge (for overwritting)
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: bug, elasticms-cli

#1064 feat(helper/uuid): generate uuid from value
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/helpers/src/Standard/UuidGenerator.php
  docs/dev/common-bundle/twig.md
  elasticms-cli/src/Client/File/FileReaderImportConfig.php
  elasticms-cli/src/Command/FileReader/FileReaderImportCommand.php
Labels: common-bundle, elasticms-admin, elasticms-web, elasticms-cli, feature, helpers

#1065 fix(admin/revision): finalize draft setMetaFields
  EMS/core-bundle/src/Service/DataService.php
Labels: bug, elasticms-admin

#1066 fix(admin/revision): data not consumed error on publishing new version
  EMS/core-bundle/src/Service/DataService.php
Labels: bug, elasticms-admin

#1069 fix(admin/revision): no 'data_not_consumed' warning for private fields
  EMS/core-bundle/src/Service/DataService.php
Labels: bug, elasticms-admin, elasticms-cli

#1068 fix(admin/revision): add ouuid_idx for better performance
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20241106135816.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20241106135816.php
Labels: bug, elasticms-admin, core-bundle

#1070 feat(admin/cli): forward form submissions
  EMS/common-bundle/src/Exception/NotParsableUrlException.php
  EMS/common-bundle/src/Helper/Url.php
  EMS/common-bundle/tests/Unit/Helper/UrlTest.php
  EMS/core-bundle/src/Command/Submission/ForwardCommand.php
  EMS/core-bundle/src/Commands.php
  EMS/core-bundle/src/Resources/config/command.xml
  EMS/form-bundle/src/Security/HashcashToken.php
  EMS/form-bundle/tests/Unit/Security/HashcashTokenTest.php
  EMS/helpers/src/Html/Headers.php
  EMS/submission-bundle/src/Entity/FormSubmission.php
  demo/skeleton/template_ems/submission/form_user_group.twig
  elasticms-cli/src/Client/Audit/AuditManager.php
  elasticms-cli/src/Client/Audit/AuditResult.php
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/Audit/Report.php
  elasticms-cli/src/Client/HttpClient/CacheManager.php
  elasticms-cli/src/Client/HttpClient/UrlReport.php
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Client/WebToElasticms/Config/Document.php
  elasticms-cli/src/Client/WebToElasticms/Extract/Extractor.php
  elasticms-cli/src/Client/WebToElasticms/Extract/Html.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Attr/LinkMediaFile.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Attr/Src.php
  elasticms-cli/src/Client/WebToElasticms/Filter/Html/InternalLink.php
  elasticms-cli/src/Client/WebToElasticms/Rapport/Rapport.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/src/Helper/HtmlHelper.php
  elasticms-cli/src/Helper/Tika/TikaClient.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaPromiseTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaTest.php
Labels: form-bundle, elasticms-admin, elasticms-web, core-bundle, feature

#1071 fix(admin/cli): reindex command doctrine paginate with bulkSize
  EMS/core-bundle/src/Command/ReindexCommand.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
Labels: elasticms-admin, core-bundle, performance

#1073 refactor(web): routing and templating match the content type name
  EMS/client-helper-bundle/src/Helper/Routing/RoutingFile.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateBuilder.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateFiles.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateName.php
Labels: elasticms-web, refactor

#1075 fix(admin/field): multiple asset must use the id of the children (not the parent)
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
Labels: bug, elasticms-admin, core-bundle

#1074 fix(admin/cli): activate content type command fix configure
  EMS/core-bundle/src/Command/ActivateContentTypeCommand.php
Labels: bug, elasticms-admin, core-bundle

#1076 fix(cli/file-structure): improve push command (save_hash_file, chunk size)
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/File/FileManagerInterface.php
  EMS/common-bundle/src/Storage/Archive.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/EntityStorage.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/StorageInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/core-bundle/src/Service/FileService.php
Labels: common-bundle, elasticms-cli, feature, performance

#1079 feat(cli): preload archive in cache
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Command/Storage/LoadArchiveItemsInCacheCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/File/FileManagerInterface.php
  EMS/common-bundle/src/Controller/FileController.php
  EMS/common-bundle/src/Resources/config/commands.xml
  EMS/common-bundle/src/Storage/Archive.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/EntityStorage.php
  EMS/common-bundle/src/Storage/Service/FileSystemStorage.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/StorageInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
Labels: common-bundle, elasticms-cli

#1081 feat(cli): enable symfony debug bundle in dev mode
  elasticms-cli/config/bundles.php
  elasticms-cli/config/packages/debug.yaml
  elasticms-cli/symfony.lock
Labels: enhancement, elasticms-cli

#1082 feat(common/file-reader): correct trimming white spaces and keep "0" values
  EMS/common-bundle/src/Common/File/FileReader.php
Labels: bug, common-bundle

#1084 fix(common): perf issues with etag behoind apache with deflate mod
  EMS/common-bundle/src/Controller/FileController.php
  EMS/common-bundle/src/Helper/Cache.php
  EMS/common-bundle/src/Storage/Processor/Processor.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/tests/Unit/Helper/CacheAiTest.php
  EMS/common-bundle/tests/Unit/Helper/CacheTest.php
  EMS/helpers/src/Html/Headers.php
  docs/dev/client-helper-bundle/twig.md
  docs/dev/common-bundle/twig.md
Labels: bug, common-bundle, performance
