Repository ems-project/elasticms, pull requests merged in 2024-01, with the labels that each got.

#708 fix(symfony/6.4): remove sensio/framework-extra-bundle & annotations
  EMS/common-bundle/composer.json
  EMS/core-bundle/composer.json
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Request/MediaLibraryParamConverter.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Request/MediaLibraryRequestValueResolver.php
  EMS/core-bundle/src/Core/Config/ConfigParamConverter.php
  EMS/core-bundle/src/Core/Config/ConfigValueResolver.php
  EMS/core-bundle/src/Entity/FieldType.php
  EMS/core-bundle/src/Form/FieldType/FieldTypeType.php
  EMS/core-bundle/src/Form/View/CalendarViewType.php
  EMS/core-bundle/src/Form/View/CriteriaViewType.php
  EMS/core-bundle/src/Form/View/GalleryViewType.php
  EMS/core-bundle/src/Resources/config/core.xml
  composer.json
  composer.lock
  elasticms-admin/composer.json
  elasticms-admin/config/bundles.php
  elasticms-admin/config/packages/doctrine.yaml
  elasticms-admin/config/packages/sensio_framework_extra.yaml
  elasticms-admin/symfony.lock
  elasticms-cli/config/packages/doctrine.yaml
  elasticms-cli/symfony.lock
  elasticms-web/composer.json
  elasticms-web/config/bundles.php
  elasticms-web/config/packages/doctrine.yaml
  elasticms-web/config/packages/sensio_framework_extra.yaml
  elasticms-web/symfony.lock
  symfony.lock
Labels: common-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle

#709 fix(demo/structure): get default environment for section
  demo/skeleton/template_ems/dashboard/sitemap.twig
Labels: demo

#710 refactor(rector): rector readonly properties and final consts
  EMS/common-bundle/src/Entity/StoreData.php
  EMS/common-bundle/src/Service/Pdf/PdfPrintOptions.php
  EMS/core-bundle/src/Entity/Channel.php
  EMS/core-bundle/src/Entity/Dashboard.php
  EMS/core-bundle/src/Entity/Form.php
  EMS/core-bundle/src/Entity/FormVerification.php
  EMS/core-bundle/src/Entity/QuerySearch.php
  EMS/core-bundle/src/Entity/Task.php
  EMS/core-bundle/src/Entity/WysiwygStylesSet.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20231210131505.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20231210103056.php
  EMS/submission-bundle/src/Entity/FormSubmission.php
  EMS/submission-bundle/src/Entity/FormSubmissionFile.php
Labels: submission-bundle, common-bundle, core-bundle

#711 feat(elasticsearch/mapping): new EMSCO_DYNAMIC_MAPPING configuration
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/Mapping.php
  docker/.env.dist
  docs/elasticms-admin/environment-variables.md
  docs/upgrade.md
  elasticms-admin/config/packages/ems_core.yaml
Labels: documentation, elasticms-admin, core-bundle

#718 fix(core/field): jmn field environment is not required
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle, admin-ui-bundle

#719 feat(demo): media file download with config
  demo/skeleton/routes.yaml
  demo/skeleton/template/redirects/media_files.json.twig
Labels: demo

#720 refactor: media library and json menu nested
  EMS/admin-ui-bundle/assets/css/admin-lte/adminlte.scss
  EMS/admin-ui-bundle/assets/css/core/components/json_menu_nested.scss
  EMS/admin-ui-bundle/assets/css/core/components/media_library.scss
  EMS/admin-ui-bundle/assets/css/core/helpers/mixins.scss
  EMS/admin-ui-bundle/assets/js/core/components/jsonMenuNestedComponent.js
  EMS/admin-ui-bundle/assets/js/core/components/mediaLibrary.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/events/addedDomEvent.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ajax.js
  EMS/admin-ui-bundle/assets/js/core/helpers/ajaxModal.js
  EMS/admin-ui-bundle/assets/js/core/helpers/collapse.js
  EMS/admin-ui-bundle/assets/js/core/helpers/observeDom.js
  EMS/admin-ui-bundle/assets/js/core/helpers/progressBar.js
  EMS/admin-ui-bundle/assets/js/core/helpers/tooltip.js
  EMS/admin-ui-bundle/assets/js/core/librairies/nestedSortable.js
  EMS/admin-ui-bundle/assets/js/core/librairies/sortable.js
  EMS/admin-ui-bundle/assets/js/core/plugins/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/js/core/plugins/mediaLibrary.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/components/media_library/component.html.twig
Labels: admin-ui-bundle

#721 refactor: file input into bootstrap 5
  EMS/admin-ui-bundle/assets/css/core/plugins/file.scss
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/helpers/pickFileFromServer.js
  EMS/admin-ui-bundle/assets/js/core/plugins/file.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/core/modal.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/datatable/dom.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/object-views-button.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/revision-toolbar.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/release-revisions.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/json/json_menu_nested.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/view/custom/gallery_view.html.twig
Labels: admin-ui-bundle

#724 refactor: ace code editor
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/plugins/codeEditor.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
Labels: admin-ui-bundle

#726 refactor: ems listeners
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/helpers/repo.js
  EMS/admin-ui-bundle/assets/js/core/plugins/button.js
  EMS/admin-ui-bundle/assets/js/core/plugins/choice.js
  EMS/admin-ui-bundle/assets/js/core/plugins/collapsibleCollection.js
  EMS/admin-ui-bundle/assets/js/core/plugins/nestedSortable.js
  EMS/admin-ui-bundle/assets/js/core/plugins/objectPicker.js
  EMS/admin-ui-bundle/assets/js/core/plugins/sortableList.js
  EMS/admin-ui-bundle/assets/js/core/plugins/symfonyCollection.js
  EMS/admin-ui-bundle/assets/js/core/plugins/tooltip.js
  EMS/admin-ui-bundle/package-lock.json
  EMS/admin-ui-bundle/package.json
Labels: admin-ui-bundle

#728 fix(core/twig): merge_recursive not working correctly
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#729 fix(core/search): legacy search not working on overviews
  EMS/core-bundle/src/Entity/Form/Search.php
  EMS/core-bundle/src/Entity/Form/SearchFilter.php
Labels: core-bundle

#731 fix(core/choice): multiple choice fields do not work
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
Labels: core-bundle

#733 feat(admin): activate PdoSessionHandler (new db env)
  elasticms-admin/bin/console
  elasticms-admin/config/packages/doctrine.yaml
  elasticms-admin/config/packages/framework.yaml
  elasticms-admin/config/packages/monolog.yaml
Labels: elasticms-admin

#727 refactor: JS work in progress
  EMS/admin-ui-bundle/assets/css/core/components/iframe_preview.scss
  EMS/admin-ui-bundle/assets/css/core/components/json_menu_nested.scss
  EMS/admin-ui-bundle/assets/css/core/helpers/mixins.scss
  EMS/admin-ui-bundle/assets/css/core/plugins/wysiwyg.scss
  EMS/admin-ui-bundle/assets/images/anonymous.gif
  EMS/admin-ui-bundle/assets/images/background-img.png
  EMS/admin-ui-bundle/assets/images/ball.svg
  EMS/admin-ui-bundle/assets/images/big-logo.png
  EMS/admin-ui-bundle/assets/images/elasticms_ball_only_circlegrey.png
  EMS/admin-ui-bundle/assets/images/elasticms_ball_only_circlewhite.png
  EMS/admin-ui-bundle/assets/images/logo.png
  EMS/admin-ui-bundle/assets/js/core/components/iframePreview.js
  EMS/admin-ui-bundle/assets/js/core/components/revisionTask.js
  EMS/admin-ui-bundle/assets/js/core/core.js
  EMS/admin-ui-bundle/assets/js/core/events/addedDomEvent.js
  EMS/admin-ui-bundle/assets/js/core/events/changeEvent.js
  EMS/admin-ui-bundle/assets/js/core/helpers/queryString.js
  EMS/admin-ui-bundle/assets/js/core/plugins/codeEditor.js
  EMS/admin-ui-bundle/assets/js/core/plugins/iframe.js
  EMS/admin-ui-bundle/assets/js/core/plugins/job.js
  EMS/admin-ui-bundle/assets/js/core/plugins/wysiwyg.js
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elasticsearch/status.json.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  rector.php
Labels: admin-ui-bundle

#735 fix(core/rector): entities $id is not readonly
  EMS/core-bundle/src/Entity/Channel.php
  EMS/core-bundle/src/Entity/Dashboard.php
  EMS/core-bundle/src/Entity/Form.php
  EMS/core-bundle/src/Entity/FormVerification.php
  EMS/core-bundle/src/Entity/QuerySearch.php
  EMS/core-bundle/src/Entity/Task.php
Labels: core-bundle

#734 fix(core/bootstrap5): tabs in edit revision
  EMS/admin-ui-bundle/assets/css/admin-lte/_cards.scss
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inbox.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/inboxToTreat.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/notification/list.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/ajax.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/dashboard.html.twig
Labels: admin-ui-bundle

#736 refactor: sidebar control
  EMS/admin-ui-bundle/src/Resources/translations/elements.en.xlf
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/control-sidebar.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/elements/footer.html.twig
Labels: admin-ui-bundle

#738 fix(core/user): find users for role broken
  EMS/core-bundle/src/Repository/UserRepository.php
Labels: core-bundle
