Repository ems-project/elasticms, pull requests merged in 2024-10, with the labels that each got.

#1029 feat(admin/wysiwyg): add data attributes in iframe preview
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/wysiwyg_styles_set/iframe.html.twig
  EMS/core-bundle/src/Controller/Wysiwyg/StylesetController.php
  EMS/core-bundle/src/Core/ContentType/DataFieldFormOptions.php
  EMS/core-bundle/src/Entity/DataField.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Form/DataField/ContainerFieldType.php
  EMS/core-bundle/src/Form/DataField/DataFieldType.php
  EMS/core-bundle/src/Form/DataField/WysiwygFieldType.php
  EMS/core-bundle/src/Form/DataTransformer/DataFieldModelTransformer.php
  EMS/core-bundle/src/Form/Extension/LocaleFormExtension.php
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  EMS/core-bundle/src/Resources/views/wysiwyg_styles_set/iframe.html.twig
  EMS/helpers/src/Standard/Locale.php
  EMS/helpers/tests/Unit/Standard/LocaleTest.php
  docs/elasticms-admin/wysiwyg/wysiwyg.md
Labels: core-bundle, feature, helpers

#1014 fix(xliff): drop ZWSP or SHY characters
  EMS/helpers/src/Html/HtmlHelper.php
  EMS/xliff/src/Xliff/Extractor.php
  EMS/xliff/src/Xliff/InsertionRevision.php
  EMS/xliff/tests/Unit/Resources/Extractions/TC-12/expected_UTF-81.2.xlf
  EMS/xliff/tests/Unit/Resources/Extractions/TC-12/expected_UTF-82.0.xlf
  EMS/xliff/tests/Unit/Resources/Extractions/TC-12/expected_us-ascii1.2.xlf
  EMS/xliff/tests/Unit/Resources/Extractions/TC-12/expected_us-ascii2.0.xlf
  EMS/xliff/tests/Unit/Resources/Extractions/TC-12/source.html
Labels: xliff

#1035 fix(admin/cli): reindex skip lock and with_warnings false
  EMS/core-bundle/src/Command/ReindexCommand.php
  EMS/core-bundle/src/Service/DataService.php
Labels: bug, elasticms-admin

#1037 fix(admin/document): display external content
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: bug, elasticms-admin

#1041 feat(admin-web/assets): new archive ems
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
  EMS/client-helper-bundle/src/Helper/Local/LocalHelper.php
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/File/FileInterface.php
  EMS/common-bundle/src/Storage/Archive.php
  EMS/common-bundle/src/Storage/ArchiveItem.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/EntityStorage.php
  EMS/common-bundle/src/Storage/Service/FileSystemStorage.php
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/Service/S3StreamPromise.php
  EMS/common-bundle/src/Storage/Service/StorageInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/core-bundle/src/Command/DocumentCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Helper/Archive.php
  EMS/core-bundle/src/Resources/config/routing/api/file.xml
  EMS/core-bundle/src/Service/FileService.php
  EMS/helpers/src/File/TempDirectory.php
  EMS/helpers/src/Html/MimeTypes.php
  docs/upgrade.md
Labels: common-bundle, client-helper-bundle, elasticms-admin, elasticms-web, core-bundle, feature

#1043 refactor(common/cli): file structure use new ems archive
  EMS/common-bundle/src/Command/FileStructure/AbstractFileStructureCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePublishCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePullCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Common/File/FileStructure/FileStructureClientInterface.php
  EMS/common-bundle/src/Common/File/FileStructure/S3Client.php
  EMS/common-bundle/src/Resources/config/commands.xml
  docs/_sidebar.md
  docs/recipes/websites/file-structure.md
Labels: common-bundle, elasticms-admin, elasticms-cli, feature

#1045 feat(common/cli): file structure api or storage manager
  EMS/common-bundle/src/Command/FileStructure/FileStructurePublishCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePullCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/File/File.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/File/FileInterface.php
  EMS/common-bundle/src/Contracts/File/FileManagerInterface.php
  EMS/common-bundle/src/Resources/config/commands.xml
  EMS/common-bundle/src/Storage/Service/S3Storage.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Service/FileService.php
  EMS/helpers/src/Html/MimeTypes.php
  docs/recipes/websites/file-structure.md
Labels: enhancement, common-bundle, elasticms-cli

#1046 fix(common/storage): log error on register services
  EMS/common-bundle/src/Storage/StorageManager.php
Labels: enhancement, common-bundle

#1047 chore(doc): add example ems_dom_crawler twig filter
  docs/site-building/twig.md
Labels: documentation, common-bundle

#1049 fix(admin/contentType): locale default null not 'en'
  EMS/core-bundle/src/Form/Extension/LocaleFormExtension.php
Labels: bug, core-bundle

#1051 feat(common/twig): new filter ems_valid_email
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/src/Twig/TextRuntime.php
  EMS/common-bundle/tests/Unit/Twig/TextRuntimeTest.php
  docs/dev/common-bundle/twig.md
Labels: common-bundle, feature

#1053 fix(admin/security): give public access to route prefixed with /bundle
  elasticms-admin/config/packages/security.yaml
Labels: elasticms-admin

#1054 feat(contentType/version): new not blank version option
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/revision/task/columns.twig
  EMS/core-bundle/src/Core/ContentType/Version/VersionOptions.php
  EMS/core-bundle/src/Core/Revision/Task/DataTable/TasksDataTableFilters.php
  EMS/core-bundle/src/Core/Revision/Task/DataTable/TasksDataTableQueryService.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Form/DataField/VersionTagFieldType.php
  EMS/core-bundle/src/Form/Form/ContentTypeVersionOptionsType.php
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Resources/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/src/Resources/views/data/revisions-data.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
  EMS/core-bundle/src/Resources/views/revision/task/columns.twig
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/PublishService.php
Labels: elasticms-admin, core-bundle, feature

#1055 feat(contentType/field): asset field type add label field
  EMS/core-bundle/src/Form/DataField/AssetFieldType.php
  EMS/core-bundle/src/Form/Field/AssetType.php
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: enhancement, elasticms-admin, core-bundle

#1057 refactor(admin): useless security access control since PR#1039
  elasticms-admin/config/packages/security.yaml
Labels: elasticms-admin, refactor

#1058 fix(admin/dataTable): ajaxData is in export format (links are just text)
  EMS/core-bundle/src/Core/DataTable/TableExporter.php
  EMS/core-bundle/src/Core/DataTable/TableRenderer.php
Labels: bug, elasticms-admin, core-bundle

#1059 fix(admin/contentType): locale option array on dateRange
  EMS/core-bundle/src/Core/ContentType/DataFieldFormOptions.php
  EMS/core-bundle/src/Form/Extension/LocaleFormExtension.php
Labels: bug, elasticms-admin

#1060 fix(common/log): add channel_ouuid_idx for performance
  EMS/common-bundle/src/Entity/Log.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20241031110947.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20241031110947.php
  elasticms-web/migrations/pdo_mysql/Version20241031110947.php
  elasticms-web/migrations/pdo_pgsql/Version20241031110947.php
Labels: bug, common-bundle, elasticms-admin, elasticms-web
