Repository ems-project/elasticms, pull requests merged in 2025-01, with the labels that each got.

#1118 fix(core/file): return size and mimetype in the file api
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/ajax/multipart.json.twig
  EMS/client-helper-bundle/src/Helper/UserApi/FileService.php
  EMS/core-bundle/src/Controller/ContentManagement/FileController.php
  EMS/core-bundle/src/Resources/views/ajax/multipart.json.twig
Labels: client-helper-bundle, core-bundle, admin-ui-bundle

#1119 fix(core/field): a symfony form type name can not start by a dash
  EMS/core-bundle/src/Form/Nature/ItemsType.php
  EMS/core-bundle/src/Form/View/SorterViewType.php
  EMS/core-bundle/src/Resources/views/view/custom/sorter_view.html.twig
Labels: core-bundle

#1120 fix(web/routing): emsch_routing transform with query string
  EMS/client-helper-bundle/src/Helper/Routing/Url/Transformer.php
Labels: client-helper-bundle

#1121 fix(common/job): escape jobs command
  EMS/common-bundle/src/Common/Job/JobManager.php
Labels: common-bundle

#1122 fix(admin): migration issues
  EMS/core-bundle/src/Resources/config/routing/admin/content-type.xml
  EMS/core-bundle/src/Service/Revision/PostProcessingService.php
  docs/upgrade.md
Labels: documentation, core-bundle

#1124 fix(core/twig): html escape special chars in display label
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: core-bundle

#1125 fix(twig): deprecate ems function and filters with deprecation_info
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: documentation, common-bundle, client-helper-bundle, core-bundle, admin-ui-bundle

#1123 feat: require php 8.4
  .github/workflows/ci.yml
  .php-cs-fixer.dist.php
  EMS/admin-ui-bundle/composer.json
  EMS/client-helper-bundle/composer.json
  EMS/common-bundle/composer.json
  EMS/core-bundle/composer.json
  EMS/core-bundle/src/Core/Doctrine/SimpleBatchIteratorAggregate.php
  EMS/core-bundle/src/Core/Revision/Revisions.php
  EMS/core-bundle/src/Core/Revision/Search/Revisions.php
  EMS/form-bundle/composer.json
  EMS/helpers/composer.json
  EMS/submission-bundle/composer.json
  EMS/xliff/composer.json
  composer.json
  composer.lock
  elasticms-admin/composer.json
  elasticms-cli/composer.json
  elasticms-web/composer.json
Labels: submission-bundle, common-bundle, form-bundle, client-helper-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle, admin-ui-bundle, xliff, helpers, github

#1126 fix(twig): apply deprecation_info for twig functions and filters
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: common-bundle, client-helper-bundle, core-bundle

#1130 refactor: upgrade postgres to version 17
  demo/configs/admin/content-type/asset.json
  demo/docker-compose.yml
  docker/docker-compose.yml
  docs/upgrade.md
Labels: documentation, demo, admin-ui-bundle, github

#1131 refactor: rm elk 6 and before
  EMS/common-bundle/src/Elasticsearch/Response/Response.php
  EMS/common-bundle/src/Elasticsearch/Response/ResponseInterface.php
  EMS/common-bundle/src/Service/ElasticaService.php
  EMS/core-bundle/src/Entity/FieldType.php
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
  EMS/core-bundle/src/Form/DataField/CollectionFieldType.php
  EMS/core-bundle/src/Form/DataField/ColorPickerFieldType.php
  EMS/core-bundle/src/Form/DataField/ComputedFieldType.php
  EMS/core-bundle/src/Form/DataField/DataLinkFieldType.php
  EMS/core-bundle/src/Form/DataField/DateRangeFieldType.php
  EMS/core-bundle/src/Form/DataField/EmailFieldType.php
  EMS/core-bundle/src/Form/DataField/IconFieldType.php
  EMS/core-bundle/src/Form/DataField/JSONFieldType.php
  EMS/core-bundle/src/Form/DataField/JsonMenuLinkFieldType.php
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
  EMS/core-bundle/src/Form/DataField/Options/MappingOptionsType.php
  EMS/core-bundle/src/Form/DataField/PasswordFieldType.php
  EMS/core-bundle/src/Form/DataField/RadioFieldType.php
  EMS/core-bundle/src/Form/DataField/SelectFieldType.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20250111190930.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20250111190930.php
  EMS/core-bundle/src/Service/ElasticsearchService.php
Labels: common-bundle, core-bundle

#1132 fix(admin/twig): escape label in data links
  EMS/core-bundle/src/Resources/views/data/revisions-data.html.twig
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  EMS/core-bundle/src/Twig/AppExtension.php
Labels: core-bundle

#1134 refactor(admin): remove radio and select fields (converted to choice)
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Form/DataField/RadioFieldType.php
  EMS/core-bundle/src/Form/DataField/SelectFieldType.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20250112174825.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20250112174825.php
  EMS/core-bundle/src/Resources/config/form.xml
  EMS/core-bundle/src/Resources/views/macros/data-field-type.html.twig
Labels: core-bundle, admin-ui-bundle

#1135 chore: phpstan deprecations
  EMS/client-helper-bundle/src/Controller/Security/LoginController.php
  EMS/client-helper-bundle/src/Controller/Security/Sso/OAuth2Controller.php
  EMS/client-helper-bundle/src/Controller/Security/Sso/SamlController.php
  EMS/client-helper-bundle/src/Helper/Api/ApiService.php
  EMS/client-helper-bundle/src/Helper/Request/EmschRequestResolver.php
  EMS/client-helper-bundle/src/Security/CoreApi/CoreApiAuthenticator.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Authenticator.php
  EMS/client-helper-bundle/src/Security/Sso/Saml/SamlAuthenticator.php
  EMS/common-bundle/src/Command/CurlCommand.php
  EMS/common-bundle/src/Common/File/FileReader.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataS3Service.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/Command/IndexFileCommand.php
  EMS/core-bundle/src/Command/ReindexCommand.php
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/src/Controller/Revision/JsonMenuNestedController.php
  EMS/core-bundle/src/Core/DataTable/DataTableFactory.php
  EMS/core-bundle/src/Core/Revision/Search/RevisionSearcher.php
  EMS/core-bundle/src/Core/UI/FlashMessageLogger.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Security/Authenticator/FormLoginAuthenticator.php
  EMS/core-bundle/src/Security/Ldap/LdapFormLoginAuthenticator.php
  EMS/core-bundle/src/Service/DocumentService.php
  EMS/core-bundle/src/Service/UserService.php
  composer.json
  composer.lock
  phpstan-baseline.neon
  phpstan.neon.dist
Labels: common-bundle, client-helper-bundle, core-bundle

#1137 fix(docker): introduce POSTGRES_VERSION env variable
  docker/.env.dist
  docker/docker-compose.yml
Labels: docker

#1139 chore: update composer dependencies
  EMS/client-helper-bundle/composer.json
  EMS/common-bundle/composer.json
  EMS/core-bundle/composer.json
  EMS/helpers/composer.json
  composer.json
  composer.lock
  elasticms-web/composer.json
  elasticms-web/config/packages/endroid_qr_code.yaml
Labels: common-bundle, client-helper-bundle, elasticms-web, core-bundle, helpers

#1140 refactor(common/twig): add common twig template
  EMS/client-helper-bundle/src/Contracts/Request/HandlerInterface.php
  EMS/client-helper-bundle/src/Controller/PdfController.php
  EMS/client-helper-bundle/src/Controller/RouterController.php
  EMS/client-helper-bundle/src/Controller/SearchController.php
  EMS/client-helper-bundle/src/Controller/Security/LoginController.php
  EMS/client-helper-bundle/src/Controller/SpreadsheetController.php
  EMS/client-helper-bundle/src/Helper/Request/Handler.php
  EMS/client-helper-bundle/src/Resources/config/routing.xml
  EMS/client-helper-bundle/src/Resources/config/security.xml
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Common/Twig/Template.php
  EMS/common-bundle/src/Common/Twig/TemplateFactory.php
  EMS/common-bundle/src/Contracts/Twig/TemplateFactoryInterface.php
  EMS/common-bundle/src/Contracts/Twig/TemplateInterface.php
  EMS/common-bundle/src/Resources/config/contracts.xml
  EMS/common-bundle/src/Resources/config/services.xml
Labels: common-bundle, client-helper-bundle, core-bundle

#1142 fix(admin/submission): export command use ems property accessor
  EMS/core-bundle/src/Command/Submission/ExportCommand.php
Labels: core-bundle

#1141 refactor(common/core-api): use single instance everywhere (emsch, adminHelper)
  EMS/client-helper-bundle/src/Controller/ApiController.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/EventListener/AuthenticatedListener.php
  EMS/client-helper-bundle/src/Helper/Api/ApiService.php
  EMS/client-helper-bundle/src/Helper/Api/Client.php
  EMS/client-helper-bundle/src/Helper/Environment/EnvironmentApi.php
  EMS/client-helper-bundle/src/Helper/Local/LocalHelper.php
  EMS/client-helper-bundle/src/Resources/config/local.xml
  EMS/client-helper-bundle/src/Resources/config/routing/api.xml
  EMS/client-helper-bundle/src/Resources/config/security.xml
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/client-helper-bundle/src/Security/CoreApi/CoreApiAuthenticator.php
  EMS/client-helper-bundle/src/Security/CoreApi/CoreApiFactory.php
  EMS/client-helper-bundle/src/Security/CoreApi/User/CoreApiUserProvider.php
  EMS/common-bundle/src/Command/Admin/LoginCommand.php
  EMS/common-bundle/src/Common/Admin/AdminHelper.php
  EMS/common-bundle/src/Common/CoreApi/Client.php
  EMS/common-bundle/src/Common/CoreApi/CoreApi.php
  EMS/common-bundle/src/Common/CoreApi/CoreApiFactory.php
  EMS/common-bundle/src/Contracts/CoreApi/CoreApiFactoryInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/CoreApiInterface.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Resources/config/commands.xml
  EMS/common-bundle/src/Resources/config/contracts.xml
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/tests/Unit/DependencyInjection/EMSCommonExtensionAiTest.php
Labels: common-bundle, client-helper-bundle

#1138 feat(web/emsch): add FormController with FormType
  EMS/client-helper-bundle/src/Controller/FormController.php
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
  EMS/client-helper-bundle/src/Resources/config/routing.xml
  EMS/common-bundle/src/Common/Twig/Template.php
  EMS/common-bundle/src/Common/Twig/TemplateFactory.php
  EMS/common-bundle/src/Contracts/Twig/TemplateInterface.php
Labels: documentation, common-bundle, client-helper-bundle, elasticms-admin, elasticms-web, elasticms-cli, core-bundle

#1144 feat(common/api): use sf client this enables profiler
  EMS/common-bundle/src/Common/CoreApi/CoreApiFactory.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/tests/Unit/Common/CoreApi/CoreApiFactoryAiTest.php
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-cli/parameters.md
  docs/elasticms-web/parameters.md
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-admin/config/packages/framework.yaml
  elasticms-cli/.env
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-cli/config/packages/framework.yaml
  elasticms-web/.env.dist
  elasticms-web/config/packages/ems_common.yaml
  elasticms-web/config/packages/framework.yaml
Labels: client-helper-bundle, elasticms-web

#1145 docs: small adjustments in upgrade note
  docs/upgrade.md
Labels: documentation

#1146 fix(file-structure::push): avoid silent error when it's not possible to update the .hash file
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/helpers/src/File/File.php
Labels: common-bundle, helpers

#1149 refactor: \file_put_contents to File::putContents
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
  EMS/common-bundle/src/Command/Admin/BackupCommand.php
  EMS/common-bundle/src/Command/Document/DownloadCommand.php
  EMS/common-bundle/src/Common/Admin/ConfigHelper.php
  EMS/common-bundle/src/Common/StoreData/Service/StoreDataFileSystemService.php
  EMS/core-bundle/src/Command/IndexFileCommand.php
  EMS/core-bundle/src/Service/AssetExtractorService.php
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/src/Client/WebToElasticms/Config/ConfigManager.php
  elasticms-cli/src/Command/Web/AuditCommand.php
  elasticms-cli/src/Helper/Tika/TikaCachePromise.php
Labels: common-bundle, client-helper-bundle, elasticms-cli, core-bundle

#1150 fix: closuse in elastica exception
  EMS/common-bundle/src/Elasticsearch/Client.php
  EMS/common-bundle/src/Elasticsearch/ElasticaLogger.php
  EMS/common-bundle/src/Resources/views/DataCollector/elastica.html.twig
Labels: common-bundle

#1151 fix: index are deprecated (an cause issues)
  demo/configs/admin/content-type/asset.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/media_file.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/section.json
Labels: demo

#1152 fix(web): error templates based on request format (json, xml, html, ...)
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/Helper/Request/ExceptionHelper.php
  EMS/client-helper-bundle/src/Resources/config/services.xml
  demo/configs/elasticms-admin/ems-demo-dev.env
  demo/configs/elasticms-admin/ems-demo.env
  demo/configs/elasticms-web/preview.env
  demo/configs/elasticms-web/zz-live.env
  demo/skeleton/routes.yaml
  demo/skeleton/template/error/error.json.twig
Labels: client-helper-bundle, demo

#1143 feat(ems): add core bridge (api & service)
  EMS/client-helper-bundle/src/Controller/CoreApi/CoreApiController.php
  EMS/client-helper-bundle/src/Controller/FormController.php
  EMS/client-helper-bundle/src/Controller/SearchController.php
  EMS/client-helper-bundle/src/Controller/Security/LoginController.php
  EMS/client-helper-bundle/src/EventListener/SecurityListener.php
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
  EMS/client-helper-bundle/src/Helper/Routing/RoutingBuilder.php
  EMS/client-helper-bundle/src/Resources/config/routing/core_api.xml
  EMS/client-helper-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Common/Bridge/Core/CoreApiBridge.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreApiDataBridge.php
  EMS/common-bundle/src/Common/CoreApi/CoreApi.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Common/Twig/Template.php
  EMS/common-bundle/src/Common/Twig/TemplateContext.php
  EMS/common-bundle/src/Common/Twig/TemplateFactory.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreBridgeInterface.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreDataBridgeInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/common-bundle/src/Contracts/Twig/TemplateContextInterface.php
  EMS/common-bundle/src/Contracts/Twig/TemplateInterface.php
  EMS/common-bundle/src/Resources/config/contracts.xml
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/src/Resources/config/twig.xml
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/src/Twig/CoreBridgeRuntime.php
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Controller/ContentManagement/DataController.php
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreDataServiceBridge.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreServiceBridge.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/core.xml
  EMS/core-bundle/src/Resources/config/routing/interface.xml
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/DocumentService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  elasticms-admin/config/packages/security.yaml
  elasticms-admin/config/services.yaml
  elasticms-web/config/packages/security.yaml
Labels: common-bundle, client-helper-bundle, elasticms-admin, elasticms-web, core-bundle

#1153 fix: deprecations and upgrade packages (domPdf, phpOffice, guzzle)
  EMS/client-helper-bundle/tests/Integration/App/config/config.yml
  EMS/common-bundle/composer.json
  EMS/common-bundle/src/Command/BatchCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePublishCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePullCommand.php
  EMS/common-bundle/src/Command/FileStructure/FileStructurePushCommand.php
  EMS/common-bundle/src/Command/Storage/ClearCacheCommand.php
  EMS/common-bundle/src/Command/Storage/LoadArchiveItemsInCacheCommand.php
  EMS/common-bundle/src/Command/Submission/ForwardCommand.php
  EMS/common-bundle/src/EventListener/IpAddressListener.php
  EMS/common-bundle/src/Resources/config/services.xml
  EMS/common-bundle/tests/Integration/App/config/config.yml
  EMS/common-bundle/tests/Unit/Controller/FileControllerAiTest.php
  EMS/common-bundle/tests/Unit/DependencyInjection/EMSCommonExtensionAiTest.php
  EMS/common-bundle/tests/Unit/Twig/TextRuntimeTest.php
  EMS/core-bundle/src/Command/Asset/RefreshFileFieldCommand.php
  EMS/core-bundle/src/Command/Revision/Task/TaskNotificationMailCommand.php
  EMS/core-bundle/src/Command/Submission/ExportCommand.php
  EMS/core-bundle/tests/Integration/App/config/config.yaml
  EMS/core-bundle/tests/Unit/Twig/I18nRuntimeTest.php
  EMS/form-bundle/tests/Integration/App/config/config.yml
  EMS/submission-bundle/tests/Functional/App/config/config.yml
  composer.json
  composer.lock
  elasticms-admin/.gitattributes
  elasticms-admin/composer.json
  elasticms-admin/phpunit.xml.dist
  elasticms-admin/tests/bootstrap.php
  elasticms-cli/.gitattributes
  elasticms-cli/composer.json
  elasticms-cli/phpunit.xml.dist
  elasticms-cli/tests/bootstrap.php
  elasticms-web/.gitattributes
  elasticms-web/composer.json
  elasticms-web/phpunit.xml.dist
  elasticms-web/tests/bootstrap.php
  phpunit.xml.dist
Labels: submission-bundle, common-bundle, form-bundle, client-helper-bundle, elasticms-admin, elasticms-cli, core-bundle

#1156 chore: improve app tests and fix cli tests
  composer.json
  elasticms-admin/.env.test
  elasticms-admin/phpunit.xml.dist
  elasticms-admin/tests/bootstrap.php
  elasticms-cli/.env.test
  elasticms-cli/phpunit.xml.dist
  elasticms-cli/tests/WebToElasticms/Helper/TikaClientTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaHelperTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaPromiseTest.php
  elasticms-cli/tests/WebToElasticms/Helper/TikaTest.php
  elasticms-cli/tests/bootstrap.php
  elasticms-web/.env.test
  elasticms-web/phpunit.xml.dist
  elasticms-web/tests/bootstrap.php
  phpunit.xml.dist
Labels: elasticms-admin, elasticms-web, elasticms-cli

#1159 refactor: emsco diffs
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/helpers/src/Standard/Color.php
  EMS/helpers/src/Standard/Type.php
  EMS/helpers/tests/Unit/Standard/ColorTest.php
  EMS/helpers/tests/Unit/Standard/TypeTest.php
Labels: common-bundle, core-bundle, helpers

#1160 fix(helper): prevent tempFile destructor from being called too early
  EMS/helpers/src/File/TempFile.php
Labels: helpers

#1163 fix: temp file and directory use new destruct collector
  EMS/helpers/src/File/TempDestructCollector.php
  EMS/helpers/src/File/TempDirectory.php
  EMS/helpers/src/File/TempFile.php
Labels: helpers
