Repository ems-project/elasticms, pull requests merged in 2025-04, with the labels that each got.

#1280 fix(common/storage): s3 upload bug small files
  EMS/common-bundle/src/Storage/Service/S3Storage.php
Labels: common-bundle

#1284 fix(admin/view): view type selects not showing labels
  EMS/core-bundle/src/Form/Field/AlignIndexesType.php
  EMS/core-bundle/src/Form/Field/ViewTypePickerType.php
Labels: core-bundle

#1283 feat(emsch/form): add "greaterThan" and "lessThan" constraints
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
Labels: client-helper-bundle

#1282 fix(core/revision): api finalize autoSave check for _version_uuid
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: core-bundle

#1285 fix(common/bridge): add publish versions endpoint
  EMS/common-bundle/src/Common/Bridge/Core/CoreDataApiBridge.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreDataBridgeInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/core-bundle/config/routing/api/data.xml
  EMS/core-bundle/src/Controller/Api/Data/PublishController.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreDataServiceBridge.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: common-bundle, core-bundle

#1286 fix(admin/view): correct view templates for bootstrap5
  EMS/admin-ui-bundle/templates/bootstrap5/view/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/edit.json.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/form.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/ViewController.php
  EMS/core-bundle/src/Form/Form/ViewType.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1287 feat(client/emschForm): support validate block
  EMS/client-helper-bundle/src/Controller/FormController.php
  EMS/client-helper-bundle/src/Helper/Form/EmschFormBlock.php
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
Labels: client-helper-bundle

#1289 feat(web/twig): add 'ems_search_config_execute' twig function
  EMS/client-helper-bundle/config/services.xml
  EMS/client-helper-bundle/src/Controller/SearchController.php
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
  EMS/client-helper-bundle/src/Helper/Search/Manager.php
  EMS/client-helper-bundle/src/Helper/Search/Search.php
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  docs/dev/client-helper-bundle/twig.md
Labels: documentation, client-helper-bundle

#1199 feat(admin/user): implement user groups
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/datatable.xml
  EMS/core-bundle/config/doctrine/Group.orm.xml
  EMS/core-bundle/config/doctrine/User.orm.xml
  EMS/core-bundle/config/form.xml
  EMS/core-bundle/config/repositories.xml
  EMS/core-bundle/config/routing/all.xml
  EMS/core-bundle/config/routing/group.xml
  EMS/core-bundle/config/routing/user/manage.xml
  EMS/core-bundle/config/security/security.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/migrations/pdo_pgsql/Version20250220092804.php
  EMS/core-bundle/src/Controller/TwigElementsController.php
  EMS/core-bundle/src/Controller/User/GroupController.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/Core/User/GroupManager.php
  EMS/core-bundle/src/Core/User/UserContextDTO.php
  EMS/core-bundle/src/DataTable/Type/GroupDataTableType.php
  EMS/core-bundle/src/DataTable/Type/UserDataTableType.php
  EMS/core-bundle/src/Entity/Group.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Form/Form/GroupType.php
  EMS/core-bundle/src/Form/Form/UserType.php
  EMS/core-bundle/src/Repository/GroupRepository.php
  EMS/core-bundle/src/Repository/UserRepository.php
  EMS/core-bundle/src/Routes.php
  EMS/core-bundle/src/Security/Provider/UserProvider.php
  EMS/core-bundle/src/Service/UserService.php
  EMS/core-bundle/templates/group/create.html.twig
  EMS/core-bundle/templates/group/edit.html.twig
  EMS/core-bundle/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/translations/emsco-forms.en.yml
  EMS/helpers/src/Standard/Type.php
Labels: core-bundle

#1288 feat(common/runner): implement job runners
  EMS/common-bundle/composer.json
  EMS/common-bundle/config/commands.xml
  EMS/common-bundle/config/runner.xml
  EMS/common-bundle/src/Command/Runner/OutputCommand.php
  EMS/common-bundle/src/Command/Runner/StartCommand.php
  EMS/common-bundle/src/Command/Runner/StatusCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Common/HttpClientFactory.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Exception/NotParsableUrlException.php
  EMS/common-bundle/src/Exception/RunnerNotFoundException.php
  EMS/common-bundle/src/Runner/Factory/AbstractFactory.php
  EMS/common-bundle/src/Runner/Factory/DockerRemoteFactory.php
  EMS/common-bundle/src/Runner/Factory/OpenShiftFactory.php
  EMS/common-bundle/src/Runner/Factory/RunnerFactoryInterface.php
  EMS/common-bundle/src/Runner/RunnerManager.php
  EMS/common-bundle/src/Runner/RunnerStatus.php
  EMS/common-bundle/src/Runner/Service/DockerRemote.php
  EMS/common-bundle/src/Runner/Service/OpenShift.php
  EMS/common-bundle/src/Runner/Service/RunnerInterface.php
  EMS/common-bundle/src/Storage/StorageManager.php
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  composer.json
  docs/dev/common-bundle/index.md
  docs/dev/common-bundle/runners.md
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-cli/parameters.md
  docs/elasticms-web/parameters.md
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-cli/.env
  elasticms-cli/config/packages/ems_common.yaml
  elasticms-web/.env.dist
  elasticms-web/config/packages/ems_common.yaml
Labels: documentation, common-bundle, elasticms-admin, elasticms-web, elasticms-cli

#1294 feat(admin/user): support user group in adminUI
  EMS/admin-ui-bundle/templates/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/group/create.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/group/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/user/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/user/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/user/profile/show.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/user+intl-icu.en.yml
  EMS/core-bundle/src/Controller/User/GroupController.php
  EMS/core-bundle/src/Controller/User/ProfileController.php
  EMS/core-bundle/src/DataTable/Type/GroupDataTableType.php
  EMS/core-bundle/src/DataTable/Type/UserDataTableType.php
  EMS/core-bundle/src/Entity/User.php
  EMS/core-bundle/src/Form/Data/EntityTableColumn.php
  EMS/core-bundle/src/Form/Form/GroupType.php
  EMS/core-bundle/src/Form/Form/UserType.php
  EMS/core-bundle/templates/form/forms.html.twig
  EMS/core-bundle/templates/user/add.html.twig
  EMS/core-bundle/templates/user/edit.html.twig
  EMS/core-bundle/templates/user/profile/show.html.twig
  EMS/core-bundle/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/translations/emsco-twigs.en.yml
Labels: core-bundle, admin-ui-bundle

#1296 feat(demo/wysiwyg): add wysiwyg crawler macro
  demo/skeleton/template/macros/wysiwyg.twig
  demo/skeleton/template/news/details.html.twig
  demo/skeleton/template/page/default.html.twig
  demo/skeleton/template/page/with_banner.html.twig
Labels: demo

#1298 fix(admin/revision): lock exception on restore from trash
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#1297 fix(web/form): pass submitted data to template
  EMS/client-helper-bundle/src/Controller/FormController.php
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
Labels: client-helper-bundle

#1300 fix(admin/revision): use revision display column in trash overview
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionTrashDataTableType.php
Labels: core-bundle

#1305 fix(admin/revision): detail current version is closed
  EMS/core-bundle/src/Controller/Revision/DetailController.php
Labels: core-bundle

#1262 feat(admin/messenger): add messenger component for queuing
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/composer.json
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/core.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/src/Core/Message/AsyncMessageInterface.php
  EMS/core-bundle/src/Core/Message/Job.php
  EMS/core-bundle/src/Core/MessageHandler/JobHandler.php
  EMS/core-bundle/src/Core/Messenger/Middleware/RestoreUserFromStampMiddleware.php
  EMS/core-bundle/src/Core/Messenger/Middleware/UserTokenStampMiddleware.php
  EMS/core-bundle/src/Core/Messenger/Stamp/UserTokenStamp.php
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Service/JobService.php
  EMS/core-bundle/translations/emsco-component.en.yml
  composer.json
  composer.lock
  elasticms-admin/.env.dist
  elasticms-admin/.env.local.dist
  elasticms-admin/composer.json
  elasticms-admin/config/packages/ems_core.yaml
  elasticms-admin/config/packages/messenger.yaml
  elasticms-admin/symfony.lock
  symfony.lock
Labels: elasticms-admin, core-bundle

#1302 feat(admin/cli): add report option for emsco:asset:extract
  EMS/common-bundle/src/EventListener/CommandListener.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/tests/Unit/Common/ConverterAiTest.php
  EMS/common-bundle/tests/Unit/Common/ConverterTest.php
  EMS/core-bundle/src/Command/ExtractAssetCommand.php
  EMS/core-bundle/src/Helper/AssetExtractor/ExtractedData.php
  EMS/core-bundle/src/Service/AssetExtractorService.php
  EMS/helpers/src/Standard/Number.php
  EMS/helpers/tests/Unit/Standard/NumberTest.php
  build/translations
  config/phpstan-baseline.neon
Labels: common-bundle, core-bundle, helpers

#1308 fix(admin/database): add missing migrations
  EMS/common-bundle/src/Runner/Service/DockerRemote.php
  EMS/common-bundle/src/Runner/Service/OpenShift.php
  EMS/core-bundle/migrations/pdo_mysql/Version20250428081843.php
  EMS/core-bundle/migrations/pdo_mysql/Version20250428082752.php
  EMS/core-bundle/migrations/pdo_pgsql/Version20250220092804.php
  EMS/core-bundle/migrations/pdo_pgsql/Version20250428075300.php
  EMS/core-bundle/src/Command/ExtractAssetCommand.php
  EMS/core-bundle/src/Entity/Group.php
  elasticms-admin/config/packages/doctrine.yaml
Labels: common-bundle, elasticms-admin, core-bundle

#1304 feat(admin/cli): add and remove user from group commands
  EMS/core-bundle/config/command.xml
  EMS/core-bundle/src/Command/User/AddGroupToUserCommand.php
  EMS/core-bundle/src/Command/User/RemoveGroupFromUserCommand.php
  EMS/core-bundle/src/Commands.php
  Makefile
  demo/configs/admin/group/admin.json
  demo/configs/admin/group/author.json
  demo/configs/admin/group/webmaster.json
Labels: core-bundle, demo

#1309 feat(admin/api): add openapi documentation
  EMS/admin-ui-bundle/assets/package-lock.json
  EMS/admin-ui-bundle/assets/package.json
  EMS/admin-ui-bundle/assets/src/swagger-ui.js
  EMS/admin-ui-bundle/assets/vite.config.ts
  EMS/admin-ui-bundle/templates/bootstrap5/api/documentation.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/routing/admin/managed-alias.xml
  EMS/core-bundle/config/routing/api.xml
  EMS/core-bundle/config/routing/api/admin.xml
  EMS/core-bundle/config/routing/api/data.xml
  EMS/core-bundle/config/routing/api/extract-data.xml
  EMS/core-bundle/config/routing/api/file.xml
  EMS/core-bundle/config/routing/api/forms.xml
  EMS/core-bundle/config/routing/api/images.xml
  EMS/core-bundle/config/routing/api/meta.xml
  EMS/core-bundle/config/routing/api/search.xml
  EMS/core-bundle/config/routing/component.xml
  EMS/core-bundle/config/routing/data.xml
  EMS/core-bundle/config/routing/interface.xml
  EMS/core-bundle/config/routing/search.xml
  EMS/core-bundle/config/routing/task.xml
  EMS/core-bundle/config/routing/user/deprecated.xml
  EMS/core-bundle/config/routing/user/manage.xml
  EMS/core-bundle/src/Controller/Api/Admin/DocumentationController.php
  composer.json
  composer.lock
Labels: core-bundle, admin-ui-bundle
