Repository ems-project/elasticms, pull requests merged in 2025-02, with the labels that each got.

#1154 feat(bridge): improve bridge data delete and info bridge for documents
  EMS/client-helper-bundle/src/Controller/CoreApi/CoreApiController.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreApiBridge.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreApiDataBridge.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreDataApiBridge.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreInfoApiBridge.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Meta/Meta.php
  EMS/common-bundle/src/Common/EMSLinkCollection.php
  EMS/common-bundle/src/Common/Twig/Template.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreBridgeInterface.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreDataBridgeInterface.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreInfoBridgeInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Admin/MetaInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/core-bundle/src/Controller/Api/Admin/MetaController.php
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Controller/Revision/EditController.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreDataServiceBridge.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreInfoServiceBridge.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreServiceBridge.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Resources/config/controllers.xml
  EMS/core-bundle/src/Resources/config/routing/api/meta.xml
  EMS/core-bundle/src/Resources/config/services.xml
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/EnvironmentService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: common-bundle, client-helper-bundle, core-bundle

#1165 fix: migration issues
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/release/columns/revisions.html.twig
  EMS/core-bundle/src/Form/Field/EnvironmentPickerType.php
  EMS/core-bundle/src/Resources/views/release/columns/revisions.html.twig
  EMS/submission-bundle/src/Resources/config/doctrine/FormSubmission.orm.xml
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/release.json
  demo/configs/admin/content-type/slideshow.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/dashboard/media-library.json
  demo/skeleton/template_ems/dashboard/sitemap.twig
Labels: submission-bundle, core-bundle, demo, admin-ui-bundle

#1167 chore(phpcs): enable no alias functions
  .php-cs-fixer.dist.php
  EMS/client-helper-bundle/src/Helper/Routing/Url/Transformer.php
  EMS/common-bundle/src/Storage/Processor/Config.php
  EMS/common-bundle/src/Storage/Service/AbstractUrlStorage.php
  EMS/common-bundle/src/Storage/Service/FileSystemStorage.php
  EMS/core-bundle/src/Command/Check/AliasesCheckCommand.php
  EMS/core-bundle/src/Command/ExportDocumentsCommand.php
  EMS/core-bundle/src/Command/Submission/ExportCommand.php
  EMS/core-bundle/src/Core/ContentType/Transformer/ContentTransformer.php
  EMS/core-bundle/src/Form/DataField/ChoiceFieldType.php
  EMS/core-bundle/src/Form/DataField/JsonMenuLinkFieldType.php
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
  EMS/core-bundle/src/Form/Nature/ItemsType.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/SearchService.php
  EMS/form-bundle/src/Components/ValueObject/BelgiumCompanyNumberMultiple.php
  EMS/helpers/src/File/Folder.php
  EMS/helpers/src/Standard/Color.php
  EMS/xliff/src/Xliff/Entity/InsertError.php
  EMS/xliff/src/Xliff/Extractor.php
  EMS/xliff/tests/Unit/Xliff/BaselineTest.php
  EMS/xliff/tests/Unit/Xliff/ExtractorTest.php
  EMS/xliff/tests/Unit/Xliff/InserterTest.php
  EMS/xliff/tests/Unit/Xliff/InsertionRevisionTest.php
  EMS/xliff/tests/Unit/Xliff/IntegratedTest.php
  elasticms-cli/src/Client/Audit/Cache.php
  elasticms-cli/tests/ExpressionLanguage/FunctionsTest.php
Labels: common-bundle, form-bundle, client-helper-bundle, elasticms-cli, core-bundle, xliff, helpers

#1168 fix(helper/color): gd alpha's range is [0,127] while HLML alpha range is [0,255]
  EMS/common-bundle/src/Storage/Processor/Image.php
  EMS/helpers/src/Standard/Color.php
  EMS/helpers/tests/Unit/Standard/ColorAiTest.php
  EMS/helpers/tests/Unit/Standard/ColorTest.php
Labels: common-bundle, helpers

#1170 fix(admin/field): add help text support for VersionTagFieldType
  EMS/core-bundle/src/Form/DataField/VersionTagFieldType.php
Labels: core-bundle

#1171 fix(common/twig): add ems_asset_head(s) and implement for wysiwyg field
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/core-bundle/src/Form/DataField/WysiwygFieldType.php
Labels: common-bundle, core-bundle

#1173 fix(admin): slug config names use separator '_'
  EMS/core-bundle/src/Controller/ContentManagement/ActionController.php
  EMS/core-bundle/src/Core/Dashboard/DashboardManager.php
  EMS/core-bundle/src/Core/Form/FormManager.php
  EMS/core-bundle/src/Core/Job/ScheduleManager.php
  EMS/core-bundle/src/Core/ManagedAlias/ManagedAliasManager.php
  EMS/core-bundle/src/Core/View/ViewManager.php
  EMS/core-bundle/src/Entity/QuerySearch.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_mysql/Version20220716091159.php
  EMS/core-bundle/src/Resources/DoctrineMigrations/pdo_pgsql/Version20220716091159.php
  EMS/core-bundle/src/Service/Channel/ChannelService.php
Labels: core-bundle

#1175 feat(docker): Add a NPM_EXTRA_CMD to customize the npm config
  Makefile
  docs/getting-started/dev-env.md
Labels: documentation

#1172 docs: php8.4
  docs/getting-started/dev-env.md
  docs/getting-started/local-dev.md
Labels: documentation

#1177 chore: new config dir
  .github/workflows/ci.yml
  composer.json
  config/monorepo-builder.php
  config/php-cs-fixer.php
  config/phpstan-baseline.neon
  config/phpstan.neon.dist
  config/phpunit.xml.dist
  config/rector.php
  rector.php
Labels: github

#1178 feat(demo): use vite instead of webpack
  demo/Makefile
  demo/package-lock.json
  demo/package.json
  demo/public/img/banners/banner-home-sm.jpg
  demo/public/img/banners/banner-home.jpg
  demo/public/img/banners/thin-elastic.svg
  demo/public/img/head/icon.png
  demo/public/img/head/safari-pinned-tab.svg
  demo/public/img/helper/blank.png
  demo/public/img/helper/transparent.png
  demo/public/img/logos/ems-logo.svg
  demo/public/img/logos/full-logo.svg
  demo/public/other/xsl/sitemap.xsl
  demo/skeleton/template/base/bootstrap.html.twig
  demo/skeleton/template/error/error.html.twig
  demo/skeleton/template/fragments/navbar.html.twig
  demo/skeleton/template/page/blocks/main-banner.html.twig
  demo/skeleton/template/page/blocks/releases.html.twig
  demo/skeleton/template/page/default.html.twig
  demo/skeleton/template/page/with_banner.html.twig
  demo/skeleton/template/view/abstract.html.twig
  demo/src/css/_functions.scss
  demo/src/css/components/_jumbotron.scss
  demo/src/css/components/_navbar.scss
  demo/src/css/pages/_error.scss
  demo/src/css/pages/_with_banner.scss
  demo/src/css/slideshow.scss
  demo/src/css/styles.scss
  demo/src/index.js
  demo/src/js/ajax-search.js
  demo/src/js/back2top.js
  demo/src/js/external-link.js
  demo/src/js/news-filters.js
  demo/src/js/search-release.js
  demo/vite.config.js
  demo/webpack.config.js
Labels: demo

#1179 feat(admin): cke4 features in bootstrap5
  EMS/admin-ui-bundle/assets/src/core/components/jsonMenuNested.js
  EMS/admin-ui-bundle/assets/src/core/components/mediaLibrary.js
  EMS/admin-ui-bundle/assets/src/core/helpers/ck4/CKEditorConfig.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/ckeditor4.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/ckeditor5-link/src/linkcommand.js
  EMS/admin-ui-bundle/assets/src/core/helpers/editorProfile.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/pickFileFromServer.js
  EMS/admin-ui-bundle/assets/src/core/plugins/jsonMenuNested.ts
  EMS/admin-ui-bundle/templates/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/base/html5.html.twig
  EMS/core-bundle/assets/cke-plugins/adv_link/dialogs/link.js
  EMS/core-bundle/assets/ckeditor4.js
  EMS/core-bundle/public/css/ckeditor4.2cb7f3ca8910a393322c.css
  EMS/core-bundle/public/js/cke-plugins/adv_link/dialogs/link.js
  EMS/core-bundle/public/js/ckeditor4.6cfe703e3fdaa8fbf4f2.js
  EMS/core-bundle/public/js/ckeditor4.81740226e8f085050b13.js
  EMS/core-bundle/public/manifest.json
Labels: core-bundle, admin-ui-bundle

#1180 refactor(admin/ui): align tabs
  EMS/admin-ui-bundle/templates/bootstrap5/admin-form/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/analyzer/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/channel/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/field.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/json_update.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/structure.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/custom-view.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/edit-json-revision.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/edit-revision.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/revisions-data.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/view-data.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/add-alias.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/export-search.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/save-search.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/macros/data-field-type.html.twig
Labels: admin-ui-bundle

#1181 fix(emsch/asset): still need to update the styleset on admin side
  EMS/client-helper-bundle/src/Command/Local/UploadAssetsCommand.php
Labels: client-helper-bundle

#1182 feat(common/asset): vite php dev server
  EMS/admin-ui-bundle/assets/vite.config.ts
  EMS/admin-ui-bundle/config/services.xml
  EMS/admin-ui-bundle/src/DependencyInjection/Configuration.php
  EMS/admin-ui-bundle/src/DependencyInjection/EMSAdminUIExtension.php
  EMS/admin-ui-bundle/src/EMSAdminUIBundle.php
  EMS/admin-ui-bundle/src/Helper/Asset/AssetVersionStrategy.php
  EMS/admin-ui-bundle/src/Helper/Asset/DevServer.php
  EMS/admin-ui-bundle/templates/bootstrap5/base/html5.html.twig
  EMS/client-helper-bundle/config/services.xml
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
  EMS/common-bundle/config/services.xml
  EMS/common-bundle/src/Common/Asset/ViteService.php
  EMS/common-bundle/src/DependencyInjection/Configuration.php
  EMS/common-bundle/src/DependencyInjection/EMSCommonExtension.php
  EMS/common-bundle/src/Storage/Archive.php
  EMS/common-bundle/tests/Unit/DependencyInjection/ConfigurationAiTest.php
  demo/package.json
  demo/skeleton/template/base/base.html.twig
  demo/src/css/components/_jumbotron.scss
  demo/src/css/pages/_error.scss
  demo/src/css/pages/_with_banner.scss
  demo/src/index.js
  demo/src/js/dyn-forms.js
  demo/src/js/multilevel-navbar.js
  demo/vite.config.js
  docs/elasticms-admin/environment-variables.md
  docs/getting-started/dev-env.md
  elasticms-admin/.env.local.dist
  elasticms-admin/config/packages/ems_admin_ui.yaml
  elasticms-admin/config/packages/ems_common.yaml
  elasticms-web/.env.local.dist
  elasticms-web/config/packages/ems_common.yaml
Labels: documentation, common-bundle, client-helper-bundle, elasticms-admin, elasticms-web, demo, admin-ui-bundle

#1184 feat(web/twig): add new emsch_asset_redirect
  EMS/client-helper-bundle/src/Helper/Asset/AssetHelperRuntime.php
  EMS/client-helper-bundle/src/Twig/HelperExtension.php
  demo/skeleton/template/redirects/favicon.json.twig
  docs/dev/client-helper-bundle/Twig/functions.md
Labels: documentation, client-helper-bundle, demo

#1186 fix(common): (new Encoder())->slug replaces '.' by '-'.
  EMS/common-bundle/src/Twig/AssetRuntime.php
Labels: common-bundle

#1183 fix(common/vite): make vite optional
  CHANGELOG-6.x.md
  EMS/common-bundle/src/Common/Asset/ViteService.php
  elasticms-admin/composer.lock
  elasticms-cli/composer.lock
  elasticms-web/composer.lock
Labels: common-bundle

#1185 fix(demo): fix favicon redirect to avoid _get_file_path: true
  demo/skeleton/template/redirects/favicon.json.twig
Labels: demo

#1187 refactor(common/slugger): preserve file extension option
  EMS/common-bundle/src/Helper/Text/Encoder.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/tests/Unit/Helper/Text/EncoderTest.php
Labels: common-bundle

#1192 fix: select2 in bootstrap's modal
  EMS/admin-ui-bundle/assets/src/core/plugins/select.js
Labels: admin-ui-bundle

#1193 fix(demo): Font Awesome 5 Free -> Font Awesome 6 Free
  demo/src/css/mixins/_faw.scss
  demo/src/css/utilities/_external-link.scss
Labels: demo

#1190 feat(spreadsheet): add data validation
  EMS/client-helper-bundle/src/Controller/SpreadsheetController.php
  EMS/common-bundle/config/contracts.xml
  EMS/common-bundle/config/services.xml
  EMS/common-bundle/src/Common/Spreadsheet/SpreadsheetGeneratorService.php
  EMS/common-bundle/src/Common/Spreadsheet/SpreadsheetValidation.php
  EMS/common-bundle/src/Contracts/Spreadsheet/SpreadsheetGeneratorServiceInterface.php
  EMS/common-bundle/src/Contracts/Spreadsheet/SpreadsheetValidationInterface.php
  EMS/common-bundle/tests/Unit/Common/SpreadsheetGeneratorServiceAiTest.php
  EMS/common-bundle/tests/Unit/Common/SpreadsheetGeneratorTest.php
  EMS/core-bundle/config/command.xml
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/src/Command/Submission/ExportCommand.php
  EMS/core-bundle/src/Controller/Form/SubmissionController.php
  EMS/core-bundle/src/Controller/Revision/Action/ActionController.php
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/Core/DataTable/TableExporter.php
  EMS/core-bundle/src/Form/Data/TableAbstract.php
  EMS/core-bundle/src/Form/Data/TableColumn.php
  EMS/core-bundle/src/Form/Data/TableInterface.php
  EMS/core-bundle/src/Form/Data/TemplateTableColumn.php
  docs/dev/core-bundle/twig/datatable.md
  elasticms-cli/src/Client/Report/AbstractReport.php
  elasticms-cli/src/Client/WebToElasticms/Rapport/Rapport.php
Labels: documentation, common-bundle, client-helper-bundle, elasticms-cli, core-bundle

#1194 fix(demo): correct demo-backup-configs
  demo/configs/admin/content-type/category.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/label.json
  demo/configs/admin/content-type/link.json
  demo/configs/admin/content-type/media_file.json
  demo/configs/admin/content-type/news.json
  demo/configs/admin/content-type/page.json
  demo/configs/admin/content-type/route.json
  demo/configs/admin/content-type/section.json
  demo/configs/admin/content-type/template.json
  demo/configs/admin/content-type/template_ems.json
Labels: demo

#1195 fix(admin): color picker form field
  EMS/admin-ui-bundle/assets/css/admin-lte/_bootstrap-variables.scss
  EMS/core-bundle/src/Form/Field/ColorPickerType.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1197 fix(common/storage): weird s3 issue on completeMultipartUpload
  EMS/common-bundle/src/Storage/Service/S3Storage.php
Labels: common-bundle

#1200 fix(emsch/template): rollback exits use template builder
  EMS/client-helper-bundle/src/Helper/Elasticsearch/Settings.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateBuilder.php
  EMS/client-helper-bundle/src/Helper/Templating/TemplateLoader.php
  demo/skeleton/template/variables.twig
Labels: client-helper-bundle, demo

#1201 feat(admin/field): multiplexed tab with emsch.locales parameter
  EMS/admin-ui-bundle/templates/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/config/form.xml
  EMS/core-bundle/src/Core/Revision/RawDataTransformer.php
  EMS/core-bundle/src/Entity/DataField.php
  EMS/core-bundle/src/Entity/FieldType.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/templates/macros/data-field-type.html.twig
  demo/configs/admin/content-type/category.json
  demo/configs/admin/content-type/form_instance.json
  demo/configs/admin/content-type/link.json
  demo/configs/admin/content-type/page.json
Labels: core-bundle, demo, admin-ui-bundle

#1202 chore(make): upgrade to base-php:8.4-cli-dev for npm
  Makefile
Labels: docker, development

#1203 fix(admin/field): avoid to have extra display options saved in the FileType entity
  EMS/core-bundle/src/Entity/FieldType.php
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
Labels: core-bundle

#1205 fix(admin/action): filter on the environment even if the template.role == "not-defined"
  EMS/core-bundle/src/Resources/views/elements/object-views-button.html.twig
Labels: core-bundle

#1206 fix(admin/ui): action are not filtered on envs is role is not defined
  EMS/admin-ui-bundle/templates/bootstrap5/elements/object-views-button.html.twig
Labels: admin-ui-bundle

#1207 refactor(admin/ui): select2 to choices.js
  EMS/admin-ui-bundle/assets/css/admin-lte/adminlte.scss
  EMS/admin-ui-bundle/assets/css/core/components/choices.scss
  EMS/admin-ui-bundle/assets/package-lock.json
  EMS/admin-ui-bundle/assets/package.json
  EMS/admin-ui-bundle/assets/src/core/plugins/objectPicker.js
  EMS/admin-ui-bundle/assets/src/core/plugins/select.js
Labels: admin-ui-bundle

#1208 chore(admin/UI): npm run format
  EMS/admin-ui-bundle/assets/src/core/components/mediaLibrary.js
  EMS/admin-ui-bundle/assets/src/core/helpers/ck4/CKEditorConfig.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/ckeditor4.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/ckeditor5-link/src/linkcommand.js
  EMS/admin-ui-bundle/assets/src/core/helpers/editorProfile.ts
  EMS/admin-ui-bundle/assets/src/core/helpers/pickFileFromServer.js
  EMS/admin-ui-bundle/assets/src/core/plugins/jsonMenuNested.ts
  EMS/admin-ui-bundle/assets/src/core/plugins/wysiwyg.ts
Labels: admin-ui-bundle

#1196 feat(common/bridge): add data publish endpoint
  EMS/common-bundle/src/Common/Bridge/Core/CoreDataApiBridge.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreDataBridgeInterface.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreDataServiceBridge.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: common-bundle, core-bundle

#1210 feat(admin/ui): replace select2 by choices.js
  EMS/admin-ui-bundle/assets/css/admin-lte/parts/_plugins.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/plugins/_mixins.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/plugins/_select2.scss
  EMS/admin-ui-bundle/assets/css/adminlte.scss
  EMS/admin-ui-bundle/assets/package-lock.json
  EMS/admin-ui-bundle/assets/package.json
  EMS/admin-ui-bundle/assets/src/core/helpers/choicePicker.js
  EMS/admin-ui-bundle/assets/src/core/helpers/text.js
  EMS/admin-ui-bundle/assets/src/core/plugins/objectPicker.js
  EMS/admin-ui-bundle/assets/src/core/plugins/select.js
  EMS/admin-ui-bundle/assets/src/criteria-table.js
  EMS/admin-ui-bundle/assets/src/criteria-view.js
  EMS/admin-ui-bundle/templates/bootstrap5/action/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/environment/managed_alias.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/i18n/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/i18n/new.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/custom/calendar_view.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/custom/criteria_table.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/custom/criteria_view.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/view/custom/hierarchical_view.html.twig
Labels: admin-ui-bundle

#1211 fix(admin/field): reverse entity name modal transformer nullable
  EMS/core-bundle/src/Form/DataTransformer/EntityNameModelTransformer.php
Labels: core-bundle

#1212 fix(admin/cli): backup fieldType ignore displayExtraOptions
  EMS/core-bundle/src/Entity/FieldType.php
Labels: core-bundle

#1209 feat(common/bridge): add new initDraft method and CoreBridgeResponse
  EMS/client-helper-bundle/src/Controller/CoreApi/CoreApiController.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreBridgeResponse.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreBridgeTrait.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreDataApiBridge.php
  EMS/common-bundle/src/Common/Bridge/Core/CoreInfoApiBridge.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreDataBridgeInterface.php
  EMS/common-bundle/src/Contracts/Bridge/Core/CoreInfoBridgeInterface.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/core-bundle/config/routing/interface.xml
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreDataServiceBridge.php
  EMS/core-bundle/src/Core/Bridge/Core/CoreInfoServiceBridge.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: common-bundle, client-helper-bundle, core-bundle

#1214 feat(admin/post-processing): add document revision in context
  EMS/core-bundle/src/Service/Revision/PostProcessingService.php
Labels: core-bundle

#1213 refactor(admin/ui): style admin job with generic card template
  .editorconfig
  EMS/admin-ui-bundle/templates/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs.en.yml
Labels: admin-ui-bundle

#1215 feat(common/twig): add ems_flash twig function
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/src/Twig/RequestRuntime.php
  docs/dev/common-bundle/twig.md
Labels: documentation, common-bundle

#1216 fix(admin/color-picker): use translation function for choices
  EMS/core-bundle/src/Form/Field/ColorPickerType.php
Labels: core-bundle

#1218 chore: build translations correct paths and only yaml
  EMS/admin-ui-bundle/translations/elements+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/elements+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/ems-adminui-twigs.en.yml
  EMS/admin-ui-bundle/translations/emsco-channel+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/emsco-channel+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/emsco-channel.en.yml
  EMS/admin-ui-bundle/translations/emsco-environment+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/emsco-environment+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/emsco-environment.en.yml
  EMS/admin-ui-bundle/translations/emsco-form+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/emsco-form+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/emsco-form.en.yml
  EMS/admin-ui-bundle/translations/form+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/form+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/form.en.yml
  EMS/admin-ui-bundle/translations/notification+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/notification+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/revision+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/user+intl-icu.en.xlf
  EMS/admin-ui-bundle/translations/user+intl-icu.en.yml
  EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
  Makefile
  build/translations
Labels: core-bundle, admin-ui-bundle

#1217 refactor: crud add template
  EMS/admin-ui-bundle/templates/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/crud/overview.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1220 feat(mono-repo): add make 'check' target
  Makefile
  composer.json
Labels: development

#1222 refactor(helper/date): convert java/js format to php
  EMS/core-bundle/src/Form/DataField/DateFieldType.php
  EMS/core-bundle/src/Form/DataField/TimeFieldType.php
  EMS/core-bundle/src/Twig/AppExtension.php
  EMS/helpers/src/Date/DateFormatHelper.php
  EMS/helpers/src/Standard/DateTime.php
  EMS/helpers/tests/Unit/Date/DateFormatHelperTest.php
  EMS/helpers/tests/Unit/Standard/DateTimeTest.php
Labels: core-bundle, helpers

#1223 fix(admin/revision): unlock after discard draft
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#1225 refactor(admin/ui): job templates
  EMS/admin-ui-bundle/_to_be_ref/css/_ems.scss
  EMS/admin-ui-bundle/assets/css/admin-lte/_bootstrap-variables.scss
  EMS/admin-ui-bundle/assets/css/core/plugins/codeEditor.scss
  EMS/admin-ui-bundle/assets/src/core/plugins/select.js
  EMS/admin-ui-bundle/templates/bootstrap5/base/admin.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/components/bootstrap/list-group.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/crud/overview.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/status.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/emsco-form+intl-icu.en.yml
  EMS/core-bundle/config/routing/admin/job.xml
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/templates/crud/overview.html.twig
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1224 feat(admin/contentType): optional tags and date support
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/data/revisions-data.html.twig
  EMS/core-bundle/src/Controller/Revision/DetailController.php
  EMS/core-bundle/src/Core/ContentType/Version/VersionFields.php
  EMS/core-bundle/src/Core/ContentType/Version/VersionOptions.php
  EMS/core-bundle/src/Core/ContentType/Version/Versioning.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionTasksDataTableType.php
  EMS/core-bundle/src/Entity/ContentType.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Form/DataField/VersionTagFieldType.php
  EMS/core-bundle/src/Form/Form/ContentTypeType.php
  EMS/core-bundle/src/Form/Form/ContentTypeVersioningType.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Repository/TaskRepository.php
  EMS/core-bundle/src/Service/ContentTypeService.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/Mapping.php
  EMS/core-bundle/src/Service/ObjectChoiceCacheService.php
  EMS/core-bundle/src/Service/PublishService.php
  EMS/core-bundle/src/Service/SearchService.php
  EMS/core-bundle/src/Validator/Constraints/RevisionRawDataValidator.php
  EMS/core-bundle/templates/contenttype/edit.html.twig
  EMS/core-bundle/templates/data/revisions-data.html.twig
Labels: core-bundle, admin-ui-bundle

#1226 refactor(admin/UI): actions admin and forms admin (bs5 template)
  EMS/admin-ui-bundle/templates/bootstrap5/action/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/action/action.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/action/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/action/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/action/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/admin-form/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/admin-form/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/admin-form/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/admin-form/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/admin-form/reorder.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/form/fields.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/form/forms.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/admin-ui-bundle/translations/form+intl-icu.en.yml
  EMS/core-bundle/src/Controller/ContentManagement/ActionController.php
  EMS/core-bundle/src/Controller/Form/FormController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1228 refactor(admin/ui): admin channels
  EMS/admin-ui-bundle/templates/bootstrap5/channel/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/channel/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/channel/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/channel/form.html.twig
  EMS/core-bundle/src/Controller/ChannelController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1227 refactor(admin/ui): admin analyzer
  EMS/admin-ui-bundle/templates/bootstrap5/analyzer/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/analyzer/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/analyzer/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/status.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/src/Controller/ContentManagement/AnalyzerController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1221 feat(web/form): support constraints and extra elements
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
  EMS/client-helper-bundle/src/Helper/Form/Type/EmschFormDateTimeType.php
  EMS/client-helper-bundle/src/Helper/Form/Type/EmschFormDateType.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: client-helper-bundle, core-bundle

#1230 fix(admin/dashboard): use data-icon for type just like other pickers
  EMS/core-bundle/src/Form/Field/DashboardPickerType.php
  EMS/core-bundle/translations/emsco-forms.en.yml
Labels: core-bundle

#1229 refactor(admin/ui): admin content types
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/field.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/json_update.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/reorder.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/contenttype/structure.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/core/collapsed-card.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/form.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/src/Controller/ContentManagement/ContentTypeController.php
  EMS/core-bundle/src/Form/DataField/Options/DisplayOptionsType.php
  EMS/core-bundle/src/Form/Field/WysiwygStylesSetPickerType.php
  EMS/core-bundle/src/Form/Form/WysiwygStylesSetType.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1232 feat(web/form): add dynamic choice element for emsch forms
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
  EMS/client-helper-bundle/src/Helper/Form/Type/EmschChoiceDynamicType.php
  EMS/client-helper-bundle/src/Helper/Form/Type/EmschDateTimeType.php
  EMS/client-helper-bundle/src/Helper/Form/Type/EmschDateType.php
Labels: client-helper-bundle

#1233 feat(emsch/form): add emsch_form_view view variable
  EMS/client-helper-bundle/config/services.xml
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
  EMS/client-helper-bundle/src/Helper/Form/Extension/EmschFormViewExtension.php
Labels: client-helper-bundle

#1231 refactor(admin/ui): admin dashboard
  EMS/admin-ui-bundle/assets/src/core/helpers/choicePicker.js
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/index.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/services/error.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/services/template.html.twig
  EMS/core-bundle/src/Controller/Dashboard/DashboardController.php
  EMS/core-bundle/src/Core/Dashboard/Services/Template.php
  EMS/core-bundle/src/Core/UI/Page/Navigation.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/translations/emsco-twigs.en.yml
Labels: core-bundle, admin-ui-bundle

#1234 feat(cli/user): collect users info from multiple admins
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/User/ProfileInterface.php
  elasticms-cli/src/Command/User/CollectUsersCommand.php
  elasticms-cli/src/Commands.php
Labels: common-bundle, elasticms-cli
