Repository ems-project/elasticms, pull requests merged in 2025-05, with the labels that each got.

#1306 refactor(admin/doctrine): add EnvironmentRevision associative entity
  EMS/core-bundle/config/doctrine/Environment.orm.xml
  EMS/core-bundle/config/doctrine/EnvironmentRevision.orm.xml
  EMS/core-bundle/config/doctrine/Revision.orm.xml
  EMS/core-bundle/migrations/pdo_mysql/Version20250430054415.php
  EMS/core-bundle/migrations/pdo_pgsql/Version20250426083639.php
  EMS/core-bundle/src/Command/ContentType/RecomputeCommand.php
  EMS/core-bundle/src/Command/JobCommand.php
  EMS/core-bundle/src/Command/Revision/TimeMachineCommand.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Entity/EnvironmentRevision.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/DocumentService.php
  EMS/core-bundle/src/Service/PublishService.php
  EMS/core-bundle/src/Service/ReleaseService.php
  EMS/core-bundle/src/Service/Revision/RevisionService.php
Labels: core-bundle

#1310 feat(admin/symfony): implement mercure bundle (real-time push)
  EMS/core-bundle/composer.json
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/routing/all.xml
  EMS/core-bundle/config/routing/mercure.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/src/Controller/MercureController.php
  EMS/core-bundle/src/Core/Mercure/MercureService.php
  EMS/core-bundle/tests/Integration/App/Kernel.php
  EMS/core-bundle/tests/Integration/App/config/config.yaml
  composer.json
  composer.lock
  demo/docker-compose.yml
  docker/.env.dist
  docker/docker-compose.yml
  docs/_sidebar.md
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-admin/mercure.md
  docs/getting-started/dev-env.md
  docs/upgrade.md
  elasticms-admin/.env.dist
  elasticms-admin/composer.json
  elasticms-admin/config/bundles.php
  elasticms-admin/config/packages/mercure.yaml
  elasticms-admin/config/packages/messenger.yaml
  elasticms-admin/config/packages/security.yaml
  elasticms-admin/symfony.lock
  elasticms-cli/config/bundles.php
  elasticms-web/config/bundles.php
  symfony.lock
Labels: documentation, elasticms-admin, elasticms-web, elasticms-cli, core-bundle, demo

#1311 fix(admin/mercure): one JWT_TOKEN and better token generation
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/src/Controller/MercureController.php
  EMS/core-bundle/src/Core/Mercure/MercureService.php
  demo/.env
  demo/docker-compose.yml
  docker/.env.dist
  docker/docker-compose.yml
  docs/elasticms-admin/environment-variables.md
  docs/elasticms-admin/mercure.md
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/mercure.yaml
Labels: documentation, elasticms-admin, core-bundle, demo

#1312 fix(admin/doctrine): invalid entity mapping for new EnvironmentRevision
  EMS/core-bundle/config/doctrine/EnvironmentRevision.orm.xml
Labels: core-bundle

#1313 fix(admin/environment): restore revision from trash (EnvironmentRevision)
  EMS/common-bundle/src/Command/Admin/RestoreCommand.php
  EMS/common-bundle/src/Entity/EntityInterface.php
  EMS/core-bundle/src/Core/Action/ActionRevisionConfig.php
  EMS/core-bundle/src/Entity/EnvironmentRevision.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Form/DataField/ActionFieldType.php
  config/rector.php
Labels: common-bundle, core-bundle

#1315 fix(admin/user): create groups from json
  EMS/core-bundle/src/Core/User/GroupManager.php
  EMS/core-bundle/src/Entity/Group.php
  Makefile
  demo/configs/admin/group/admins.json
  demo/configs/admin/group/authors.json
  demo/configs/admin/group/webmasters.json
Labels: core-bundle, demo

#1316 fix(common/admin): already connected supres error on existing valid authkey
  EMS/common-bundle/src/Common/Admin/AdminHelper.php
Labels: common-bundle

#1318 docs(upgrade/6.0.0): emsco_get.source for accessing data
  docs/upgrade.md
Labels: documentation

#1317 feat(admin/revision): set published meta fields in raw
  EMS/core-bundle/src/Command/ReindexCommand.php
  EMS/core-bundle/src/Entity/Environment.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/IndexService.php
  EMS/core-bundle/src/Service/Mapping.php
  EMS/core-bundle/src/Service/PublishService.php
Labels: core-bundle

#1319 fix(admin/revision): new document without ouuid
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#1320 feat(admin/revision): implement publish event action
  EMS/admin-ui-bundle/templates/bootstrap5/elements/object-views-button.html.twig
  EMS/core-bundle/src/Core/ContentType/Action/EventType.php
  EMS/core-bundle/src/Event/RevisionEvent.php
  EMS/core-bundle/src/Form/Field/RenderOptionType.php
  EMS/core-bundle/src/Service/NotificationService.php
  EMS/core-bundle/templates/elements/object-views-button.html.twig
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1321 fix(admin/contentType): invalid mapping for multiplex with locales variable
  EMS/core-bundle/src/Entity/Group.php
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
Labels: core-bundle

#1322 feat(common/pdf): printer support remote hosts option
  EMS/admin-ui-bundle/templates/bootstrap5/action/abstract.html.twig
  EMS/common-bundle/src/Service/Pdf/DomPdfPrinter.php
  EMS/common-bundle/src/Service/Pdf/PdfPrintOptions.php
  EMS/core-bundle/config/doctrine/Template.orm.xml
  EMS/core-bundle/migrations/pdo_mysql/Version20250517093955.php
  EMS/core-bundle/migrations/pdo_pgsql/Version20250517093114.php
  EMS/core-bundle/src/Controller/Revision/Action/ActionController.php
  EMS/core-bundle/src/Entity/Template.php
  EMS/core-bundle/src/Form/Form/ActionType.php
  EMS/core-bundle/templates/action/form.html.twig
Labels: common-bundle, core-bundle, admin-ui-bundle

#1323 feat(cli/import): support exclude expression
  EMS/common-bundle/src/Service/ExpressionService.php
  docs/elasticms-cli/commands.md
  elasticms-cli/src/Client/File/ImportConfig.php
  elasticms-cli/src/Command/Import/AbstractImportCommand.php
  elasticms-cli/src/Command/Import/DatabaseImportCommand.php
  elasticms-cli/src/Command/Import/FileImportCommand.php
Labels: documentation, common-bundle, elasticms-cli

#1324 feat(admin/jobs): add metrics job collector
  EMS/common-bundle/src/Common/Metric/MetricCollector.php
  EMS/core-bundle/config/core.xml
  EMS/core-bundle/config/doctrine/Job.orm.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/migrations/pdo_mysql/Version20250521100805.php
  EMS/core-bundle/migrations/pdo_pgsql/Version20250521100623.php
  EMS/core-bundle/src/Controller/ContentManagement/JobController.php
  EMS/core-bundle/src/Core/Metric/JobMetricCollector.php
  EMS/core-bundle/src/Repository/JobRepository.php
  EMS/core-bundle/src/Service/JobService.php
  EMS/core-bundle/tests/Integration/App/config/config.yaml
  demo/configs/admin/schedule/publish_releases.json
  docs/_sidebar.md
  docs/dev/common-bundle/metrics.md
Labels: documentation, common-bundle, core-bundle, demo

#1325 fix(common/core-api): json decode on forward stream for form file
  EMS/common-bundle/src/Common/CoreApi/Client.php
Labels: common-bundle
