Repository ems-project/elasticms, pull requests merged in 2025-09, with the labels that each got.

#1400 fix(demo): invalid replacing placeholder ~view.id~
  demo/skeleton/template_ems/view/overview.twig
  demo/skeleton/template_ems/view/slideshow_overview.twig
Labels: demo

#1402 fix(admin/session): cookie_samesite lax
  elasticms-admin/config/packages/framework.yaml
Labels: elasticms-admin

#1401 fix(admin/twig): json menu query default check
  EMS/admin-ui-bundle/templates/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/templates/macros/data-field-type.html.twig
Labels: core-bundle, admin-ui-bundle

#1395 feat(common/command): ems:indexes:synchronize, sync 2 indexes
  EMS/common-bundle/config/commands.xml
  EMS/common-bundle/src/Command/ClearLogsCommand.php
  EMS/common-bundle/src/Command/SynchronizeCommand.php
  EMS/common-bundle/src/Commands.php
  EMS/common-bundle/src/Elasticsearch/Sync/Aggregation.php
  EMS/common-bundle/src/Elasticsearch/Sync/Bucket.php
  EMS/common-bundle/src/Elasticsearch/Sync/BulkRequest.php
  EMS/common-bundle/src/Elasticsearch/Sync/Hit.php
  EMS/common-bundle/src/Elasticsearch/Sync/SearchResponse.php
  EMS/common-bundle/src/Elasticsearch/Sync/Synchronizer.php
  EMS/helpers/src/ArrayHelper/ArrayHelper.php
Labels: common-bundle, helpers

#1411 fix(web/api): treatFiles improve error message
  EMS/client-helper-bundle/src/Helper/Api/ApiService.php
Labels: client-helper-bundle

#1414 feat(web): core authentication with sso
  EMS/client-helper-bundle/config/security.xml
  EMS/client-helper-bundle/config/services.xml
  EMS/client-helper-bundle/src/DependencyInjection/Configuration.php
  EMS/client-helper-bundle/src/DependencyInjection/EMSClientHelperExtension.php
  EMS/client-helper-bundle/src/EventListener/SecurityListener.php
  EMS/client-helper-bundle/src/Security/CoreApi/User/CoreApiUserProvider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Authenticator.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AbstractOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AzureOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/KeycloakOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/ProviderInterface.php
  EMS/client-helper-bundle/src/Security/Sso/Saml/SamlAuthenticator.php
  EMS/client-helper-bundle/src/Security/Sso/SsoService.php
  EMS/client-helper-bundle/src/Security/Sso/User/SsoUser.php
  EMS/client-helper-bundle/src/Security/Sso/User/SsoUserProvider.php
  EMS/common-bundle/src/Common/CoreApi/Endpoint/User/User.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/User/UserInterface.php
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/routing/api.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/src/Controller/Api/UserController.php
  EMS/core-bundle/src/Core/User/UserManager.php
  EMS/core-bundle/src/EventListener/LoginListener.php
  EMS/core-bundle/src/Security/Provider/UserApiProvider.php
  EMS/core-bundle/src/Security/Provider/UserProvider.php
  docker/idp/data/elasticms-realm.json
  docker/idp/data/elasticms-users-0.json
  docs/dev/common-bundle/core-api.md
  docs/elasticms-web/parameters.md
  docs/elasticms-web/security.md
  elasticms-web/config/packages/ems_client_helper.yaml
  elasticms-web/config/packages/security.yaml
Labels: documentation, common-bundle, client-helper-bundle, elasticms-web, core-bundle

#1412 chore(docker): add prometheus & grafana
  Makefile
  docker/monitoring/docker-compose.yml
  docker/monitoring/grafana/dashboards/dashboard_ems.json
  docker/monitoring/grafana/provisioning/dashboards/dashboards.yml
  docker/monitoring/grafana/provisioning/datasources/prometheus.yml
  docker/monitoring/prometheus/prometheus.yml
  docs/getting-started/dev-env.md
Labels: documentation

#1419 fix(web): support EMSCH_OAUTH2_REDIRECT_URI as path
  EMS/client-helper-bundle/src/EventListener/SecurityListener.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/OAuth2Service.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AbstractOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/AzureOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/KeycloakOAuth2Provider.php
  EMS/client-helper-bundle/src/Security/Sso/OAuth2/Provider/ProviderInterface.php
Labels: client-helper-bundle
