Repository ems-project/elasticms, pull requests merged in 2025-06, with the labels that each got.

#1329 fix(admin/field): multiplex correct use form locale
  EMS/core-bundle/src/Form/DataField/MultiplexedTabContainerFieldType.php
Labels: core-bundle

#1331 fix(admin/trash): role Edit can "Put back"
  EMS/core-bundle/src/Controller/Revision/TrashController.php
  EMS/core-bundle/src/DataTable/Type/Revision/RevisionTrashDataTableType.php
Labels: core-bundle

#1332 fix(common/runner): allow to use a self-signed ca for openshift
  EMS/common-bundle/src/Common/HttpClientFactory.php
  EMS/common-bundle/src/Runner/Factory/OpenShiftFactory.php
  EMS/common-bundle/src/Runner/Service/OpenShift.php
  docs/dev/common-bundle/runners.md
Labels: documentation, common-bundle

#1333 fix(admin/group): remove not working + improve
  EMS/core-bundle/src/Controller/UserController.php
  EMS/core-bundle/src/DataTable/Type/UserDataTableType.php
  EMS/core-bundle/templates/group/create.html.twig
  EMS/core-bundle/templates/group/edit.html.twig
  EMS/core-bundle/templates/user/add.html.twig
  EMS/core-bundle/templates/user/edit.html.twig
  EMS/core-bundle/translations/EMSCoreBundle.en.yml
Labels: core-bundle

#1335 fix(admin/environment): rebuild correct compare current env
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
Labels: core-bundle

#1338 fix(admin/environment): correct counter on overview
  EMS/core-bundle/config/repositories.xml
  EMS/core-bundle/config/services.xml
  EMS/core-bundle/src/Repository/EnvironmentRepository.php
  EMS/core-bundle/src/Repository/EnvironmentRevisionRepository.php
  EMS/core-bundle/src/Service/EnvironmentService.php
Labels: core-bundle

#1340 feat(admin/media-lib): add searchType option
  EMS/admin-ui-bundle/assets/src/core/components/mediaLibrary.js
  EMS/admin-ui-bundle/templates/bootstrap5/components/media_library/component.html.twig
  EMS/core-bundle/assets/js/component/mediaLibrary.js
  EMS/core-bundle/src/Controller/Component/MediaLibraryController.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Config/MediaLibraryConfig.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/Config/MediaLibraryConfigFactory.php
  EMS/core-bundle/src/Core/Component/MediaLibrary/MediaLibraryService.php
  EMS/core-bundle/templates/components/media_library/component.html.twig
  demo/skeleton/template_ems/dashboard/media_library.twig
  docs/dev/core-bundle/twig/component.md
Labels: documentation, core-bundle, demo, admin-ui-bundle

#1343 fix(admin/user): enable groups with EMSCO_GROUP_FEATURE (default false)
  EMS/admin-ui-bundle/templates/bootstrap5/user/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/user/edit.html.twig
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/datatable.xml
  EMS/core-bundle/config/form.xml
  EMS/core-bundle/src/Controller/TwigElementsController.php
  EMS/core-bundle/src/DataTable/Type/UserDataTableType.php
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/src/Form/Form/UserType.php
  EMS/core-bundle/templates/user/add.html.twig
  EMS/core-bundle/templates/user/edit.html.twig
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
  elasticms-admin/.env.dist
  elasticms-admin/config/packages/ems_core.yaml
Labels: elasticms-admin, core-bundle, admin-ui-bundle

#1344 fix(admin/content-type): mandatory if, not working as expected
  EMS/core-bundle/src/Form/DataField/DataFieldType.php
Labels: core-bundle

#1345 fix(admin/revision): bulk unpublish flag environment revision as deleted
  EMS/core-bundle/src/Command/Environment/AlignCommand.php
  EMS/core-bundle/src/Command/Environment/UnpublishCommand.php
  EMS/core-bundle/src/Repository/RevisionRepository.php
  EMS/core-bundle/src/Service/PublishService.php
Labels: core-bundle

#1346 fix(admin/security): on all logins set last login (api,bridge)
  EMS/core-bundle/src/EventListener/LoginListener.php
Labels: core-bundle

#1353 fix(admin/media-lib): delete folder not granted
  EMS/core-bundle/src/Service/DataService.php
Labels: core-bundle

#1356 feat(cli/import): support query for search documents
  docs/elasticms-cli/commands.md
  elasticms-cli/src/Client/File/ImportConfig.php
  elasticms-cli/src/Command/Import/AbstractImportCommand.php
Labels: documentation, elasticms-cli

#1360 fix(common/backup): exclude _published by from export
  EMS/common-bundle/src/Elasticsearch/Document/Document.php
  EMS/common-bundle/src/Elasticsearch/Document/EMSSource.php
Labels: common-bundle

#1358 feat(cli/import): support align environments
  docs/elasticms-cli/commands.md
  docs/upgrade.md
  elasticms-cli/src/Client/File/ImportConfig.php
  elasticms-cli/src/Command/Import/AbstractImportCommand.php
Labels: documentation, elasticms-cli

#1359 fix(admin/user): profile group only print if defined
  EMS/core-bundle/templates/user/profile/show.html.twig
Labels: core-bundle

#1357 fix(admin/json-menu-nested): display template not rendering choices
  EMS/admin-ui-bundle/templates/bootstrap5/macros/data-field-type.html.twig
  EMS/core-bundle/src/Form/DataField/JsonMenuNestedLinkFieldType.php
  EMS/core-bundle/templates/macros/data-field-type.html.twig
Labels: core-bundle, admin-ui-bundle
