Repository ems-project/elasticms, pull requests merged in 2025-03, with the labels that each got.

#1237 refactor(admin/ui): elasticsearch and avoid json.twig templates
  EMS/admin-ui-bundle/templates/bootstrap5/core/list-group.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/no-nodes-available.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/no-nodes-available.json.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/status.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/status.json.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elements/side-menu.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/job/status.html.twig
  EMS/admin-ui-bundle/translations/elements+intl-icu.en.yml
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/config/controllers.xml
  EMS/core-bundle/config/routing/default.xml
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Service/AssetExtractorService.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/templates/elasticsearch/no-nodes-available.html.twig
  EMS/core-bundle/templates/elasticsearch/no-nodes-available.json.twig
  EMS/core-bundle/templates/elasticsearch/status.html.twig
  EMS/core-bundle/templates/elasticsearch/status.json.twig
  EMS/core-bundle/templates/elements/side-menu.html.twig
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
  EMS/core-bundle/translations/emsco-twigs.en.yml
Labels: core-bundle, admin-ui-bundle

#1238 refactor(admin/ui): pagination.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elements/pagination.html.twig
Labels: admin-ui-bundle

#1236 refactor(admin/ui): documentaiton page and add alias
  EMS/admin-ui-bundle/templates/bootstrap5/default/documentation.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/default/index.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/add-alias.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/export-search.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/multi-forms.html.twig
  EMS/core-bundle/src/Controller/DefaultController.php
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/templates/elasticsearch/export-search.html.twig
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1239 refactor(admin/ui): search templates
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/save-search.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/search.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elasticsearch/status.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/elements/pagination.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/src/Controller/ElasticsearchController.php
  EMS/core-bundle/src/Core/UI/Page/Navigation.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1241 refactor(admin/ui): query_search
  EMS/admin-ui-bundle/templates/bootstrap5/query-search/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/query-search/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/query-search/form.html.twig
  EMS/core-bundle/src/Controller/QuerySearchController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1240 refactor(admin/ui): schedule
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/dashboard/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/schedule/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/schedule/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/schedule/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/schedule/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/template/card.html.twig
  EMS/core-bundle/src/Controller/Job/ScheduleController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1242 refactor(admin/ui): filter
  EMS/admin-ui-bundle/templates/bootstrap5/filter/add.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/filter/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/filter/form.html.twig
  EMS/core-bundle/src/Controller/ContentManagement/FilterController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1243 refactor(admin/ui): trash and logs
  EMS/admin-ui-bundle/templates/bootstrap5/log/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/log/view.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/src/Controller/Log/LogController.php
  EMS/core-bundle/src/Controller/Revision/TrashController.php
  EMS/core-bundle/src/Core/UI/Page/Navigation.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1244 refactor(admin/ui): navigation breadcrumbs in uploaded files
  EMS/core-bundle/src/Controller/UploadedFileController.php
  EMS/core-bundle/src/Core/UI/Page/Navigation.php
Labels: core-bundle

#1245 refactor(admin/ui): i18n
  EMS/admin-ui-bundle/templates/bootstrap5/i18n/abstract.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/i18n/edit.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/i18n/form.html.twig
  EMS/admin-ui-bundle/templates/bootstrap5/i18n/new.html.twig
  EMS/admin-ui-bundle/translations/ems-adminui-twigs+intl-icu.en.yml
  EMS/core-bundle/src/Controller/I18nController.php
  EMS/core-bundle/translations/emsco-core+intl-icu.en.yml
Labels: core-bundle, admin-ui-bundle

#1246 refactor(admin/ui): draft in progress
  EMS/admin-ui-bundle/templates/bootstrap5/base/admin.html.twig
  EMS/core-bundle/src/Controller/Revision/EditController.php
Labels: core-bundle, admin-ui-bundle

#1247 fix(admin/publish): only create new version if tags are defined
  EMS/core-bundle/src/Service/PublishService.php
Labels: core-bundle

#1248 fix(web/form): add range and regex assert
  EMS/client-helper-bundle/src/Helper/Form/EmschFormType.php
Labels: client-helper-bundle

#1250 feat(admin): allow change link forgot password
  EMS/admin-ui-bundle/src/Resources/views/bootstrap5/user/login.html.twig
  EMS/core-bundle/src/Resources/views/user/login.html.twig
Labels: core-bundle, admin-ui-bundle

#1251 feat(admin): add `forgot_password_url` configuration
  EMS/admin-ui-bundle/templates/bootstrap5/user/login.html.twig
  EMS/core-bundle/src/DependencyInjection/Configuration.php
  EMS/core-bundle/src/DependencyInjection/EMSCoreExtension.php
  EMS/core-bundle/templates/user/login.html.twig
  docs/elasticms-admin/environment-variables.md
  elasticms-admin/config/packages/ems_core.yaml
Labels: documentation, elasticms-admin, core-bundle, admin-ui-bundle

#1256 feat(demo): allow access to file if in indexes
  EMS/client-helper-bundle/src/Helper/Elasticsearch/ClientRequestRuntime.php
  demo/skeleton/routes.yaml
  demo/skeleton/template/redirects/asset.json.twig
Labels: client-helper-bundle, demo

#1257 chore: add dev scripts for AdminUIBundle in makeFile
  EMS/admin-ui-bundle/assets/package.json
  Makefile
Labels: admin-ui-bundle

#1258 fix(admin/contentType): add suport helptext for choiceFieldType
  EMS/admin-ui-bundle/templates/bootstrap5/form/fields.html.twig
  EMS/core-bundle/templates/form/fields.html.twig
  demo/configs/admin/content-type/media_file.json
Labels: core-bundle, demo, admin-ui-bundle

#1259 fix(admin/contentType): support helptext for choiceFieldType
  EMS/core-bundle/src/Resources/views/form/fields.html.twig
Labels: core-bundle

#1261 chore(dev): switch default EMS_CACHE redis to file_system
  elasticms-admin/.env.dist
  elasticms-web/.env.dist
Labels: elasticms-admin, elasticms-web

#1260 fix(admin/contentType): wrong default display date format for DataTimeFieldType
  EMS/core-bundle/src/Form/DataField/DateTimeFieldType.php
Labels: core-bundle

#1254 chore(docker): update deprecated minio env variables
  demo/docker-compose.yml
Labels: demo, docker

#1255 feat(demo): demo-FilesUpload + fix(submission)
  EMS/submission-bundle/src/Entity/FormSubmissionFile.php
  demo/skeleton/template/form/theme/bootstrap_4_with_visibility.html.twig
  demo/skeleton/template_ems/submission/form_example_files.twig
  demo/src/js/files-upload.js
  demo/src/js/form.js
Labels: submission-bundle, demo

#1264 feat(common/twig): add file reader functions (csv & excel)
  EMS/common-bundle/config/twig.xml
  EMS/common-bundle/src/Common/File/FileReader.php
  EMS/common-bundle/src/Contracts/File/FileReaderInterface.php
  EMS/common-bundle/src/Twig/AssetRuntime.php
  EMS/common-bundle/src/Twig/CommonExtension.php
  EMS/common-bundle/tests/Unit/Twig/AssetRuntimeTest.php
  docs/dev/common-bundle/twig.md
Labels: documentation, common-bundle

#1263 fix(admin/extract): avoid creating ghost documents
  EMS/core-bundle/src/Resources/translations/EMSCoreBundle.en.yml
  EMS/core-bundle/src/Service/AssetExtractorService.php
  EMS/core-bundle/src/Service/Revision/PostProcessingService.php
Labels: core-bundle

#1267 feat(demo): js translations from twig/skeleton
  demo/skeleton/routes.yaml
  demo/skeleton/template/base/base.html.twig
  demo/skeleton/template/js/translations.js.twig
  demo/skeleton/translations/messages.de.yaml
  demo/skeleton/translations/messages.en.yaml
  demo/skeleton/translations/messages.fr.yaml
  demo/skeleton/translations/messages.nl.yaml
  demo/src/js/dyn-forms.js
  demo/src/js/files-upload.js
  demo/src/js/translations.js
Labels: client-helper-bundle, demo

#1268 feat(admin/api): add support for lazy indexing
  EMS/common-bundle/src/Common/CoreApi/Endpoint/Data/Data.php
  EMS/common-bundle/src/Contracts/CoreApi/Endpoint/Data/DataInterface.php
  EMS/core-bundle/src/Controller/ContentManagement/CrudController.php
  EMS/core-bundle/src/Entity/Revision.php
  EMS/core-bundle/src/Form/DataField/ContainerFieldType.php
  EMS/core-bundle/src/Form/DataField/HolderFieldType.php
  EMS/core-bundle/src/Form/Form/RevisionType.php
  EMS/core-bundle/src/Service/DataService.php
  EMS/core-bundle/src/Service/ReleaseRevisionService.php
  elasticms-cli/src/Command/Import/AbstractImportCommand.php
Labels: common-bundle, elasticms-cli, core-bundle

#1269 fix(admin/mapping): not analyzed index
  EMS/core-bundle/src/Service/ElasticsearchService.php
Labels: core-bundle

#1270 fix(admin/contentType): datetime field type correct default display format
  EMS/admin-ui-bundle/assets/src/core/plugins/datetime.js
  EMS/core-bundle/src/Form/DataField/DateTimeFieldType.php
Labels: core-bundle, admin-ui-bundle

#1271 feat(cli/import): add digest feature
  EMS/common-bundle/src/Common/CoreApi/ResponseQueue.php
  EMS/common-bundle/src/Storage/StorageManager.php
  docs/elasticms-cli/commands.md
  elasticms-cli/src/Command/Import/AbstractImportCommand.php
  elasticms-cli/src/Command/Import/FileImportCommand.php
Labels: documentation, common-bundle, elasticms-cli

#1272 fix(admin/js): disable button on file upload
  EMS/core-bundle/assets/cke-plugins/adv_link/dialogs/link.js
  EMS/core-bundle/src/Resources/public/js/cke-plugins/adv_link/dialogs/link.js
  EMS/core-bundle/src/Resources/public/manifest.json
Labels: core-bundle

#1273 fix(admin/versioning): ref search latest version
  EMS/core-bundle/src/Service/SearchService.php
Labels: core-bundle

#1275 feat(demo/js-translations): add support for pattern replacement
  demo/src/js/translations.js
Labels: demo

#1276 chore(admin-ui/vite): add source map in dev mode for easier debug
  EMS/admin-ui-bundle/assets/vite.config.ts
Labels: admin-ui-bundle

#1274 feat(demo/file-upload): styling & UX
  demo/skeleton/template/form/theme/bootstrap_4_with_visibility.html.twig
  demo/skeleton/translations/messages.fr.yaml
  demo/src/css/components/_form.scss
  demo/src/css/mixins/_faw.scss
  demo/src/css/styles.scss
  demo/src/js/files-upload.js
Labels: demo

#1277 fix(admin-ui): fix ems font import
  EMS/admin-ui-bundle/assets/css/core/fontello/ems-embedded.css
  EMS/admin-ui-bundle/assets/css/core/fontello/ems.css
  EMS/admin-ui-bundle/assets/public/fonts/ems.eot
  EMS/admin-ui-bundle/assets/public/fonts/ems.svg
  EMS/admin-ui-bundle/assets/public/fonts/ems.ttf
  EMS/admin-ui-bundle/assets/public/fonts/ems.woff
  EMS/admin-ui-bundle/assets/public/fonts/ems.woff2
  EMS/admin-ui-bundle/assets/vite.config.ts
Labels: admin-ui-bundle
